@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 548px;
  max-height: 100%;
  outline: 0;
  transform: translate(-50%, -50%);
  z-index: 9;

  @media screen and (min-width: 992px) {
    width: 1000px;
    height: 660px;

    &-sm {
      width: 700px;
      height: 548px;
    }

    &-lg {
      width: 1400px;
      height: 900px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-bottom: 1rem;
    min-height: inherit;
    height: 100%;
    width: 100%;
    max-height: 100%;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 6px 26px rgba($black, 0.2);
    text-align: left;
  }

  &__header {
    position: relative;
    padding: 1.5rem 2rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-bottom: $primaryBorder;

    &-title {
      color: $primary;
      font-size: 2em;
      font-weight: 400;
      text-transform: capitalize;
      margin: 0;
    }
    &-button {
      position: absolute;
      top: 10px;
      right: 5px;
    }
  }

  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0;
    flex-basis: 0;
    padding: 1.5rem 2rem 0;
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0 2rem;
    min-height: 50px;

    &-actions {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;
      align-items: flex-end;

      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &-transition {
    &-enter {
      opacity: 0;
      transform: translate(-50%, calc(100vh));
      transition: all 0.3s ease-in-out;
    }

    &-enter-active,
    &-enter-done {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &-exit {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &-exit-active {
      opacity: 0;
      transform: translate(-50%, -70%);
      transition: all 0.3s ease-in-out;
    }
  }
}
