@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';
@import '../../scss/shadows';

.table {
  &__item {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: calc(100% - 240px);
    height: 100%;
    overflow-y: auto;
    color: $mulledWine;
    background-color: $white;
    border-left: $secondaryBorder;

    &_big {
      width: 100%;
    }

    .item {
      &-header {
        &__title {
          display: flex;
          align-items: center;
          max-width: calc(100% - 370px);
        }

        &__back-btn {
          margin-right: 5px;
          margin-bottom: -5px;
        }

        &__pods {
          &-error {
            color: $spunPearl;
          }
        }

        &__data {
          h3 {
            margin: 27px 24px 10px;
            font-size: 24px;
            line-height: 28px;
          }

          .left-margin {
            display: flex;
            align-items: center;
            margin-left: 24px;
          }

          i {
            margin-left: 10px;
          }
        }

        &__buttons {
          z-index: 7;
          display: flex;
          align-items: center;
          align-self: flex-end;
          margin-top: -70px;

          a {
            display: inline-block;
            margin: 21px 21px 21px 10px;
          }

          .table-actions-container {
            display: block;
          }

          .actions-menu {
            &__container {
              bottom: 2px;
              display: block;

              .btn {
                padding: 0;
                border: none;

                &:hover {
                  background-color: transparent;
                }

                :first-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }

    &_inputs {
      width: 100%;

      @include resetSpaces;

      &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 27px 24px;
        border-bottom: $secondaryBorder;

        div {
          min-width: 237px;
        }
      }
    }

    &_logs {
      position: relative;
      width: 100%;
      min-height: 400px;
      padding: 5px;
      overflow-y: scroll;
      color: $white;
      font-family: 'Source Code Pro', 'Courier New', monospace;
      white-space: pre-wrap;
      background-color: $black;

      .logs_refresh {
        position: absolute;
        top: 32px;
        right: 29px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        color: $cornflowerBlue;
        background-color: $white;
        border: 1px solid $cornflowerBlue;
        border-radius: 16px;
        box-shadow: $previewBoxShadow;
        cursor: pointer;

        svg {
          path {
            fill: $cornflowerBlue;
          }
        }

        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    &_artifacts {
      display: flex;
      flex: 1;
      flex-direction: column;

      &_wrapper {
        width: 100%;
      }
    }

    .preview_container {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 10px 21px;

      .inputs_container {
        width: 100%;
      }

      .preview_popout {
        position: absolute;
        right: 0;
        z-index: 3;
        margin: 16px;
        padding: 0;
        background: $white;
        border: none;
        outline: none;
        cursor: pointer;
      }

      .json {
        padding: 0 15px;
      }

      .preview-table {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: auto;

        .table-header {
          top: 0;
        }
      }
    }

    &_code {
      flex: 1;

      h3 {
        text-align: center;
        vertical-align: middle;
      }

      pre {
        padding: 8px 16px;
      }
    }

    &.pop-up-dialog-opened {
      overflow-y: hidden;
    }

    .chips {
      &-wrapper {
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}
