@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.table {
  &__item {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    height: 100%;
    overflow-y: auto;
    color: $mulledWine;
    background-color: $white;

    .table__content & {
      border: 1px solid #e7ebff;
      border-radius: 0 4px 4px 0;
    }

    &_big {
      width: 100%;
    }

    .item {
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 27px 16px 16px 24px;

        &-wrapper {
          position: sticky;
          top: 0;
          left: 0;
          background-color: inherit;
          z-index: 6;
        }

        &__title {
          display: flex;
          align-items: center;
        }

        &__status {
          display: flex;
          align-items: center;
        }

        &__back-btn {
          margin-right: 5px;
          margin-left: -10px;
          & > * {
            margin: 0;
          }
        }

        &__pods {
          &-error {
            color: $spunPearl;
          }
        }

        &__data {
          flex: 0 1 100%;
          max-width: calc(100% - 330px);

          h3 {
            margin: 0 0 10px 0;
            font-size: 24px;
            line-height: 28px;
          }

          .updated {
            min-width: 140px;
          }

          .state {
            min-width: 18px;

            i {
              margin-left: 10px;
            }
          }

          .error-container {
            margin-left: 20px;
          }
        }

        &__buttons {
          z-index: 7;
          display: flex;
          align-items: center;

          a {
            display: inline-block;
            margin: 21px 21px 21px 10px;

            &.details-close-btn {
              margin: 0;
            }
          }

          .btn {
            margin: 0 0.2rem;
          }

          .table-actions-container {
            display: block;
          }

          .actions-menu {
            &__container {
              display: block;

              .btn {
                padding: 0;
                border: none;

                &:hover {
                  background-color: transparent;
                }

                :first-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }

    &_inputs {
      width: 100%;

      @include resetSpaces;

      &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 27px 24px;
        border-bottom: $secondaryBorder;

        div {
          min-width: 237px;
          padding: 0 5px;
        }
      }
    }

    &_logs {
      position: relative;
      width: 100%;
      min-height: 400px;
      padding: 10px 80px 10px 20px;
      color: $white;
      font-family: 'Source Code Pro', 'Courier New', monospace;
      white-space: pre-wrap;
      background-color: $black;

      &__content {
        height: 100%;
        overflow-y: scroll;
      }

      .logs_refresh {
        position: absolute;
        top: 20px;
        right: 20px;

        .btn {
          min-width: 40px;
          padding: 0;
          border-radius: 50%;
        }
      }
    }

    &_artifacts {
      display: flex;
      flex: 1;
      flex-direction: column;

      &_wrapper {
        width: 100%;
      }
    }

    .details-item {
      &__apply-btn-wrapper {
        width: 30px;
      }

      &__apply-btn {
        display: block;
        min-width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
      }
    }

    .preview_container {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 21px;
      overflow: auto;

      .inputs_container {
        width: 100%;
      }

      .preview_popout {
        position: absolute;
        right: 0;
        z-index: 3;
        margin: 16px;
        padding: 0;
        background: $white;
        border: none;
        outline: none;
        cursor: pointer;
      }

      .json {
        padding: 0 15px;
      }

      .preview-table {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: auto;

        .table-header {
          top: 0;
        }
      }
    }

    &_code {
      overflow: auto;
      flex: 1;

      h3 {
        text-align: center;
        vertical-align: middle;
      }

      pre {
        padding: 8px 16px;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }

    &.pop-up-dialog-opened {
      overflow-y: hidden;
    }

    .chips {
      &-wrapper {
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}
