@import '../../scss/variables';
@import '../../scss/mixins.scss';

.table_container {
  @include tableDisplay(1);
  .table {
    width: 100%;
    border-collapse: collapse;
    .table_header {
      &_type {
        padding: 0 24px;
      }
    }
    .table_header_container {
      @include tableDisplay(1);
      line-height: 44px;
      height: 44px;
      border-top: $tableBorder;
      .table_header {
        &_name {
          @include artifactsTableHeader(1.2, 44px);
          padding-left: $leftRowOffset;
          min-width: 200px;
        }
        &_type {
          @include artifactsTableHeader(0.5, 44px);
          min-width: 100px;
        }
        &_producer {
          @include artifactsTableHeader(1, 44px);
          min-width: 80px;
        }
        &_hash {
          @include artifactsTableHeader(1, 44px);
          min-width: 80px;
        }
        &_started_at {
          @include artifactsTableHeader(1, 44px);
          min-width: 80px;
        }
        &_path {
          @include artifactsTableHeader(2.5, 44px);
          min-width: 200px;
        }

        &_labels {
          @include artifactsTableHeader(2, 44px);
          min-width: 150px;
        }
        &_download {
          @include artifactsTableHeader(0.1, 44px);
          min-width: 40px;
          margin-right: 10px;
        }
      }
      div {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $mainGreyColor;
        text-align: left;
      }
      div {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $mainGreyColor;
        text-align: left;
      }
      div {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $mainGreyColor;
        text-align: left;
      }
    }
  }

  .table_body {
    flex-direction: column;
    @include tableDisplay(1);
    .table_body_item {
      display: flex;
      flex-direction: row;
      border-bottom: $tableBorder;
      color: $tableFontColor;
      &.active {
        flex-direction: column;
      }
      .tree_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .tree_container_wrraper {
          width: 100%;
          display: flex;
        }
      }
      .column_name {
        @include tableDisplay(1.5);
        flex-direction: column;
        justify-content: center;
        height: $heightRowTable;
        min-height: $heightRowTable;
        min-width: 200px;
        &_item {
          display: flex;
          flex: 1;
          align-items: center;
          padding-left: $leftRowOffset;
        }
        &:hover {
          background-color: $selectHover;
        }
      }
      .column_path {
        @include tableDisplay(2.5);
        min-width: 200px;
        overflow-x: hidden;
        .path {
          &_container {
            @include tableDisplay(1);
            height: 100%;
            &_item {
              height: $heightRowTable;
              @include tableDisplay(1);
              align-items: center;
              span {
                max-width: 400px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
              }
            }
            &_value {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow-x: hidden;
              max-width: 200px;
              min-width: 100%;
            }
          }
        }
      }
      .column_type {
        @include tableDisplay(0.5);
        min-width: 100px;
        .type {
          @include tableColumn(0.5);
        }
      }
      .column_labels {
        @include tableDisplay(2);
        min-width: 150px;
        .labels {
          @include tableColumn(1);
        }
      }
      .column_producer {
        @include tableDisplay(1);
        min-width: 80px;
        .producer {
          @include tableColumn(1);
        }
      }
      .column_hash {
        @include tableDisplay(1);
        min-width: 80px;
        .hash {
          @include tableColumn(1);
        }
      }
      .column_started_at {
        min-width: 80px;
        @include tableDisplay(1);
        .started_at {
          @include tableColumn(1);
        }
      }
      .column_download {
        min-width: 40px;
        @include tableDisplay(0.1);
        margin-right: 10px;
        align-items: center;
      }
      &:first-child {
        border-top: $tableBorder;
      }
    }
  }
  .name_container {
    display: flex;
    align-items: center;
    height: $heightRowTable;
    &:hover {
      background-color: $selectHover;
    }
  }
  .tree_container {
    @include tableDisplay(1);
    flex-direction: column;
    width: 100%;
    align-items: center;
    &_item {
      @include tableDisplay(1.2);
      align-items: center;
      height: $heightRowTable;
      padding-left: $leftRowOffset;
      min-width: 200px;
      .tree_container_name {
        display: flex;
        margin-left: 25px;
      }
    }
    .iter_container {
      display: flex;
      width: 100%;
      &_name {
        @include tableDisplay(1.2);
        padding-left: $leftRowOffset;
        min-width: 200px;
        .iter_value {
          display: flex;
          align-items: center;
          margin-left: 60px;
          cursor: pointer;
          a {
            text-decoration: none;
            color: $tableLink;
          }
        }
      }
      &:hover {
        background-color: $selectHover;
      }
    }
  }
  img {
    margin-right: 15px;
    height: 15px;
    cursor: pointer;
    &.close {
      transform: rotate(0deg);
      transition: transform 150ms ease;
    }
    &.open {
      transform: rotate(90deg);
      transition: transform 150ms ease;
    }
  }
  .column {
    &_path {
      color: $tableFontColor;
    }
    &_producer {
      color: $tableLink;
      a {
        text-decoration: none;
        color: $tableLink;
      }
    }
    &_started-at {
      color: $tableFontColor;
    }
    &_type {
      padding: 0 24px;
      color: $tableFontColor;
    }
  }
  .label {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $tableFontColor;
    padding: 8px 9px;
    border: $labelBorder;
    box-sizing: border-box;
    border-radius: 31px;
  }
}

.hover {
  &:hover {
    background-color: $selectHover;
  }
}

.tooltip {
  position: relative;
  width: 100%;
  &_container {
    position: absolute;
    z-index: 1000;
    &_bottom {
      bottom: 25px;
    }
    &_top {
      top: 25px;
    }
  }
  &_body {
    top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px 10px;
    box-shadow: $tooltipShadow;

    &_item {
      color: $artifactsTooltipColor;
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
