@import '../../scss/variables';

.table_container {
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      .table_header {
        &_name {
          padding-left: 56px;
        }
        &_type {
          padding: 0px 24px 0px 24px;
        }
      }
      tr {
        th {
          height: 32px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          color: $mainGreyColor;
          text-align: left;
          border-top: $tableBorder;
        }
      }
    }
    tbody {
      tr {
        height: 55px;
        &:first-child {
          td {
            border-top: $tableBorder;
          }
        }
        td {
          border-bottom: $tableBorder;
        }
      }
      .column_producer {
        color: $tableLink;
      }
      .column {
        &_path {
          max-width: 400px;
          color: $tableFontColor;
          .path_container {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &_producer {
          a {
            text-decoration: none;
            color: $tableLink;
          }
        }
        &_started-at {
          color: $tableFontColor;
        }
        &_type {
          padding: 0px 24px 0px 24px;
          color: $tableFontColor;
        }
      }
      .label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: $tableFontColor;
        padding: 8px 9px 8px 9px;
        border: $labelBorder;
        box-sizing: border-box;
        border-radius: 31px;
      }
    }
  }
}

.tooltip_body {
  top: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 10px;
  box-shadow: $tooltipShadow;
  &_kind {
    color: #7f8d89;
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #7f7989;
    }
  }
  &_owner {
    color: #7f8d89;
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #7f7989;
    }
  }
}
