.wizard-form {
  .form-table__name-cell {
    justify-content: space-between;

    .tooltip-wrapper {
      margin-right: 10px;
    }

    .parameter-icon {
      flex: 0 0 30px;
      margin: 0;
    }
  }
}
