@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$pipelinesRowHeight: variables.$rowHeight;
$pipelinesHeaderRowHeight: variables.$headerRowHeight;
$pipelinesRowHeightExtended: variables.$rowHeight;

:root {
  --pipelinesRowHeight: #{$pipelinesRowHeight};
  --pipelinesHeaderRowHeight: #{$pipelinesHeaderRowHeight};
  --pipelinesRowHeightExtended: #{$pipelinesRowHeightExtended};
}

.pipelines-table {
  @include mixins.rowsHeight(
    $pipelinesHeaderRowHeight,
    $pipelinesRowHeight,
    $pipelinesRowHeightExtended
  );
}
