@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$pipelinesRowHeight: $rowHeight;
$pipelinesHeaderRowHeight: $headerRowHeight;
$pipelinesRowHeightExtended: $rowHeight;

.pipelines-table {
  @include rowsHeight($pipelinesHeaderRowHeight, $pipelinesRowHeight, $pipelinesRowHeightExtended);
}

:export {
  pipelinesRowHeight: $pipelinesRowHeight;
  pipelinesHeaderRowHeight: $pipelinesHeaderRowHeight;
  pipelinesRowHeightExtended: $pipelinesRowHeightExtended;
}
