@use 'igz-controls/scss/colors';

.models {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .filters {
    justify-content: flex-end;
  }

  .metrics-cell {
    font-weight: bold;

    &_with-border {
      border-left: 1px solid colors.$titanWhite;
    }
  }
}

.deploy-model-failure-popup {
  .pop-up-dialog {
    width: 900px;

    pre {
      width: 800px;
      margin: 0;
      padding: 20px 0;
      overflow-x: scroll;
    }
  }
}
