@import '../../../scss/colors';

.feature-row {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 15px;

  &.selected-feature {
    .set-as-label {
      visibility: visible;
    }

    .with-hover {
      &:hover {
        .set-as-label {
          display: none;
        }

        .unset-as-label {
          display: block;
        }
      }
    }
  }

  &:hover {
    .action:not(.readonly) {
      &.remove {
        visibility: visible;
      }
    }
  }

  &:not(.selected-feature-exists):hover {
    .action:not(.readonly) {
      &.set-as-label {
        visibility: visible;
      }
    }
  }

  .feature-row__feature-template {
    display: flex;
    align-items: center;
    max-width: 280px;
  }

  .feature-row__feature-set-tag {
    color: $mineshaft;
  }

  .feature-row__feature-alias-preposition {
    color: $spunPearl;
  }

  .feature-row__actions {
    display: flex;
    justify-content: flex-end;

    .label-actions {
      margin: 0 10px;
    }

    .action {
      cursor: pointer;

      path,
      rect {
        fill: $malibu;
      }

      &:hover {
        path,
        rect {
          fill: $cornflowerBlue;
        }
      }
    }
  }

  .unset-as-label {
    display: none;
  }

  .set-as-label,
  .remove {
    visibility: hidden;
  }
}

