@import '~igz-controls/scss/colors';

.artifacts-filters {
  &__wrapper {
    .pop-up-dialog {
      padding: 16px;
      overflow-y: visible;
    }
  }

  &__iter {
    margin-top: 5px;

    input[type='checkbox'] ~ label {
      text-transform: unset;
    }
  }
}
