@import '../../scss/colors';
@import '../../scss/borders';

.item-requested-features {
  &__table {
    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 18px;
      color: $topaz;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      border-bottom: $secondaryBorder;
    }

    &-cell {
      display: flex;
      flex: 1 1;
      align-items: center;
      min-width: 70px;
      padding: 0 5px;
    }

    .cell {
      &_alias {
        &__input-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
        }

        &__input-btn {
          height: 30px;
          margin-left: 10px;
          padding: 0;
          cursor: pointer;
        }

        .input {
          width: 90%;
          padding: 8px 17px;
        }
      }

      &_project-name {
        max-width: 180px;
      }

      &_feature-set {
        margin-right: 5px;
        color: $primary;
      }

      &_tag {
        color: $topaz;
      }

      &_delete {
        position: absolute;
        right: 10px;
        cursor: pointer;
        opacity: 0;
      }
    }

    .header {
      &_project-name {
        max-width: 180px;
      }
    }

    &-row {
      display: flex;
      padding: 18px;
      border-bottom: $secondaryBorder;

      &:hover {
        .cell_delete {
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
  }
}
