@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.item-requested-features {
  overflow: auto;

  &__table {
    padding: 0 20px 0 0;

    &-header {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 18px;
      color: $topaz;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      background-color: $white;
      border-bottom: $secondaryBorder;
      z-index: 3;
    }

    &-cell {
      display: flex;
      flex: 1 1;
      align-items: center;
      min-width: 70px;
      padding: 0 5px;
    }

    .cell {
      &_alias {
        &__input-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
        }

        .input {
          padding: 8px 17px;

          &-wrapper {
            width: 100%;
            margin-right: 5px;
          }
        }
      }

      &_project-name {
        max-width: 180px;
      }

      &_icon {
        min-width: 33px;

        .icon-wrapper {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }

      &_feature-set {
        margin-right: 5px;
        color: $primary;
      }

      &_tag {
        min-width: 45px;
        color: $topaz;
      }

      &_actions {
        display: flex;
        flex: 0 1;
        flex-direction: row;
        justify-content: flex-end;
        min-width: 80px;
        opacity: 0;

        &-visible {
          opacity: 1;
        }
      }
    }

    .header {
      &_project-name {
        max-width: 180px;
      }

      &_actions {
        flex: 0 1 auto;
        min-width: 80px;
      }

      &_label-icon {
        min-width: auto;
        max-width: 33px;
      }
    }

    &-row {
      display: flex;
      padding: 18px;
      border-bottom: $secondaryBorder;

      &:hover {
        .cell_actions {
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
  }
}
