@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.settings {
  &__artifact-path,
  &__goals,
  &__description,
  &__labels,
  &__owner,
  &__source,
  &__default-image {
    margin-bottom: 15px;
  }

  &__artifact-path {
    &-link {
      display: block;
      margin-top: 5px;
      color: colors.$topaz;
      font-weight: 400;
      font-size: 0.75rem;

      .link {
        margin-left: 5px;
      }
    }
  }

  &__params {
    padding-top: 0;
    padding-bottom: 0;

    .table-row__header {
      border-top: 0;
    }
  }

  &__owner {
    margin-bottom: 30px;
    border-bottom: borders.$dividerBorder;

    &-row {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      .row-label {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }

  &__source {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .source-url {
      margin-right: 2rem;
    }

    .pull-at-runtime {
      margin-top: 20px;
    }
  }

  .text-area {
    width: 100%;
  }

  .delete-project {
    &-danger {
      svg {
        path:first-child {
          fill: colors.$amaranth;
        }
      }
    }
  }
}
