@import '../../scss/colors';
@import '../../scss/mixins';

.settings {
  &__artifact-path,
  &__goals,
  &__description,
  &__labels,
  &__source {
    margin-bottom: 15px;
  }

  &__artifact-path {
    &-link {
      color: $topaz;
      display: block;
      font-size: 0.75rem;
      font-weight: 400;
      margin-top: 5px;

      .link {
        margin-left: 5px;
      }
    }
  }

  &__labels {
    @include fieldWrapper;
    padding: 25px 16px 11px;

    .chips-wrapper {
      flex-wrap: wrap;
    }
  }

  &__params {
    @include fieldWrapper;

    .table-row__header {
      border-top: 0;
    }
  }

  .text-area {
    width: 100%;
  }
}
