@import '../../scss/colors';

.settings {
  &__artifact-path {
    margin-bottom: 25px;

    .small {
      display: block;
      font-size: 0.75rem;
      margin-top: 5px;

      .link {
        margin-left: 5px;
      }
    }
  }

  &__params {
    .table-row__header {
      border-top: 0;
    }
  }
}
