@import '../../scss/colors';

.item-section {

  &__title {
    display: flex;
    margin-bottom: 22px;

    h5 {
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primary;
      margin: 0;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 45px;
  }

  &:last-child {
    .item-section__body {
      margin-bottom: 0;
    }
  }
}
