@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/borders';

.header {
  line-height: 1.5;

  @include fixed;

  z-index: 12;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 0 24px;
  color: $white;
  background-color: $ebonyClay;
  box-shadow: $mainHeaderShadow;

  &__brand {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    margin-right: 1rem;
  }

  h1 {
    margin-left: 4px;
    padding-top: 4px;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__documentation {
    font-weight: 500;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__beta {
    margin-bottom: -10px;
    margin-left: 4px;
    font-variant: small-caps;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cerulean;
    border-radius: 50%;
    color: $white;
    padding: 8px;
    transition: background-color 0.2s ease-in-out;

    & > * {
      fill: $white;
    }

    &:hover {
      background-color: $white;

      & > * {
        fill: $cerulean;
      }
    }
  }
}
