@use 'igz-controls/scss/variables';
@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/mixins';
@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/borders';

.header {
  z-index: 12;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 0 24px;
  color: colors.$white;
  line-height: 1.5;
  background-color: colors.$ebonyClay;
  box-shadow: shadows.$mainHeaderShadow;

  @include mixins.fixed;

  &__brand {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    margin-right: 1rem;
  }

  h1 {
    margin-left: 4px;
    padding-top: 4px;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__documentation {
    font-weight: 500;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__beta {
    margin-bottom: -10px;
    margin-left: 4px;
    font-variant: small-caps;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: colors.$white;
    background-color: colors.$cerulean;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;

    & > * {
      fill: colors.$white;
    }

    &:hover {
      background-color: colors.$white;

      & > * {
        fill: colors.$cerulean;
      }
    }
  }
}
