@use 'igz-controls/scss/colors';

.metrics__empty-card {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    width: 41px;
  }
}

.empty-invocation-card {
  z-index: 1;
  padding-bottom: 1em;
  box-shadow: 0 -10px 0 0 colors.$white;
}
