@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.table-item_details {
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
  &_preview_header {
    padding: 21.5px 0;
    margin: 0 36px;
    font-size: 25px;
    border-bottom: $tableBorder;
  }
  &_item {
    border-bottom: $tableBorder;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &_header {
      min-width: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: capitalize;
    }
    i {
      margin-left: 21px;
    }
    span {
      margin-right: 20px;
    }
    &_data {
      padding-left: 16px;
      display: flex;
      flex: 1;
      min-width: 60px;
      align-items: center;
      &__parameters {
        @include chip($parametersBorder);
      }
      &__labels {
        @include chip($labelBorder);
      }
      &__results {
        @include chip($resultsBorder);
      }
      &.link {
        color: $cornflowerBlue;
      }
    }
    &.artifacts {
      padding-left: 25px;
    }
  }
}
