@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.item-info {
  display: flex;
  overflow: auto;
  flex-flow: column nowrap;

  @media screen and (min-width: 1200px) {
    flex-flow: row wrap;
  }

  &__header {
    margin: 0;
    padding: 21.5px 36px;
    font-size: 25px;
  }

  &__details {
    margin: 0;
    padding: 0 30px;
    list-style-type: none;

    &-wrapper {
      width: 100%;

      @media screen and (min-width: 1200px) {
        width: 50%;
      }
    }

    .details-item {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 10px;
      border-bottom: $secondaryBorder;

      &__btn-copy {
        display: inline-flex;
        vertical-align: middle;
      }

      &__header {
        display: flex;
        width: 150px;
        min-width: 100px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
      }

      &__tip {
        margin-left: 5px;
      }

      &__data {
        display: flex;
        flex: 1;
        align-items: center;
        min-width: 110px;
        padding-left: 16px;
        word-break: break-word;

        &-btn-edit {
          margin-left: 10px;
        }

        &-add-placeholder {
          color: $spunPearl;
          cursor: pointer;
        }
      }

      &__copy-to-clipboard {
        white-space: normal;
        cursor: pointer;
      }

      &__usage-example {
        display: block;
      }

      &__status {
        text-transform: capitalize;

        .status-icon {
          margin-left: 5px;
        }
      }

      &__input {
        &-wrapper {
          display: flex;
          align-items: center;
          align-self: flex-start;
          width: 100%;

          .input {
            width: 100%;
            padding: 8px 17px;
            line-height: 16px;

            &-wrapper {
              width: 100%;
            }
          }

          .text-area {
            &-wrapper {
              width: 100%;
            }
          }
        }
      }

      &_disabled {
        pointer-events: none;
      }

      &_hidden {
        display: none;
      }
    }
  }
}
