@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

$itemInfoWithoutPadding: item-info-without-padding;

.item-info {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding-right: 24px;
  overflow: auto;

  &:has(.#{$itemInfoWithoutPadding}) {
    padding: 0;
  }

  &:has(.metrics-wrapper),
  &:has(.table__item-logs-container) {
    align-content: flex-start;
  }

  & > * {
    flex: 0 0 100%;
    min-width: 100%;
  }

  &__header {
    margin: 0;
    padding: 10px 0 7.5px 0;
    font-size: 18px;
  }

  &__details {
    margin: 0 0 21px;
    padding: 0 0 0 0;
    list-style-type: none;

    &-wrapper {
      flex: 1;
      min-width: 100%;

      @media screen and (min-width: 1200px) {
        min-width: 50%;

        &:not(:last-child) {
          padding-right: 24px;
        }
      }
    }

    .details-item {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 10px 10px 10px 0;

      &:not(:last-child) {
        border-bottom: $secondaryBorder;
      }

      &__btn-copy {
        display: inline-flex;
        vertical-align: middle;
      }

      &__header {
        display: flex;
        align-self: center;
        width: 160px;
        min-width: 100px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
      }

      &__tip {
        margin-left: 5px;
      }

      &__data {
        display: flex;
        flex: 1;
        align-items: center;
        min-width: 110px;
        color: $topaz;
        word-break: break-word;

        &_multiline {
          display: inline-block;

          * {
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }

        &-btn-edit {
          margin-left: 10px;
        }

        &-add-placeholder {
          color: $spunPearl;
          cursor: pointer;
        }
      }

      &__copy-to-clipboard {
        white-space: normal;
        cursor: pointer;
      }

      &__usage-example {
        display: block;
      }

      &__status {
        text-transform: capitalize;

        .status-icon {
          margin-left: 5px;
        }
      }

      &__input {
        &-wrapper {
          display: flex;
          flex: 1;
          align-items: center;
          align-self: flex-start;
          padding-left: 1rem;

          .input {
            width: 100%;
            padding: 8px 17px;
            line-height: 16px;

            &-wrapper {
              width: 100%;
            }
          }

          .text-area {
            &-wrapper {
              width: 100%;
            }
          }
        }
      }

      &__link {
        color: $cornflowerBlue;
      }

      &_disabled {
        pointer-events: none;
      }

      &_hidden {
        display: none;
      }
    }
  }

  &__full-width {
    width: 100%;
  }
}

:export {
  itemInfoWithoutPadding: $itemInfoWithoutPadding;
}
