@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.item-info {
  &__header {
    margin: 0;
    padding: 21.5px 36px;
    font-size: 25px;
    border-bottom: $secondaryBorder;
  }

  &__details {
    margin: 0;
    padding: 0 30px;
    list-style-type: none;

    .details-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 18px;
      overflow-x: auto;
      border-bottom: $secondaryBorder;

      &__btn {
        &-copy {
          position: absolute;
          right: 25px;
        }
      }

      &__header {
        display: flex;
        min-width: 100px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
      }

      &__tip {
        margin-left: 5px;
      }

      &__data {
        display: flex;
        flex: 1;
        align-items: center;
        min-width: 60px;
        padding-left: 16px;
      }

      &__uri,
      &__path {
        cursor: pointer;
      }

      &__usage-example {
        display: block;
      }

      &__status {
        text-transform: capitalize;

        .status-icon {
          margin-left: 5px;
        }
      }

      &__parameters {
        border: $parametersBorder;
      }

      &__labels {
        border: $labelBorder;
      }

      &__results {
        border: $resultsBorder;
      }

      &__input {
        &-wrapper {
          display: flex;
          align-items: center;
          width: 100%;

          .input {
            width: 100%;
            padding: 8px 17px;
            line-height: 16px;

            &-wrapper {
              width: 100%;
            }
          }
        }

        &-btn {
          height: 30px;
          margin-left: 10px;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }
}
