@import '../../scss/colors.scss';
@import '../../scss/shadows.scss';

.notification {
  &_container {
    margin-top: 5px;
    margin-bottom: auto;
    padding: 15px;
    background-color: $white;
    animation: move 2.01s ease-in-out;
    background-color: $darkPurple;
    color: $white;
    box-shadow: $tooltipShadow;
    border-radius: 2px;
  }
  &_body {
    display: flex;
    align-items: center;
    &_icon {
      .success_icon {
        height: 14px;
        width: 14px;
      }
      .alert_icon {
        height: 14px;
        width: 4px;
      }
    }
    .notification_body_wrapper {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_alert_icon {
      background-color: $burntSienna;
    }
    &_success_icon {
      background-color: $statusReady;
    }
    &_button {
      margin-left: 15px;
      color: #8598f2;
      cursor: pointer;
    }
  }
}
