@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.project-overview {
  width: 100%;
  height: 100%;
  background-color: colors.$white;

  .link {
    font-size: 15px;
  }

  .project-overview {
    &__header {
      min-height: 200px;
      padding: 2.2em 3em 5em;
      color: colors.$white;
      transition: padding 0.5s ease-in-out;

      @include mixins.gradient('page');

      .unpinned & {
        padding: 2.2em 8em 5em;
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      padding: 0 2em;
      background: inherit;
    }

    &-card {
      flex: 0 0 100%;
      min-width: 350px;

      // min-height: 635px;
      margin: 0 15px 2em;
      transform: translateY(-60px);

      @media screen and (min-width: 576px) {
        flex: 1 0;
        max-width: 463px;
      }

      &__top {
        position: relative;
        display: flex;
        flex-flow: column;
      }

      &__center {
        // display: flex;
        display: none;
        flex-flow: column nowrap;
        padding: 20px 1em 0;
        transition: height 0.5s ease-in-out;
      }

      &__bottom {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        justify-content: space-between;
        min-height: 66px;
        text-align: center;

        .label {
          margin: 0 0 10px;
          padding: 0;
          font-size: 1.2em;
        }
      }

      &__header {
        min-height: 150px;

        @media screen and (min-width: 1600px) {
          min-height: 170px;
        }
      }

      .additional-links {
        display: flex;
        align-items: stretch;
        justify-content: center;

        & > * {
          display: inline-flex;
          align-items: flex-end;
          padding: 5px 10px;
          font-size: 14px;
          text-transform: capitalize;
          cursor: pointer;

          &:not(:last-child) {
            border-right: borders.$dividerBorder;
          }
        }
      }

      &__actions {
        min-height: 270px;
        padding: 0 1.6em;
      }
    }
  }
}

.project-overview-card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
  color: colors.$primary;
  background-color: colors.$white;
  border: 1px solid colors.$mercury;
  border-radius: 12px;
  box-shadow: 7px 8px 25px rgb(0 0 0 / 4%);

  &__top {
    background-color: colors.$zircon;
    border-bottom: 1px solid colors.$athensGray;
  }

  &__bottom {
    padding: 1em 0;
    border-top: 1px solid colors.$athensGray;
  }

  &__header {
    padding: 1em 1.6em;

    &-title {
      margin: 0 0 0.3em;
      font-weight: 300;
      font-size: 1.8em;

      @media screen and (min-width: 1600px) {
        font-size: 2em;
      }
    }

    &-subtitle {
      margin: 0;
      font-weight: 300;
      font-size: 1em;
      line-height: 1.3;

      @media screen and (min-width: 1600px) {
        font-size: 1.2em;
      }
    }
  }
}
