@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.project-overview {
  width: 100%;
  height: 100%;
  background-color: $white;

  .link {
    font-size: 15px;
  }

  .project-overview {
    &__header {
      min-height: 200px;
      padding: 2.2em 4em 5em;
      color: $white;

      @include gradient('page');
    }

    &__content {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      padding: 0 2em;
      background: inherit;
    }

    &-card {
      flex: 0 0 100%;
      min-width: 350px;
      // min-height: 635px;
      margin: 0 15px 2em;
      transform: translateY(-60px);

      @media screen and (min-width: 576px) {
        flex: 1 0;
        max-width: 470px;
      }

      &__top {
        position: relative;
        display: flex;

        flex-flow: column;
      }

      &__center {
        // display: flex;
        display: none;
        flex-flow: column nowrap;
        padding: 20px 1em 0;
        transition: height 0.5s ease-in-out;
      }

      &__bottom {
        text-align: center;
        min-height: 66px;

        .label {
          font-size: 1.2em;
          margin: 0 0 10px 0;
          padding: 0;
        }
      }

      &__header {
        min-height: 202px;
      }

      .additional-links {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        & > * {
          font-size: 14px;
          padding: 5px 10px;
          text-transform: capitalize;
          cursor: pointer;

          &:not(:last-child) {
            border-right: $dividerBorder;
          }
        }
      }

      &__actions {
        padding: 0 1.6em;
        min-height: 270px;
      }
    }
  }
}

.project-overview-card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
  color: $primary;
  background-color: $white;
  border: 1px solid $mercury;
  border-radius: 12px;
  box-shadow: 7px 8px 25px rgba(0, 0, 0, 0.04);

  &__top {
    background-color: $zircon;
    border-bottom: 1px solid $athensGray;
  }

  &__bottom {
    padding: 1em 0;
    border-top: 1px solid $athensGray;
  }

  &__header {
    padding: 1em 1.6em;

    &-title {
      margin: 0 0 0.3em;
      font-weight: 300;
      font-size: 2em;
    }

    &-subtitle {
      margin: 0;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.4;
    }
  }
}
