@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.project-overview {
  width: 100%;
  height: 100%;
  background-color: $white;

  &__header {
    display: flex;
    flex-flow: column nowrap;
    min-height: 300px;
    padding: 2.2em 4em 5em;
    color: $white;
    line-height: 1.4;

    @include gradient('page');

    &-title {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin: 0;
      font-weight: 300;
      font-size: 3.2em;
      line-height: 1.3;
    }

    &-description {
      max-width: 75%;
      margin: 0;
    }

    &-subtitle {
      display: flex;
      width: 100%;
      margin-bottom: 1.5em;

      & > * {
        margin-right: 25px;
      }

      &-name {
        margin-right: 5px;
        font-weight: 700;
      }
    }

    .data-ellipsis {
      display: flex;
      margin-left: 0.3em;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 0 2em;
    background: inherit;
  }

  &-card {
    flex: 0 0 100%;
    min-width: 320px;
    // min-height: 635px;
    margin: 0 15px 2em;
    transform: translateY(-60px);

    @media screen and (min-width: 576px) {
      flex: 1 0;
      max-width: 500px;
    }

    &__top {
      position: relative;
      display: flex;
      flex: 1 0 auto;
      flex-flow: column;
      padding-bottom: 50px;
    }

    &__center {
      // display: flex;
      display: none;
      flex-flow: column nowrap;
      height: 220px;
      padding: 20px 1em 0;
      overflow: hidden;
      transition: height 0.5s ease-in-out;

      &[aria-expanded='true'] {
        height: 0;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 66px;
      max-height: 66px;
    }

    &__header {
      min-height: 175px;
    }

    .additional-links {
      & > * {
        padding: 5px 0;
        text-transform: capitalize;
        cursor: pointer;

        &:not(:last-child) {
          margin: 0 10px 0 0;

          &::after {
            margin-left: 10px;
            border-right: $dividerBorder;
            content: '';
          }
        }
      }
    }

    &__actions {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 1.6em;

      &-toogler {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          transform: rotate(90deg);
          transition: transform 0.5s ease-in-out;
        }

        &[aria-expanded='true'] {
          svg {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  .link {
    font-size: 0.75rem;
  }
}

.project-overview-card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
  color: $primary;
  background-color: $white;
  border: 1px solid $mercury;
  border-radius: 12px;
  box-shadow: 7px 8px 25px rgba(0, 0, 0, 0.04);

  &__top {
    background-color: $zircon;
    border-bottom: 1px solid $athensGray;
  }

  &__bottom {
    padding: 1em;
    border-top: 1px solid $athensGray;
  }

  &__header {
    padding: 1em 1.6em;

    &-title {
      margin: 0 0 0.3em;
      font-weight: 300;
      font-size: 2em;
    }

    &-subtitle {
      margin: 0;
      line-height: 1.4;
    }
  }
}
