@import '../../../scss/colors';
@import '../../../scss/mixins';

.project-overview {
  height: 100%;
  background: $white;

  &__header {
    display: flex;
    color: $white;
    padding: 3.2em 4em;
    min-height: 300px;
    @include gradient;

    &-cell {
      &:first-child {
        flex: 0 0 65%;
        margin-right: 1rem;
      }
    }

    &-title {
      font-size: 3.2em;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    &-subtitle {
      margin: 0;
    }
  }

  &__content {
    position: relative;
    background: inherit;
    padding: 0 2em;

    &-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      transform: translateY(-75px);
      width: 100%;
    }
  }

  &-card {
    flex: 0 0 100%;
    max-width: 460px;
    margin: 0 22px 2em;

    @media screen and (min-width: 576px) {
      flex: 0 0 28%;
      min-width: 340px;
    }
  }

  .actions {
    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

.project-overview-card {
  display: flex;
  flex-flow: column nowrap;
  color: $primary;
  background-color: $white;
  border: 1px solid $mercury;
  box-shadow: 7px 8px 25px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  width: 100%;
  overflow: hidden;

  &_top {
    background-color: $zircon;
    border-bottom: 1px solid $athensGray;
    min-height: 430px;
  }
  &_bottom {
    border-bottom: 1px solid $athensGray;
  }

  &__header {
    padding: 1.6em;

    &-title {
      font-size: 2em;
      font-weight: 300;
      margin: 0;
    }
  }

  &__actions {
    padding: 0 1.6em;
  }
}

.actions {
  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    cursor: pointer;
    max-width: 80px;

    &:hover {
      .actions-icon {
        background-color: $gallery;
      }

      .link {
        text-decoration: underline;
      }
    }
  }

  &-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $selago;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease-in-out;

    &::before {
      content: url('../../../images/dots-icon.png');
      width: 48px;
      height: 48px;
      position: absolute;
      top: 10px;
      left: 15px;
    }
  }
}
