@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.table {
  &__cell {
    &.add-input {
      padding: 0;
    }

    .btn_delete {
      display: none;
      padding: 0;
    }

    .parameter-name {
      margin-right: 10px;
    }

    .apply-edit-btn {
      padding: 0;
    }
  }

  &__row {
    &-create-parameter {
      display: flex;
    }
  }
}
