@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/colors';

.stats {
  &-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: $topaz;
    background-color: $white;
    border-radius: 8px;
    box-shadow: $previewBoxShadowInit;
    padding: 15px;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 1500px) {
      padding: 20px 25px 15px;
    }

    &__row {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 0 100%;
      justify-content: space-between;
      align-items: baseline;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    &__full-row {
      flex: 1 1;
      align-items: flex-start;
    }

    &__col {
      flex: 1 1;
      text-align: center;
    }

    &__title {
      position: relative;
      display: flex;
      align-items: center;
      color: $primary;
      font-weight: normal;
      font-size: 1rem;
      margin: 0;
      transition: font-size 0.3s ease-in-out;

      @media screen and (min-width: 1600px) {
        font-size: 1.25rem;
      }

      &--with-icon {
        padding-left: 18px;

        @media screen and (min-width: 1600px) {
          padding-left: 23px;
        }
      }

      &-icon {
        position: absolute;
        left: 0;
        top: 1px;
        height: 16px;
        width: 16px;
        transition: all 0.3s ease-in-out;

        @media screen and (min-width: 1600px) {
          height: 20px;
          width: 20px;
        }

        svg {
          height: inherit;
          width: inherit;

          path {
            fill: $ceriseRed;
          }
        }
      }
    }
  }
}
