@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/colors';

.stats {
  &-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    color: colors.$topaz;
    background-color: colors.$white;
    border-radius: 8px;
    box-shadow: shadows.$previewBoxShadowInit;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 1500px) {
      padding: 20px 20px 5px;
    }

    &__row {
      display: flex;
      flex: 1 0 100%;
      flex-flow: row nowrap;
      align-items: baseline;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    &__full-row {
      flex: 1 1;
      align-items: flex-start;
    }

    &__col {
      flex: 1 1;
      text-align: center;
    }

    &__title {
      position: relative;
      display: flex;
      gap: 6px;
      align-items: center;
      margin: 0;
      color: colors.$primary;
      font-weight: 500;
      font-size: 1.25em;
      transition: font-size 0.3s ease-in-out;

      &_with-icon {
        padding-left: 18px;

        @media screen and (min-width: 1600px) {
          padding-left: 23px;
        }
      }

      &-icon {
        position: absolute;
        top: -2px;
        left: 0;
        width: 16px;
        height: 16px;
        transition: all 0.3s ease-in-out;

        @media screen and (min-width: 1600px) {
          width: 20px;
          height: 20px;
        }

        svg {
          width: inherit;
          height: inherit;

          path {
            fill: colors.$ceriseRed;
          }
        }
      }
    }

    &__title-tip {
      margin-left: 5px;
    }

    &__title-wrapper {
      display: flex;
      align-items: normal;
    }
  }
}
