@use '../../scss/colors';

.tip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--arrow-length);
}

.tip {
  position: fixed;
  display: block;
  padding: 10px;
  color: colors.$white;
  white-space: pre-line;
  background: colors.$primary;
  border-radius: 4px;
  z-index: 9;

  &-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &_top {
    &::after {
      bottom: calc(var(--tipArrowLength) * -0.5);
    }
  }

  &_bottom {
    &::after {
      top: calc(var(--tipArrowLength) * -0.5);
    }
  }

  &_left {
    &::after {
      right: calc(#{var(--tipArrowOffset)});
    }
  }

  &_right {
    &::after {
      left: calc(#{var(--tipArrowOffset)});
    }
  }

  &_small {
    min-width: 100px;
    max-width: 250px;
  }

  &_big {
    min-width: 250px;
    max-width: 400px;
  }

  &::after {
    position: absolute;
    width: var(--tipArrowLength);
    height: var(--tipArrowLength);
    background: colors.$primary;
    transform: rotate(45deg);
    content: '';
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
