@import '../../scss/colors';

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.16);

  .loader {
    display: flex;

    &::after {
      display: block;
      width: 64px;
      height: 64px;
      border: 6px solid $cornflowerBlue;
      border-color: $cornflowerBlue transparent $cornflowerBlue transparent;
      border-radius: 50%;
      animation: rotate 1.5s linear infinite;
      content: " ";
    }
  }

  &.section-loader {
    position: relative;
    background-color: transparent;
  }

  &.small-loader {
    .loader {
      &::after {
        width: 20px;
        height: 20px;
        border-width: 2px;
      }
    }
  }

  &.secondary-loader {
    .loader {
      &::after {
        border-color: $spunPearl transparent $spunPearl transparent;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
