@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.edit-chip {
  &-container {
    display: inline-flex;
    max-width: 100%;
    margin: 2px 8px 2px 0;
    padding: 0 8px;
    font-size: 14px;
    line-height: 22px;

    input {
      display: flex;
      padding: 0;
      font-size: 14px;
      background-color: transparent;
      border: none;

      &.item_edited {
        &::placeholder {
          color: colors.$spunPearl;
        }

        &_invalid {
          color: colors.$amaranth;
        }
      }

      &::placeholder {
        color: colors.$primary;
      }
    }

    &-background {
      @include mixins.chipBackground(false);
    }

    &-border {
      @include mixins.chipBorder();
    }

    &-density {
      @include mixins.chipDensity(true, false);
    }

    &-font {
      @include mixins.chipsFont(EditableChip);
    }
  }

  &-separator {
    margin-right: 5px;
  }

  &__icon-close {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: scale(0.7);
    }
  }
}
