@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.filters {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;

  .filter-column {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
  }

  .input-wrapper {
    .input {
      width: 200px;
      padding: 10px 10px 10px 64px;

      &.date-picker__input {
        margin: 0;

        &.long-input {
          width: 330px;
        }
      }
    }
  }

  .filters-checkbox {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .active-label {
    top: 15px;
  }
}

.actions {
  margin: 0 0 0 10px;
}
