@import '../../scss/variables.scss';
@import '../../scss/colors';
@import '../../scss/borders';

.filters {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;

  .input-wrapper {
    margin-right: 15px;
    margin-bottom: 15px;

    .input {
      height: 38px;
      width: 200px;
      padding: 10px 10px 10px 64px;
    }
  }

  .select {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .filters-checkbox {
    margin-bottom: 15px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 40px;
    height: 40px;

    &:hover {
      background-color: $alabaster;
      border-radius: 20px;
    }
  }
}
