@import '../../scss/variables.scss';
@import '../../scss/colors';
@import '../../scss/borders';

.filters {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}
.buttons {
  display: flex;
  justify-content: space-between;
  button {
    width: 40px;
    height: 40px;
    &:hover {
      background-color: $alabaster;
      border-radius: 20px;
    }
  }
}
