@import '../../scss/variables.scss';
@import '../../scss/colors';
@import '../../scss/borders';

.content {
  &__action_bar {
    padding: 23px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__filters {
      display: flex;
      align-items: center;
      flex: 1;
    }
    &_refresh {
      border: none;
      background-color: transparent;
      margin-left: auto;
      cursor: pointer;
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
