@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.project {
  &__header {
    padding: 20px 24px;
    background-color: $white;
    box-shadow: $headerShadow;
  }

  &__content {
    display: flex;
    flex: 1;
    padding: 45px;
    background: $wildSand;

    .general-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-right: 64px;

      &__main-data {
        &-wrapper {
          display: flex;
          align-items: center;
        }
      }

      &__name {
        display: flex;
        flex: 2;
        max-width: 335px;
        color: rgba($mulledWine, 0.88);
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;

        .input {
          width: 100%;
          font-weight: 300;
          font-size: 36px;
        }
      }

      &__settings {
        display: none;
        margin-left: 10px;
      }

      &__source {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 26px;

        .input {
          width: 100%;

          &-wrapper {
            width: 100%;
          }
        }

        &-edit {
          position: relative;
          display: none;
          margin-left: 10px;
          text-decoration: underline;
          cursor: pointer;
        }

        &-text {
          max-width: 230px;
          color: $cornflowerBlue;
        }

        &:hover {
          .general-info {
            &__source-edit {
              display: block;
            }
          }
        }
      }

      &__labels {
        .chips-wrapper {
          flex-wrap: wrap;
        }

        .chip-block-hidden {
          left: 0;

          &::after {
            right: 220px;
          }
        }
      }

      &__description {
        margin-top: 16px;
        color: rgba($mulledWine, 0.88);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;

        &-info {
          padding: 17px 9px;
          border: $primaryBorder;
          border-radius: 4px;
        }

        .text-area {
          width: 100%;
          height: 150px;
          white-space: normal;
        }

        &-title {
          color: $topaz;
          font-size: 12px;
        }

        &-text {
          max-width: 185px;
          margin: 3px 0;
        }
      }

      &__status {
        margin-bottom: 13px;
        color: $primary;

        &-label {
          margin-right: 15px;
          font-size: 14px;
          line-height: 16px;
        }

        &-icon {
          margin-right: 10px;
        }

        &-name {
          text-transform: capitalize;
        }
      }

      &__owner {
        display: none;
        color: $primary;

        &-label {
          margin-right: 15px;
        }
      }

      &__links {
        display: flex;
        flex-direction: column;

        &-label {
          margin-bottom: 16px;
          color: $primary;
        }

        &-link {
          margin-bottom: 15px;
        }
      }

      &__divider {
        margin: 17px 0;
        border-top: $secondaryBorder;
      }
    }

    .main-info {
      display: flex;
      flex: 4;
      flex-direction: column;

      &__toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &-menu {
          width: 155px;

          .select {
            &__header {
              cursor: pointer;
            }
          }

          &.launch-menu {
            display: none;
            background-color: $white;

            .select {
              &__label {
                color: $primary;
              }
            }
          }

          &.create-new-menu {
            background-color: $malibu;
            border: none;

            .select {
              &__label {
                color: $white;
              }
            }

            svg {
              path {
                fill: $white;
              }
            }
          }
        }

        .refresh {
          display: flex;
          margin-right: 10px;
          margin-left: auto;
        }
      }

      .project-data-card {
        position: relative;
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        min-width: 0;
        min-height: 491px;
        margin-right: 20px;
        overflow-x: auto;
        background-color: rgba($white, 0.84);
        border-radius: 4px;

        &__header {
          z-index: 1;
          min-width: fit-content;
          padding: 20px;
          background-color: $white;
          box-shadow: $projectStatisticsShadow;

          &-text {
            min-width: 100%;
            max-width: 100px;
            margin-bottom: 16px;
            color: $primary;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
          }
        }

        &_small {
          flex: 1 1 0;
          min-height: 155px;

          .project-data-card__header {
            height: 100%;

            &-text {
              margin-bottom: 25px;
            }
          }
        }

        &__see-all-link {
          margin: 15px 20px 25px auto;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .wrapper {
        position: relative;
        z-index: 1;
        background-color: $white;
      }

      &__statistics-section {
        display: flex;
        margin-bottom: 25px;
      }
    }
  }

  &__error-container {
    margin: auto;
    color: $primary;
  }
}
