@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.project {
  &-wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 100%;
  }

  &__header {
    min-height: 70px;
    padding: 20px 24px;
    background-color: $white;
    box-shadow: $headerShadow;
  }

  &__content {
    display: flex;
    flex: 1;
    padding: 24px 40px;

    .general-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 250px;
      padding-right: 64px;

      &__row {
        display: flex;
        justify-content: space-between;
        color: $primary;
        margin-top: 5px;

        .row-label {
          display: inline-block;
          width: 80px;
        }

        .row-action {
          cursor: pointer;
        }

        &.status-row {
          .row-name {
            text-transform: capitalize;
          }
        }
      }

      &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-label {
          margin-bottom: 16px;
          color: $primary;
        }

        &-link {
          margin-bottom: 15px;
        }
      }
    }

    .project-details {
      margin-bottom: 15px;
    }

    .main-info {
      display: flex;
      flex: 4;
      flex-direction: column;

      &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        &-menu {
          width: 155px;

          .select {
            &__header {
              cursor: pointer;
            }
          }

          &.launch-menu {
            display: none;
            background-color: $white;

            .select {
              &__label {
                color: $primary;
              }
            }
          }

          &.create-new-menu {
            background-color: $brightTurquoise;
            border: none;

            .select {
              &__label {
                color: $white;
              }
            }

            svg {
              path {
                fill: $white;
              }
            }
          }
        }

        &-actions {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: flex-end;
        }

        .refresh {
          display: flex;
          margin-left: 10px;
        }
      }

      .project-data-card {
        position: relative;
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        min-width: 0;
        min-height: 460px;
        margin-right: 20px;
        overflow-x: auto;
        background-color: rgba($white, 0.84);
        border-radius: 4px;

        &__header {
          z-index: 1;
          min-width: fit-content;
          padding: 20px;
          background-color: $white;
          box-shadow: $projectStatisticsShadow;

          &-text {
            min-width: 100%;
            max-width: 100px;
            margin-bottom: 16px;
            color: $primary;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
          }

          &-tip {
            margin-left: 5px;
          }

          &.table-header {
            min-height: 180px;
          }
        }

        &_small {
          flex: 1 1 0;
          min-height: 155px;

          .project-data-card__header {
            height: 100%;

            &-text {
              margin-bottom: 25px;
            }
          }
        }

        &__see-all-link {
          margin: 15px 20px 25px auto;
        }

        &__recent-text {
          display: flex;
          align-items: center;
          font-size: 18px;
          min-height: 40px;
          padding: 15px 0 0 20px;

          .text-sm {
            font-size: 0.75em;
            margin-left: 5px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .wrapper {
        position: relative;
        z-index: 1;
        background-color: $white;
      }

      &__statistics-section {
        display: flex;
        margin-bottom: 25px;
      }
    }
  }

  &__error-container {
    margin: auto;
    color: $primary;
  }
}
