@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.job-panel {
  &__button {
    display: none;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 25px 40px 16px 40px;

    &-wrapper {
      margin-right: 29px;

      .job-schedule {
        &-container {
          display: flex;
          align-items: center;
          margin-bottom: 18px;

          svg {
            margin-right: 18px;
            cursor: pointer;
          }
        }
      }

      button.btn {
        margin-left: auto;
      }

      &_edit {
        width: 100%;
      }

      .input {
        width: 100%;
        font-weight: 300;
        font-size: 36px;

        &-wrapper {
          width: 100%;
          border: $primaryBorder;
          border-radius: 4px;
        }
      }

      &_hover {
        display: flex;
        border: $transparentBorder;
        border-radius: 4px;

        &:hover {
          border: $primaryBorder;

          .job-panel__button {
            display: flex;
            align-items: center;
            margin: 20px 16px 16px 0;
          }
        }
      }
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__name {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
  }

  &__wrapper {
    padding: 16px;
    color: $mulledWineTwo;
  }

  &__version,
  &__method {
    font-weight: 500;
    font-size: 14px;
  }

  &__version {
    margin-right: 10px;
  }

  &__select {
    &-container {
      display: flex;
      flex: 1;
      height: 55px;
      margin: 16px 0 16px 0;

      .select {
        width: 100%;
        height: auto;

        &__header {
          .sub-label {
            display: none;
          }
        }

        &.job-methods {
          margin-left: 16px;
        }
      }

      .tooltip {
        max-width: 300px;
        white-space: inherit;
        word-break: break-word;
      }
    }
  }
}
