@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.job-panel__title {
  @include panelTitle;

  &-accordion {
    height: 100%;
    border-bottom: $primaryBorder;

    .accordion {
      &__body {
        overflow: visible;
      }
    }
  }

  &-edit-icon {
    position: absolute;
    top: 0;
    right: 0;

    &.open {
      display: none;
    }

    &_disabled {
      display: none;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  &-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-select {
    &-container {
      display: flex;
      flex: 1;
      height: 55px;
      margin: 16px 0;

      .select {
        width: 100%;
        background-color: $white;

        &__header {
          .sub-label {
            display: none;
          }
        }

        &.job-methods {
          margin-left: 16px;
        }
      }

      .tooltip {
        max-width: 300px;
        white-space: inherit;
        word-break: break-word;
      }
    }
  }

  .panel-title__labels-wrapper {
    width: 640px;
    margin: 10px 0;

    .chips-wrapper {
      max-width: 100%;

      .chip-block {
        max-width: 100%;
      }
    }
  }
}
