@use 'igz-controls/scss/colors';

.filters-wizard {
  min-width: 250px;

  .pop-up-dialog {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  &__header {
    top: 0;
    margin: 0;
    padding: 0 0 16px;
    color: colors.$mulledWine;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    background: colors.$white;
  }

  &__list {
    margin: 0 -15px 0 0;
    padding-right: 15px;
    overflow-y: auto;
  }

  &__modal-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;

    .btn:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.filters-button_applied {
  .round-icon-cp__circle {
    position: relative;

    &::after {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 2;
      width: 10px;
      height: 10px;
      background: colors.$brightTurquoise;
      border: 2px solid colors.$white;
      border-radius: 50%;
      content: '';
    }
  }
}
