@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/colors';

.warning {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 14px;
  color: colors.$sorbus;
  background-color: rgba(colors.$sorbus, 0.1);
  border: borders.$parametersBorder;

  &__data {
    display: flex;
    align-items: center;
  }

  &__message {
    margin-right: 10px;
  }

  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    padding: 5px;
    background-color: colors.$sorbus;
    border-radius: 50%;
  }
}
