.search-container {
    display: flex;
    button {
        height: 40px;
        width: 42px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }
    input {
        border: none;
        height: 40px;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
    }
    .not-activate-search {
       width: 0;
       transition: width .500s;
    }

    input.not-activate-search {
        margin-right: 0;
    }
    input.activate-search {
        margin-right: 5px;;
    }

    .activate-search {
        width: 150px;
        transition: width .500s;
    }
}
