@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.search {
  &-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: $primaryBorder;
  }

  &-input {
    z-index: 2;
    width: 100%;
    margin-left: 13px;
    color: $primary;
    background-color: transparent;
    border: none;
  }

  &-label {
    position: absolute;
    top: 3px;
    left: 38px;
    z-index: 1;
    color: $topaz;
    user-select: none;
  }

  &-matches {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 4;
    margin: 0;
    padding: 7px 0;
    background-color: $white;
    box-shadow: $previewBoxShadow;

    &__item {
      padding: 7px 15px;
      color: $mulledWine;
      list-style-type: none;

      &_active {
        background-color: $gunsmoke;
      }

      &:active,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }

      &:hover {
        background-color: $alabaster;
        cursor: pointer;
      }
    }
  }
}
