@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/shadows';

.search {
  &-container {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;

    .input-wrapper {
      width: 100%;
      background-color: colors.$white;
      border-radius: 4px;
    }
  }

  &-input {
    z-index: 2;
    width: 100%;

    // todo: delete `!important` after replacing `Input` with `FormInput`
    padding: 10px 20px 10px 35px !important;
    color: colors.$topaz;
  }

  &-label {
    position: absolute;
    top: 11px;
    left: 36px;
    z-index: 1;
    color: colors.$spunPearl;
    user-select: none;
  }

  &-dropdown {
    .pop-up-dialog {
      width: 100%;
      padding: 0;
    }
  }

  &-matches {
    max-height: 250px;
    margin: 0;
    padding: 0;

    &__item {
      padding: 7px 15px;
      color: colors.$mulledWine;
      list-style-type: none;

      &_active {
        background-color: colors.$gunsmoke;
      }

      &:active,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }

      &:hover {
        background-color: colors.$alabaster;
        cursor: pointer;
      }
    }
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 3;
    transform: translateY(-45%);
    cursor: pointer;

    & * {
      fill: colors.$spunPearl;
    }
  }
}
