@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$modelsRowHeight: $rowHeight;
$modelsHeaderRowHeight: $headerRowHeightBig;
$modelsRowHeightExtended: $rowHeightExtended;

.models-table {
  @include rowsHeight($modelsHeaderRowHeight, $modelsRowHeight, $modelsRowHeightExtended);
}

:export {
  modelsRowHeight: $modelsRowHeight;
  modelsHeaderRowHeight: $modelsHeaderRowHeight;
  modelsRowHeightExtended: $modelsRowHeightExtended;
}
