@use 'igz-controls/scss/variables';
@use '/src/scss/mixins';

$modelsRowHeight: variables.$rowHeight;
$modelsHeaderRowHeight: variables.$headerRowHeightBig;
$modelsRowHeightExtended: variables.$rowHeightExtended;

.models-table {
  @include mixins.rowsHeight($modelsHeaderRowHeight, $modelsRowHeight, $modelsRowHeightExtended);
}
