@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.schedule-content {
  .input {
    min-width: 230px;

    &_container {
      display: flex;

      .date-picker-container {
        display: none;
      }
    }
  }

  .select {
    min-width: 230px;
    height: auto;
  }

  .checkbox_container {
    display: none;
    margin: 23px 0;
    padding: 10px 10px 10px 0;
  }

  .input_container,
  .date-picker-container {
    .input-wrapper {
      margin-right: 15px;
    }
  }
}
