@use '../../scss/colors';

.confirm-dialog {
  color: colors.$primary;

  &__message {
    font-size: 15px;
    line-height: 24px;

    &-only {
      font-size: 22px;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__body {
    margin: 20px 0;
  }
}
