.job-wizard__function-selection {
  display: flex;
  flex-direction: column;
  height: 100%;

  .functions-tab, .marketplace-tab {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 300px;
  }

  .functions-list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
  }

  .content-menu {
    margin-bottom: 15px;
    min-width: unset;
  }

  .slider-row {
    flex-direction: column;
  }

  .form-row__project-name {
    min-width: 200px;
  }
}
