@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.tag-filter {
  position: relative;
  display: flex;
  width: 200px;
  height: 40px;
  margin: 7px 15px 7px 0;
  color: $mulledWine;
  border: $primaryBorder;
  border-radius: $mainBorderRadius;

  &__label {
    padding: 10px 0 10px 10px;
    color: $topaz;
  }

  &__input {
    width: 125px;
    height: 100%;
    padding: 10px;
    color: $mulledWine;
    border: none;
    border-radius: $mainBorderRadius;
    outline: none;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 5px);
    z-index: 3;
    width: 100%;
    background-color: $white;
    border: $primaryBorder;
    border-radius: $mainBorderRadius;
    box-shadow: $tooltipShadow;

    &-button {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      min-width: 25px;
      border-left: $primaryBorder;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &:hover {
        background-color: $alabaster;
      }
    }

    &-item {
      display: flex;
      flex: 1;
      height: 40px;
      margin: 0;
      padding: 10px;
      text-align: center;
      border-radius: $mainBorderRadius;
      cursor: pointer;

      &:hover {
        background-color: $alabaster;
      }

      &_selected {
        background-color: $alabaster;
      }
    }
  }
}
