@import '~igz-controls/scss/borders';

@mixin inputNode {
  color: $white;
  background-color: $hotPink;
  fill: $hotPink;
  border-color: $hotPink;
  stroke: $hotPink;
  box-shadow: 0 3px 14px rgba($hotPink, 0.34);
}

@mixin outputNode {
  color: $white;
  background-color: $malibu;
  fill: $malibu;
  border-color: $malibu;
  stroke: $malibu;
  box-shadow: 0 3px 14px rgba($malibu, 0.5);
}

@mixin primaryNode {
  color: $malibu;
  background-color: $white;
  border-color: $malibu;
  stroke: $malibu;
}

@mixin secondaryNode {
  color: $orchid;
  background-color: $white;
  border-color: $orchid;
  stroke: $orchid;
}

@mixin greyNode {
  color: rgba($black, 0.3);
  background-color: $white;

  &:not(.selected) {
    border-color: $bombay;
    stroke: $bombay;
  }
}

@mixin nodes {
  &.input-node {
    @include inputNode;
  }

  &.output-node {
    @include outputNode;
  }

  &.primary-node {
    @include primaryNode;
  }

  &.secondary-node {
    @include secondaryNode;
  }

  &.grey-node {
    @include greyNode;
  }

  &.react-flow__node-input {
    @include inputNode;
  }

  &.react-flow__node-output {
    @include outputNode;
  }

  &.react-flow__node-default {
    @include primaryNode;
  }
}

@mixin selectedNode {
  &.selected {
    border-color: $brightTurquoise;
    stroke: $brightTurquoise;
    box-shadow: 0 4px 20px rgba($brightTurquoise, 0.5);

    &.status-error,
    &.status-failed {
      border-color: $burntSienna;
      stroke: $burntSienna;
      box-shadow: 0 4px 20px rgba($burntSienna, 0.5);
    }

    &.status-running {
      border-color: $pictonBlue;
      stroke: $pictonBlue;
      box-shadow: 0 4px 20px rgba($pictonBlue, 0.5);
    }
  }
}

.react-flow__renderer {
  z-index: 5;

  &:active {
    cursor: grab;
  }

  .react-flow__node {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    cursor: unset;

    &:hover {
      box-shadow: unset;
    }

    .react-flow__node-label {
      position: relative;
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
    }

    .react-flow__node-sub-label {
      font-size: 0.9em;
      opacity: 0.8;
    }

    .react-flow__node-tip {
      stroke: none;

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: $bombay;
        }
      }
    }

    @include nodes();

    &.oval-shape {
      border-radius: 50%;
    }

    &.rounded-rectangle-shape {
      border-radius: 50px;
    }

    &.with-opacity {
      opacity: 0.6 !important;
    }

    &.selectable {
      cursor: pointer;
    }

    @include selectedNode();

    .react-flow__handle {
      width: 12px;
      height: 12px;
      background: $white;
      border: 2px solid $bombay;
      pointer-events: auto;

      &-top {
        top: -6px;
        visibility: hidden;
      }

      &-bottom {
        bottom: -6px;
      }

      &-left {
        left: -6px;
        visibility: hidden;
      }

      &-right {
        right: -6px;
      }

      &.status-succeeded {
        background: $brightTurquoise;
      }

      &.status-failed,
      &.status-error {
        background: $burntSienna;
      }

      &.status-omitted {
        background: $silver;
      }

      &.status-running {
        background: $pictonBlue;
      }

      &.status-skipped {
        background: $gossamer;
        border: 3px solid $brightTurquoise;
      }

      &.status-unknown {
        background: $white;
      }
    }
  }

  .react-flow__edge {
    path,
    polyline {
      stroke: $bombay;
      stroke-width: 2px;
    }

    .react-flow__arrowhead_closed {
      polyline {
        fill: $bombay;
      }
    }

    &.selected {
      path,
      polyline {
        stroke: $saltbox;
      }

      .react-flow__arrowhead_closed {
        polyline {
          fill: $saltbox;
        }
      }
    }
  }
}

.react-flow__minimap {
  background-color: $gallery;

  svg {
    display: block;
    width: 150px;
    height: 110px;

    path {
      fill: rgba($black, 0.2);
    }
  }
}

.react-flow__minimap-node {
  fill: $white;

  @include nodes();
  @include selectedNode()
}
