@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

.resources-units {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 0;

  [class*='form-col'] {
    min-height: 200px;

    &:not(:last-child) {
      margin: 0;
    }
  }

  .resources-card {
    width: 100%;
    min-width: 280px;
    padding: 16px;
    border: borders.$primaryBorder;
    border-radius: 8px;

    &__title {
      color: colors.$primary;
      font-weight: 700;
      font-size: 18px;
    }

    &__fields {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 13px;

      &-input {
        min-width: 115px;
        margin-right: 20px;

        &.gpu {
          width: calc(50% - 10px);
        }
      }

      &-select {
        min-width: 115px;
      }
    }
  }
}
