@use '../../scss/colors';

.validation-option {
  display: flex;
  align-items: flex-start;
  margin: 0.6rem 0;
  padding: 0 1rem;
  font-size: 0.875rem;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;

    &_valid {
      width: 14px;
      height: 15px;

      path {
        fill: colors.$brightTurquoise;
      }
    }

    &_invalid {
      width: 12px;
      height: 12px;

      path {
        fill: colors.$amaranth;
      }
    }
  }
}
