@import '../../scss/colors';
@import '../../scss/borders';

.group-btn {
  display: flex;
  justify-content: center;
  align-items: stretch;
  button {
    display: inline-flex;
    flex: 1 1 auto;
    min-width: auto;
    justify-content: center;
    align-items: center;
    border: $primaryBorder;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0;
    & > * {
      margin: 0 5px;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 5px;
      & > * {
        margin: 0;
      }
    }
  }
}
