@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.feature-set-panel__schedule {
  @include mixins.schedule;

  .schedule-title {
    display: flex;
    align-items: center;

    &__icon {
      margin-left: auto;
    }
  }
}
