@use 'igz-controls/scss/colors';

.description {
  &-container {
    display: flex;
    padding: 5px;
    color: colors.$mulledWineTwo;

    &-text {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: justify;

      &.extended-description {
        overflow: visible;
        white-space: pre-wrap;
      }
    }

    .description__toggle-btn {
      display: flex;
      align-items: center;
      height: 17px;
      margin-left: 5px;
      padding: 0 5px 12px;
      color: colors.$topaz;
      font-weight: bold;
      font-size: 20px;
      background: colors.$iron;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
