@import '../../scss/colors.scss';

.description {
  &-container {
    display: flex;
    padding: 5px;
    color: $mulledWineTwo;

    &-text {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: justify;

      &.extended-description {
        overflow: visible;
        white-space: initial;
      }
    }

    .description__toggle-btn {
      display: flex;
      align-items: center;
      height: 17px;
      margin-left: 5px;
      padding-bottom: 12px;
      color: $topaz;
      font-weight: bold;
      font-size: 20px;
      background: $iron;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
