@import '../../scss/colors';
@import '../../scss/borders';

.item-artifacts__preview-content {
  display: flex;
  flex: 1;

  .preview-table {
    width: 100%;
    color: $mulledWine;

    .table-header {
      position: sticky;
      top: -21px;
      z-index: 2;
      display: flex;
      min-width: 100%;
      padding: 10px;
      background-color: $white;
      border-bottom: $tableBorder;
    }

    .preview-table__body {
      max-height: 500px;
    }

    &__row {
      display: flex;
      min-width: 100%;
      padding: 10px;
      border-bottom: $tableBorder;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $alabaster;
      }
    }

    &__header {
      flex: 1;
      width: 50px;
      min-width: 50px;
      padding: 0 5px;
    }

    &__content {
      flex: 1;
      width: 50px;
      min-width: 50px;
      padding: 0 5px;
    }
  }

  .json {
    &-content {
      white-space: pre-wrap;
    }
  }

  iframe {
    min-height: 500px;
  }
}
