@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.accordion__container.open {
  height: auto;
}

.artifact {
  &-extra-data {
    &__header {
      margin: 15px;
    }
  }

  &-preview {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__header {
      margin-bottom: 30px;
      padding-top: 3px;
      padding-left: 45px;

      &-title {
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;
        color: $topaz;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
      }
    }

    &__with-popout {
      display: flex;
      flex-flow: column;
      height: 100%;
      overflow: auto;
    }

    .json-content {
      white-space: pre-wrap;
    }

    &__error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 50px;

      .json-content {
        width: 100%;
      }
    }

    &__no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &__table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      color: $mulledWine;

      &-header {
        position: sticky;
        top: 0;
        z-index: 2;
        font-weight: 500;
        background-color: $white;
      }

      &-body {
        display: flex;
        flex-direction: column;
        min-width: 100%;
      }

      &-row {
        display: flex;
        min-width: 100%;
        padding: 15px 10px;
        border-bottom: $secondaryBorder;

        &:last-child {
          border-bottom: none;
        }

        &:not(.table-header) {
          &:hover {
            background-color: $alabaster;
          }
        }
      }

      &__header {
        flex: 1;
        width: 50px;
        padding: 0 5px;
      }

      &-content {
        flex: 1;
        width: 150px;
        padding: 0 5px;
      }
    }

    &__image {
      width: 100%;
    }

    iframe {
      min-height: 560px;
    }
  }
}

.expand-icon {
  position: absolute;
  top: -3px;
  left: 0;
}

.loader-container {
  position: relative;
  height: 100%;
  min-height: 150px;

  .wrapper {
    position: absolute;
    background-color: transparent;
  }
}
