@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

.accordion__container.open {
  height: auto;
}

.artifact {
  &-preview {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 40px;

    &__header {
      margin-bottom: 30px;
      padding-top: 3px;
      padding-left: 45px;

      &-title {
        display: flex;
        align-items: center;
        margin: 0 0 15px;
        color: colors.$topaz;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
      }
    }

    &__with-popout {
      display: flex;
      flex-flow: column;
      height: 100%;
      overflow: auto;
    }

    &__text {
      width: fit-content;
      max-width: 10000px;
      overflow-wrap: break-word;
    }

    .json-content {
      white-space: pre-wrap;
    }

    &__error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 50px;

      .json-content {
        width: 100%;
      }
    }

    &__no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      margin-top: 10px;
      line-height: 40px;
      text-align: center;
    }

    &__table {
      display: inline-table;
    }

    &__image {
      width: 100%;
    }

    iframe {
      min-height: 560px;
    }
  }
}

.expand-icon {
  position: absolute;
  top: -3px;
  left: 0;
}

.loader-container {
  position: relative;
  height: 100%;
  min-height: 150px;

  .loader-wrapper {
    position: absolute;
    background-color: transparent;
  }
}
