@use 'igz-controls/scss/borders';

.artifacts__preview {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 21px 26px;
  border-bottom: borders.$secondaryBorder;
}

.icon-popout {
  width: 100%;
  height: auto;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 0;
  text-align: end;
  cursor: pointer;
}
