@import '../../scss/colors';
@import '../../scss/borders';

.artifact-preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: auto;

  &__with-popout {
    margin-right: 33px;
  }

  &__header {
    margin: 30px 0;
  }

  .json-content {
    white-space: pre-wrap;
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 50px;

    .json-content {
      width: 100%;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: $mulledWine;

    &-header {
      position: sticky;
      top: 0;
      z-index: 2;
      font-weight: 500;
      background-color: $white;
    }

    &-body {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      max-height: 500px;
    }

    &-row {
      display: flex;
      min-width: 100%;
      padding: 10px;
      border-bottom: $secondaryBorder;

      &:last-child {
        border-bottom: none;
      }

      &:not(.table-header) {
        &:hover {
          background-color: $alabaster;
        }
      }
    }

    &__header {
      flex: 1;
      width: 50px;
      padding: 0 5px;
    }

    &-content {
      flex: 1;
      width: 100px;
      padding: 0 5px;
    }
  }

  &__image {
    width: 100%;
  }

  iframe {
    min-height: 560px;
  }
}

.loader-container {
  position: relative;
  height: 100%;
  min-height: 150px;

  .wrapper {
    position: absolute;
    background-color: transparent;
  }
}
