@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/colors';

.pipeline-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;

  .pipeline-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: borders.$secondaryBorder;

    .link-back {
      display: flex;
      align-items: center;
      overflow: hidden;

      &__icon {
        display: flex;
        align-items: center;
      }

      &__title {
        margin: 0 5px;
        overflow: hidden;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .pipeline-content {
    .graph-pane {
      &__row {
        display: flex;
        align-items: center;
        margin: 5px 25px;

        &-label {
          margin-right: 10px;
          color: colors.$spunPearl;
          font-weight: bold;
          white-space: nowrap;
        }

        &-value {
          overflow: hidden;
        }
      }
    }
  }
}
