@import '../../scss/colors.scss';

.round-icon-cp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    & > * {
      display: inline-flex;
    }

    &::before {
      content: '';
      width: inherit;
      height: inherit;
      background-color: $mulledWineThree;
      border-radius: 20px;
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
