@import '../../scss/colors.scss';

.round-icon-cp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    & > * {
      display: inline-flex;
    }

    & > i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:focus {
      background-color: $mulledWineThree;
      border-radius: 20px;
    }
  }
}
