@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$alertsRowHeight: $rowHeight;
$alertsHeaderRowHeight: $headerRowHeight;
$alertsRowHeightExtended: $rowHeightExtended;

.alerts-table {
  @include rowsHeight($alertsHeaderRowHeight, $alertsRowHeight, $alertsRowHeightExtended);
}

:export {
  alertsRowHeight: $alertsRowHeight;
  alertsHeaderRowHeight: $alertsHeaderRowHeight;
  alertsRowHeightExtended: $alertsRowHeightExtended;
}
