@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/shadows';

.notification {
  &_container {
    padding: 15px;
    color: $white;
    background-color: $darkPurple;
    border-radius: 2px;
    box-shadow: $tooltipShadow;
  }

  &_body {
    display: flex;
    align-items: center;

    &_icon {
      .success_icon {
        width: 14px;
        height: 14px;
      }

      .alert_icon {
        width: 4px;
        height: 14px;
      }
    }

    .notification_body_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      border-radius: 50%;
    }

    &_alert_icon {
      background-color: $burntSienna;
    }

    &_success_icon {
      background-color: $brightTurquoise;
    }

    &_button {
      margin-left: 15px;
      color: $portage;
      cursor: pointer;
    }
  }
}
