@import '../../scss/colors';
@import '../../scss/shadows';
@import '../../scss/borders';
@import '../../scss/mixins';

.chip-block-hidden {
  position: absolute;
  right: 0;
  border-radius: 2px;
  background-color: $white;
  box-shadow: $hiddenChipsBlockShadow;
  flex-direction: column;
  width: 165px;
  padding: 10px;
  z-index: 1000;
  &__chip {
    @include chip($parametersBorder);
  }
  &.top {
    bottom: 112%;
    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg);
      background-color: $white;
      position: absolute;
      bottom: -6px;
      right: 20px;
      z-index: -10;
    }
  }
  &.bottom {
    top: 112%;
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg);
      background-color: $white;
      position: absolute;
      top: -6px;
      right: 20px;
      z-index: -10;
    }
  }
}
