@import '../../scss/colors';
@import '../../scss/borders';

.input {
  position: relative;
  padding: 18px 17px;
  color: $primary;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;

  &:invalid {
    border: $errorBorder;
  }

  &-wrapper {
    position: relative;

    .input.input_required {
      border: $errorBorder;

      & ~ .input__warning {
        display: block;
      }
    }
  }

  &__label_info {
    top: 50%;
    transform: translate(0, -50%);
  }

  &__warning {
    position: absolute;
    top: 35%;
    right: 17px;
    display: none;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__tip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
  }

  &.active-input {
    padding: 27px 17px 9px;
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $topaz;
    text-transform: capitalize;
    background-color: transparent;
    pointer-events: none;

    &.active-label {
      top: 10px;
      font-size: 10px;
    }

    &-floating {
      position: absolute;
      top: 19px;
      left: 17px;
      color: $topaz;
      transition: 300ms ease all;
    }
  }
}
