@import "../../scss/colors";

.input {
  padding: 18px 17px;
  color: $primary;
  border: none;
  background-color: transparent;
  position: relative;

  &-wrapper {
    position: relative;
  }

  &__label_info {
    top: 50%;
    transform: translate(0, -50%);
  }
}
