@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.input {
  position: relative;
  width: 100%;
  margin-right: 22px;
  padding: 18px 16px;
  color: $primary;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;

  &:invalid {
    border: $errorBorder;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translateY(-45%);

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &-wrapper {
    position: relative;
    display: flex;

    .input.input_invalid {
      border: $errorBorder;

      & ~ .input__warning {
        display: block;
      }
    }

    .suggestion-list {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      margin: 0;
      padding: 7px 0;
      background-color: $white;
      border-radius: 4px;
      box-shadow: $previewBoxShadow;

      .suggestion-item {
        padding: 7px 15px;
        color: $mulledWine;
        list-style-type: none;

        &:hover {
          background-color: $alabaster;
          cursor: pointer;
        }
      }
    }
  }

  &__label_info {
    top: 50%;
    transform: translate(0, -40%);
  }

  &__tip {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }

  &.active-input {
    padding: 25px 16px 11px;
  }

  &__label {
    position: absolute;
    top: 15px;
    left: 16px;
    color: $topaz;
    text-transform: capitalize;
    background-color: transparent;
    pointer-events: none;

    &-mandatory {
      color: $amaranth;
    }

    &.active-label {
      top: 9px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;

      .input__label-mandatory {
        color: $topaz;
      }
    }

    &-floating {
      position: absolute;
      top: 15px;
      left: 16px;
      color: $topaz;
      transition: 300ms ease all;
    }
  }

  &-dense {
    height: 40px;

    & ~ .input__label {
      top: 11px;

      &.input__label-floating {
        top: 11px;
      }

      &.active-label {
        top: 6px;
      }
    }
  }

  &-normal {
    height: 48px;
  }

  &-medium {
    height: 52px;

    & ~ .input__label {
      top: 17px;

      &.input__label-floating {
        top: 17px;
      }

      &.active-label {
        top: 11px;
      }
    }
  }

  &-chunky {
    height: 56px;

    & ~ .input__label {
      top: 20px;

      &.input__label-floating {
        top: 20px;
      }

      &.active-label {
        top: 13px;
      }
    }
  }
}
