@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/mixins';

.input {
  @include mixins.fieldWrapperOld;

  &::placeholder {
    color: colors.$spunPearl;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: colors.$spunPearl;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: colors.$spunPearl;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: colors.$spunPearl;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: colors.$spunPearl;
  }

  &.without-border {
    border: none;
  }

  &:invalid {
    border: borders.$errorBorder;
  }

  &:disabled {
    color: colors.$spunPearl;
    cursor: not-allowed;
  }

  &_rules {
    &-invalid {
      padding-right: 30px !important;
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    display: block;
    transform: translateY(-45%);
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &-short {
    padding-right: 33px;

    & ~ .input__warning {
      right: 35px;
    }
  }

  &-wrapper {
    position: relative;
    display: flex;

    .input.input_invalid {
      border: borders.$errorBorder;

      & ~ .input__warning {
        display: block;
      }
    }

    .suggestion-list {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      margin: 0;
      padding: 7px 0;
      background-color: colors.$white;
      border-radius: 4px;
      box-shadow: shadows.$previewBoxShadow;

      .suggestion-item {
        padding: 7px 15px;
        color: colors.$mulledWine;
        list-style-type: none;

        &:hover {
          background-color: colors.$alabaster;
          cursor: pointer;
        }
      }
    }
  }

  &__label_info {
    top: 50%;
    transform: translate(0, -40%);
  }

  &__tip {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &.active-input {
    padding: 25px 33px 11px 16px;
  }

  &__label {
    position: absolute;
    top: 15px;
    left: 16px;
    color: colors.$topaz;
    text-transform: capitalize;
    background-color: transparent;
    pointer-events: none;

    label {
      display: flex;
      align-items: center;
    }

    &-mandatory {
      margin-left: 2px;
      color: colors.$amaranth;

      &_disabled {
        color: colors.$spunPearl;
      }
    }

    &.active-label {
      top: 8px;
      height: auto;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      pointer-events: auto;

      .input__label-mandatory,
      .input__label-mandatory_disabled {
        font-size: 13px;
      }
    }

    &-floating {
      position: absolute;
      top: unset;
      left: 16px;
      display: flex;
      align-items: center;
      height: 100%;
      color: colors.$topaz;
      transition: 300ms linear all;
    }

    &_disabled {
      color: colors.$spunPearl;
    }
  }

  &__link {
    &-icon {
      display: inline-flex;
      margin-left: 3px;

      & > *,
      a {
        display: inline-flex;
      }

      a {
        transform: translateY(-1px);
      }

      svg {
        width: 12px;
        height: 12px;

        path {
          fill: colors.$cornflowerBlue;
        }
      }
    }
  }

  &-dense {
    height: 40px;

    & ~ .input__label {
      top: 11px;

      &.input__label-floating {
        top: unset;
      }

      &.active-label {
        top: 6px;
      }
    }
  }

  &-normal {
    height: 48px;
  }

  &-medium {
    height: 52px;

    & ~ .input__label {
      top: 17px;

      &.input__label-floating {
        top: unset;
      }

      &.active-label {
        top: 11px;
      }
    }
  }

  &-chunky {
    height: 56px;

    & ~ .input__label {
      top: 20px;

      &.input__label-floating {
        top: unset;
      }

      &.active-label {
        top: 13px;
      }
    }
  }
}
