@import '../../scss/colors';
@import '../../scss/borders';

.secret {
  &__actions {
    visibility: hidden;
  }

  &__cell {
    display: flex;
    align-items: center;
    padding: 10px;
    color: $primary;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    border-bottom: $primaryBorder;

    &:hover {
      background-color: $alabaster;

      .secret__actions {
        visibility: visible;
      }
    }
  }
}
