@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.uploadfile {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: $uploadFileIdleBorder;
    border-radius: 4px;

    &__text {
      margin: 5px;
      color: $topaz;

      &-browse {
        margin-left: 5px;
        color: $cornflowerBlueTwo;
        cursor: pointer;
      }
    }

    &__file {
      margin: 5px;

      &-name {
        margin-right: 5px;
        color: $topaz;
      }

      &-size {
        color: rgba($black, 0.2);
      }
    }

    &__new-file {
      color: $cornflowerBlueTwo;
      cursor: pointer;
    }

    &.on-focus {
      position: relative;
      margin: -1px;
      border: $uploadFileDragOverBorder;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }
    }

    &.selected-file {
      border: $uploadFileDroppedBorder;
    }

    .warning-container {
      position: absolute;
      top: 10px;
      right: 10px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &_required {
    border: 1px dashed $amaranth;
  }
}
