@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/variables';

.chips-input-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  padding: 4px 0;
  background-color: colors.$white;
  border: borders.$primaryBorder;
  border-radius: variables.$mainBorderRadius;

  .suggestion-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 5;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: colors.$white;
    border: borders.$primaryBorder;
    border-radius: variables.$mainBorderRadius;

    .suggestion-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;

      &:not(.disabled):hover {
        background-color: colors.$alabaster;
        cursor: pointer;
      }

      &.disabled {
        .suggestion-row-value {
          color: colors.$spunPearl;
        }
      }

      .suggestion-row-value {
        display: flex;
        align-items: center;
      }

      .suggestion-row-sub-label {
        color: colors.$spunPearl;
        font-style: italic;
      }

      .suggestion-row-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        margin-right: 5px;

        svg {
          rect,
          path {
            fill: rgba(colors.$black, 0.2);
          }
        }
      }
    }
  }
}
