@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.item-artifacts {
  &__arrow {
    position: absolute;
    top: 22px;
    left: 10px;
  }

  &__accordion-wrapper {
    height: 70px;
  }

  &__row {
    position: relative;
    display: flex;
    min-height: 70px;
    padding-left: 13px;
    border-bottom: $tableBorder;

    &-item {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 100px;
      padding: 12px 26px;

      &:first-child {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-width: 170px;
        color: $cornflowerBlue;
      }

      &_long {
        flex: 2;
      }

      &_short {
        flex: 0.3;
        min-width: 75px;
      }

      .artifact-details-link {
        color: grey;
        font-size: 10px;
        cursor: pointer;
      }
    }

    .icon {
      &-dowload,
      &-popout {
        cursor: pointer;
      }
    }
  }

  .accordion__container.open {
    box-shadow: $previewBoxShadow;
  }

  &__preview {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 21px 26px;
    overflow: auto;
    border-bottom: $tableBorder;
  }
}
