@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.item-artifacts {
  height: 100%;

  &__arrow {
    position: absolute;
    top: 22px;
    left: 10px;
  }

  &__accordion-wrapper {
    height: 70px;
  }

  &__row {
    position: relative;
    display: flex;
    min-height: 50px;
    border-bottom: $secondaryBorder;

    &-item {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 100px;
      padding: 8px 26px;

      &:first-child {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-width: 170px;
      }

      &_long {
        flex: 2;
      }
    }
  }

  .icon-download {
    cursor: pointer;
  }

  &__name {
    width: 100%;
    cursor: pointer;
  }
}
