@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.item-artifacts {
  height: 100%;

  .artifact-preview {
    height: 300px;
    overflow: auto;
  }

  .table {
    .table-body__cell {
      a {
        width: auto;
      }
    }

    .actions-cell {
      min-width: 140px;
      max-width: 140px;
    }
  }
}
