@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/borders';

.pop-up-dialog {
  width: 477px;
  max-height: 90vh;
  padding: 20px;
  overflow-y: auto;
  background-color: $white;
  border-radius: $mainBorderRadius;
  box-shadow: 0 6px 26px rgba($black, 0.2);

  &__buttons_wrapper {
    display: flex;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $mineshaftTwo;
    z-index: 999;

    &.custom-position {
      width: auto;
      height: auto;
      background: unset;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-height: 30px;
    margin-bottom: 20px;

    &-text {
      width: 100%;
      color: $primary;
      font-size: 24px;
      line-height: 28px;
      word-break: break-word;
    }

    &-close {
      width: 14px;
      height: 14px;
      margin: 5px 0 5px auto;
      cursor: pointer;
    }
  }

  &__footer-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__btn {
    &_cancel {
      margin: 0 10px;
    }

    &_close {
      position: absolute;
      top: 0;
      right: -7px;
    }
  }

  &__form-input {
    width: 100%;
  }
}
