@import '../../scss/colors';
@import '../../scss/borders';

.pop-up-dialog {
  width: 477px;
  height: auto;
  padding: 20px;
  background-color: $white;

  &__overlay {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $mineshaftTwo;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;

    &-text {
      color: $primary;
      font-size: 24px;
      line-height: 28px;
    }

    &-close {
      cursor: pointer;
    }
  }

  &__footer-container {
    display: flex;
    justify-content: flex-end;
  }
}
