@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/borders';

.content-menu {
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: 40px;

  &__tabs-wrapper {
    overflow-x: hidden;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    transition: 0.2s;

    @include resetSpaces;
  }

  &__tab {
    align-items: center;
    margin: 0 15px 0 0;
    padding: 5px;
    color: $topaz;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
    }

    &-small {
      font-size: 16px;

      @media screen and (min-width: 1300px) {
        font-size: 18px;
      }
    }

    &-medium {
      font-size: 18px;

      @media screen and (min-width: 1300px) {
        font-size: 20px;
      }
    }

    &-large {
      font-size: 20px;

      @media screen and (min-width: 1300px) {
        font-size: 22px;
      }
    }

    &::after {
      display: block;
      width: 100%;
      padding-bottom: 5px;
      border-width: 2px;
      border-bottom: 2px solid $cornflowerBlue;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      content: '';
    }

    &:hover:not([class*='_active']) {
      &::after {
        transform: scale(1);
        opacity: 0.6;
      }
    }

    & > * {
      position: relative;
      display: inline-flex;
      align-items: center;

      &.content-menu__tab-tip {
        gap: 5px;
      }

      &.content-menu__tab-icon {
        gap: 5px;

        & > * {
          svg {
            width: 20px;
            height: 20px;

            path {
              fill: $topaz;
            }
          }
        }
      }
    }

    &_active {
      color: $primary;
      font-weight: 700;
      pointer-events: none;

      &::after {
        transform: scale(1);
        opacity: 1;
      }

      a {
        cursor: default;
      }
    }
  }

  &_disabled {
    pointer-events: none;

    a {
      cursor: not-allowed;
    }
  }

  &__preview {
    color: $spunPearl;
    font-size: 10px;
  }

  .tabs-slider {
    &__arrow {
      display: flex;
      width: 30px;
      min-width: fit-content;
      max-width: 24px;
      border-radius: 8px;

      &_left {
        padding-top: 3px;
        transform: rotate(180deg);
      }

      &_right {
        padding-bottom: 3px;
      }

      &_hidden {
        display: none;
      }

      &_disabled {
        pointer-events: none;

        & path {
          fill: $spunPearl;
        }
      }

      &:hover:not(.details-menu__arrow_disabled) {
        background-color: $mulledWineThree;
        cursor: pointer;
      }

      svg {
        align-self: center;
      }
    }
  }

  &.style2 {
    border-bottom: none;

    .content-menu {
      &__tab {
        justify-content: center;
        width: 148px;
        height: 64px;
        color: $primary;
        font-size: 15px;
        text-align: center;
        border: 1px solid $amethyst;
        border-radius: 8px;

        &:not(:last-child) {
          margin-right: 12px;
        }

        &_active {
          color: $amethyst;
          background-color: $frenchLilac;
          border: 1px solid transparent;
        }
      }
    }
  }
}
