@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';

.content__menu {
  position: absolute;
  top: -38px;
  left: 0;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;

    @include resetSpaces;

    &_item {
      color: $topaz;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: capitalize;
      border-bottom: 3px solid transparent;

      a {
        display: block;
        padding: 8px 24px;
      }
    }

    .active {
      color: $cornflowerBlue;
      border-bottom: $activeJobTabBorder;
    }
  }
}
