@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';

.content-menu {
  position: absolute;
  top: -36px;
  left: 0;
  width: 100%;
  min-width: 510px;
  border-bottom: $dividerBorder;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style-type: none;

    @include resetSpaces;
  }

  &__item {
    color: $topaz;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;

    &::after {
      content: '';
      border-bottom: $activeJobTabBorder;
      display: block;
      width: 100%;
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover:not([class*='_active']) {
      &::after {
        opacity: 0.6;
        transform: scale(1);
      }
    }

    a {
      display: block;
      padding: 8px 24px;
      position: relative;

      &.content-menu__item_hasIcon {
        padding-left: 45px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &_active {
      color: $malibu;

      &::after {
        opacity: 1;
        transform: scale(1);
      }

      a {
        cursor: default;
      }

      .content-menu__item-icon {
        path {
          fill: $malibu;
        }
      }
    }

    &__preview {
      color: $spunPearl;
      font-size: 10px;
    }

    &-icon {
      position: absolute;
      left: 15px;
      top: 4px;
      bottom: 0;
    }
  }
}
