@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/borders';

.content-menu {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;

    @include resetSpaces;
  }

  &__item {
    margin: 0 10px 0 0;
    color: $topaz;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
    }

    &::after {
      display: block;
      width: 100%;
      border-bottom: $activeJobTabBorder;
      border-width: 2px;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      content: '';
    }

    &:hover:not([class*='_active']) {
      &::after {
        transform: scale(1);
        opacity: 0.6;
      }
    }

    a {
      display: block;
      padding: 5px;
      position: relative;

      &.content-menu__item-icon {
        padding-left: 30px;
        & > * {
          position: absolute;
          left: 5px;
          bottom: 2px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &_active {
      color: $primary;
      font-weight: 700;

      &::after {
        transform: scale(1);
        opacity: 1;
      }

      a {
        cursor: default;
      }

      .content-menu__item-icon {
        path {
          fill: $cornflowerBlue;
        }
      }
    }

    &__preview {
      color: $spunPearl;
      font-size: 10px;
    }
  }
}
