@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';

.content-menu {
  position: absolute;
  top: -38px;
  left: 0;
  width: 100%;
  min-width: 510px;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;

    @include resetSpaces;
  }

  &__item {
    color: $topaz;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;

    &::after {
      content: '';
      border-bottom: $activeJobTabBorder;
      display: block;
      width: 100%;
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover:not([class*='_active']) {
      &::after {
        opacity: 0.6;
        transform: scale(1);
      }
    }

    a {
      display: block;
      padding: 8px 24px;
    }

    &_active {
      color: $cornflowerBlue;

      &::after {
        opacity: 1;
        transform: scale(1);
      }

      a {
        cursor: default;
      }
    }

    &__preview {
      color: $spunPearl;
      font-size: 10px;
    }
  }
}
