@use 'igz-controls/scss/mixins';
@use 'igz-controls/scss/colors';

.jobs-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 18px 24px;

  .stats {
    flex: 1;
    align-self: center;

    @include mixins.stats();

    &-card {
      min-height: 144px;
      border: 2px solid transparent;
      cursor: pointer;
    }

    &__counter {
      display: block;
      flex: 1;
      color: colors.$primary;
      font-weight: 700;
      font-size: 3em;
      text-align: center;
    }

    &__subtitle {
      display: block;
      flex: 1;
      margin-left: 5px;
      color: colors.$topaz;
      font-weight: normal;
      font-size: 1.25rem;
      text-align: center;

      i {
        margin-bottom: 2px;
        margin-left: 5px;
      }
    }
  }

  .data-ellipsis {
    flex: 1;
  }
}
