@use 'igz-controls/scss/variables';
@use '/src/scss/mixins';

$filesRowHeight: variables.$rowHeight;
$filesHeaderRowHeight: variables.$headerRowHeight;
$filesRowHeightExtended: variables.$rowHeightExtended;

.files-table {
  @include mixins.rowsHeight($filesHeaderRowHeight, $filesRowHeight, $filesRowHeightExtended);
}
