@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$filesRowHeight: $rowHeight;
$filesHeaderRowHeight: $headerRowHeight;
$filesRowHeightExtended: $rowHeightExtended;

.files-table {
  @include rowsHeight($filesHeaderRowHeight, $filesRowHeight, $filesRowHeightExtended);
}

:export {
  filesRowHeight: $filesRowHeight;
  filesHeaderRowHeight: $filesHeaderRowHeight;
  filesRowHeightExtended: $filesRowHeightExtended;
}
