@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';
@include mixins.newItemSidePanel;

.functions-panel {
  .accordion {
    &__container.open {
      .accordion__body {
        min-height: 290px;
      }
    }
  }

  .btn {
    &_cancel {
      margin-right: 10px;
    }

    &_save {
      margin-right: 10px;
    }
  }

  &__buttons-wrapper {
    display: flex;
  }

  .access-key {
    height: 64px;
    padding: 22px 40px;
  }

  .panel-section {
    &__body {
      margin-bottom: 0;
    }
  }
}

.hidden {
  display: none;
}
