@import '../../scss/colors';
@import '../../scss/borders';

.edit-label {
  &-container {
    display: inline-flex;
    margin: 5px 2px;
    padding: 7px 9px;
    border: $labelBorder;
    border-radius: 20px;

    &_edited {
      padding-right: 18px;
      border: $labelEditBorder;
    }

    input {
      display: flex;
      margin: 0 5px;
      padding: 0;
      background-color: transparent;
      border: none;

      &.item_edited {
        &::placeholder {
          color: $spunPearl;
        }
      }

      &::placeholder {
        color: $primary;
      }
    }
  }

  &-separator {
    color: $spunPearl;
  }

  &__icon-close {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: scale(0.7);
    }
  }
}
