@use 'igz-controls/scss/colors';

.breadcrumbs__item {
  position: relative;
  max-width: 700px;
  color: colors.$topaz;

  &:last-child {
    color: colors.$mulledWine;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
}

.breadcrumbs__separator {
  display: flex;
  margin: 0 8px;
  color: colors.$topaz;
  transition: transform 0.2s linear;
  user-select: none;

  &_active {
    transform: rotate(90deg);
  }
}
