@import '../../scss/colors.scss';
@import '../../scss/mixins.scss';

.select {
  &__icon {
    display: flex;
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 49px;
    padding: 0 15px;
    background-color: $white;

    .checkbox {
      flex: 1;
      height: 100%;

      svg {
        margin: 0;
      }
    }

    &:hover {
      background-color: $alabaster;
      cursor: pointer;
    }

    .status {
      margin: 0 10px;
    }

    .all {
      margin: 0;

      @include jobStatus(none);
    }
  }
}
