@import '../../scss/colors';
@import '../../scss/mixins';

.select {
  &__icon {
    display: flex;
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    padding: 0 15px;

    &.hidden {
      display: none;
    }

    .checkbox {
      flex: 1;
      height: 100%;

      svg {
        margin: 0;
      }
    }

    &:hover {
      background-color: $alabaster;
      cursor: pointer;
    }

    .status {
      margin: 0 10px;
    }

    .all {
      margin: 0;

      @include statusState(none);
    }

    .label-row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .checkmark {
      margin: 0 0 0 10px;

      path {
        fill: $chateauGreen;
      }
    }
  }
}
