@import '../../scss/colors';

.table-actions-container {
  display: none;
  position: relative;
  &__body {
    z-index: 999;
    width: 150px;
    position: absolute;
    bottom: -55px;
    right: 15px;
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
  }
  &__option {
    display: flex;
    padding: 17px;
    flex: 1;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
    }
  }
  &__icon {
    width: 24px;
    margin-right: 5px;
  }
}
