@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.table-actions-container {
  display: none;
  position: relative;

  &__body {
    z-index:4;
    width: 150px;
    position: absolute;
    right: 15px;
    background: $white;
    border: $primaryBorder;
    box-shadow: $filterShadow;
    border-radius: 2px;
  }

  &__option {
    display: flex;
    padding: 10px;
    flex: 1;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $alabaster;
    }
  }

  &__icon {
    svg {
      width: 24px;
      margin-right: 5px;
    }
  }
}
