@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.table-actions-container {
  position: relative;
  display: none;

  &__body {
    position: absolute;
    right: 15px;
    z-index: 4;
    width: 150px;
    background: $white;
    border: $primaryBorder;
    border-radius: $mainBorderRadius;
    box-shadow: $filterShadow;
  }

  &__option {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $alabaster;
    }

    &_disabled {
      cursor: not-allowed;
    }
  }

  &__icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;

    svg {
      path:first-child {
        fill: $topaz;
      }
    }

    &_visible {
      display: flex;
    }
  }
}
