@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.item-artifacts__modal-preview {
  position: relative;
  width: 100%;
  overflow-y: auto;

  .preview {
    &-body {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;

      &__download,
      &__close {
        display: flex;
        flex: 0.2;
        cursor: pointer;
      }

      &_close {
        img {
          margin: auto;
          cursor: pointer;
        }
      }

      .preview-table__body {
        max-height: initial;
      }

      button {
        font-family: Roboto, sans-serif;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      [class*='btn'] {
        display: flex;
        align-items: center;
        height: 49px;
        padding: 10px 16px;
        font-size: 14px;
        border-radius: 2px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 10px;
      color: $mulledWine;
      border-bottom: $secondaryBorder;

      .item {
        &-data {
          display: flex;
          flex: 1;
          margin-left: 30px;

          &__header {
            font-weight: bold;
          }

          &__name {
            color: $cornflowerBlue;
          }

          &__path {
            flex: 2;
          }

          &__size {
            margin-right: 5px;
          }
        }
      }
    }

    &-message {
      margin: 15px 0 10px;
      color: $mulledWine;
    }
  }
}

.preview-modal {
  .pop-up-dialog {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
