@import '../../scss/colors.scss';
@import '../../scss/borders.scss';
@import '../../scss/shadows.scss';

.item-artifacts__modal-preview {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: rgba($black, 0.5);

  .preview {
    &-body {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;
      overflow-y: scroll;
      background-color: $white;
      border-radius: 2px;
      box-shadow: $previewBoxShadow;

      &__download,
      &__close {
        display: flex;
        flex: 0.2;
        cursor: pointer;
      }

      &_close {
        img {
          margin: auto;
          cursor: pointer;
        }
      }
    }

    &-item {
      display: flex;
      flex: 0.5;
      align-items: center;
      padding: 10px;
      color: $mulledWine;
      border-bottom: $tableBorder;

      .item {
        &-data {
          display: flex;
          flex: 1;
          margin-left: 30px;

          &__name {
            color: $cornflowerBlue;
          }

          &__path {
            flex: 2;
          }
        }
      }
    }
  }
}
