@use 'igz-controls/scss/borders';

.item-inputs {
  .artifact-preview {
    height: 300px;
    overflow: auto;
  }

  .table {
    .table-body__cell {
      a {
        width: auto;
      }
    }

    .actions-cell {
      min-width: 100px;
      max-width: 100px;
    }
  }
}
