@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';

.collections-list {
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    background-color: $white;

    &-item {
      margin: 0;
      padding: 10px 0;
      font-size: 18px;
      border-bottom: $secondaryBorder;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      height: 45px;
      border-bottom: $secondaryBorder;
    }
  }
}
