@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';

.collections-list {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: $secondaryBorder;
    background-color: $white;

    &-item {
      flex: 0;
      min-width: 300px;
      margin: 0;
      padding: 10px 0;
      font-size: 18px;
    }
  }

  &__body {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    &-item {
      display: flex;
      flex: 1;
      width: 100%;
      border-bottom: $secondaryBorder;

      [class^='collections-list__body-'] {
        min-width: 300px;
        margin: 0;
        padding: 10px 0;
      }
    }
  }
}
