.validation_option {
  display: flex;
  align-items: center;
  margin: 0.6rem 0;
  font-size: 0.875rem;
  .validation__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    .valid__icon {
      width: 14px;
      height: 15px;
      path {
        fill: var(--ml-alert-green);
      }
    }
    .invalid__icon {
      width: 12px;
      height: 12px;
      path {
        fill: var(--ml-alert-red);
      }
    }
  }
}
