@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$functionsRowHeight: $rowHeight;
$functionsHeaderRowHeight: $headerRowHeight;
$functionsRowHeightExtended: $rowHeightExtended;

.functions-table {
  @include rowsHeight($functionsHeaderRowHeight, $functionsRowHeight, $functionsRowHeightExtended);

  .table {
    &-row {
      &:not(.parent-row_expanded) > * {
        &:first-child {
          padding-left: 30px;
        }
      }
    }
  }
}

:export {
  functionsRowHeight: $functionsRowHeight;
  functionsHeaderRowHeight: $functionsHeaderRowHeight;
  functionsRowHeightExtended: $functionsRowHeightExtended;
}
