@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$functionsRowHeight: $rowHeight;
$functionsHeaderRowHeight: $headerRowHeight;
$functionsRowHeightExtended: $rowHeightExtended;

.functions-table {
  @include rowsHeight($functionsHeaderRowHeight, $functionsRowHeight, $functionsRowHeightExtended);
}

:export {
  functionsRowHeight: $functionsRowHeight;
  functionsHeaderRowHeight: $functionsHeaderRowHeight;
  functionsRowHeightExtended: $functionsRowHeightExtended;
}
