@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$functionsRowHeight: variables.$rowHeight;
$functionsHeaderRowHeight: variables.$headerRowHeight;
$functionsRowHeightExtended: variables.$rowHeightExtended;

:root {
  --functionsRowHeight: #{$functionsRowHeight};
  --functionsHeaderRowHeight: #{$functionsHeaderRowHeight};
  --functionsRowHeightExtended: #{$functionsRowHeightExtended};
}

.functions-table {
  @include mixins.rowsHeight(
    $functionsHeaderRowHeight,
    $functionsRowHeight,
    $functionsRowHeightExtended
  );

  .table {
    &-row {
      &:not(.parent-row_expanded) > * {
        &:first-child {
          padding-left: 30px;
        }
      }
    }
  }
}
