@import "../../scss/variables";
@import "../../scss/mixins";

.jobs__table__item {
  position: absolute;
  top: 0;
  left: 14%;
  background-color: $white;
  width: 86%;
  height: 100%;
  overflow-y: scroll;
  border-left: $tableBorder;
color: $tableFontColor;
  &_opened {
    height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    &_data {
      h3 {
        margin: 27px 24px 10px;
        font-size: 24px;
        line-height: 28px;
      }
      span {
        font-size: 15px;
        line-height: 18px;
        margin-left: 24px;
      }
    }
    &_buttons {
      a {
        display: inline-block;
        margin: 21px;
      }
    }
  }
  &__menu {
    margin: 29px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    border-bottom: $tableBorder;
    &_item {
      padding: 8px 24px;
      color: $mainGreyColor;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 3px solid transparent;
    }
    .active {
      border-bottom-color: $mainGreenColor;
      color: $mainGreenColor;
    }
  }
  &_details {
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    &_item {
      border-bottom: $tableBorder;
      padding: 18px 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      &_header {
        min-width: 100px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
      }
      i {
        margin-left: 21px;
      }
      &_data {
        padding-left: 16px;
        &__parameters {
          @include chip($parametersBorder);
          margin: 8px 8px 0 0;
        }
        &__labels {
          @include chip($labelBorder);
          margin: 8px 8px 0 0;
        }
      }
    }
  }
  &_inputs {
    @include resetSpaces;
    &_item {
      border-bottom: $tableBorder;
      padding: 27px 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        min-width: 237px;
      }
    }
  }
  &_artifacts {
    &__row {
      min-height: 70px;
      border-bottom: $tableBorder;
      display: flex;
      flex-direction: row;
      position: relative;
      &_item {
        padding: 15px 26px;
        flex: 0 0 19%;
        max-width: 19%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:first-child {
          white-space: nowrap;
          cursor: pointer;
        }
        p {
          margin: 0 0 5px;
          white-space: pre-wrap;
        }
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:focus, &:active {
            outline: none;
            box-shadow: none;
          }
        }
        img {
          margin-bottom: -2px;
          margin-right: 8px;
          transition: all .3s ease-in-out;
          display: inline-block;
        }
        svg {
          display: none;
        }
        &.progress {
          svg {
            display: block;
          }
          img {
            display: none;
          }
        }
        &_long {
          flex: 0 0 35%;
          max-width: 35%;
        }
        &_short {
          flex: 0 0 8%;
          max-width: 8%;
        }
      }
    }
      .view .jobs__table__item_artifacts__preview {
        display: flex;
        flex-direction: row;
      }
      .view {
        flex-direction: column;
        position: relative;
        box-shadow: $previewBoxShadow;
        div {
          img.arrow {
            transform: rotate(90deg);
          }
        }
      }
    .jobs__table__item_results__table {
      td {
        padding: 19px 16px;
      }
    }
    &__preview {
      display: none;
      padding: 21px 26px;
      border-bottom: $tableBorder;
      &_table {
        width: 100%;
        &__row {
          display: flex;
          flex-direction: row;
          padding: 10px;
          border-bottom: $tableBorder;
          &:last-child {
            border-bottom: none;
          }
          &__content {
            flex: 1;
          }
        }
        &__header {
          flex: 1;
        }
      }
      pre {
        white-space: pre-wrap;
      }
    }
  }
  &_results {
    padding: 0 31px;
    &__table {
      text-align: left;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      tr {
        height: 24px;
        border-bottom: 1px solid rgba(72, 63, 86, 0.12);
      }
      th {
        @include tableHeader;
        padding: 10px 15px;
      }
      td {
        padding: 19px 16px;
      }
      i {
        margin: 0 15px;
      }
      &_medal {
        display: flex;
        align-items: center;
        img {
          margin-left: 10px;
        }
      }
    }
  }
  &_logs {
    white-space: pre-wrap;
    background-color: $black;
    color: $white;
    padding: 5px;
    position: relative;
    min-height: 400px;
    font-family: "Source Code Pro","Courier New",monospace;
    button {
      background-color: $white;
      border: 1px solid $mainGreenColor;
      color: $mainGreenColor;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
      padding: 8px 12px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 32px;
      right: 29px;
      cursor: pointer;
      img {
        margin-right: 6px;
      }
      &:active, &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}
