@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.details-metadata {
  @include detailsMetadataStatisticsTable;

  &__table {
    &-header {
      padding: 15px 0;
    }

    .metadata-cell {
      &__type {
        &_chip {
          flex: 1.5;
        }

        &_icon {
          flex: 0.1;
          min-width: 33px;
        }

        &_text {
          flex: 1;
        }
      }

      &__name {
        flex: 1.5;
      }

      &__type {
        flex: 0.5;
      }

      &__validators {
        flex: 2;
      }

      &_hidden {
        display: none;
      }
    }
  }
}
