@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.details-metadata {
  padding: 20px;

  @include detailsMetadataStatisticsTable;

  &__table {
    .metadata-cell {
      &__type {
        &_chip {
          flex: 1.5;
        }

        &_icon {
          flex: 0.1;
          min-width: 33px;
        }

        &_text {
          flex: 1;
        }
      }

      &__name {
        flex: 1.5;
      }

      &__type {
        flex: 0.5;
      }

      &__validators {
        flex: 2;
      }

      &_hidden {
        display: none;
      }
    }
  }
}
