@import '../../scss/variables.scss';
.menu {
  &_container {
    display: flex;
    .active {
      color: $mainGreenColor;
      border-bottom: 3px solid $mainGreenColor;
    }
  }
  &_item {
    padding: 8px 24px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: $mainGreyColor;
  }
}

.artifacts_table {
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &_container {
    position: relative;
    flex-grow: 1;
    #yaml_modal {
      display: flex;
    }
  }
}
