@import '../../scss/mixins.scss';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.sort {
  position: relative;
  min-width: 80px;
  background-color: transparent;

  &_down {
    width: 20px;
    transform: rotate(-90deg);
  }

  &_up {
    width: 20px;
    transform: rotate(90deg);
  }
}
