@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.schedule-job {
  &-normal {
    &_container {
      border-radius: 4px;
      padding: 24px;
      border: $primaryBorder;
      background-color: $white;

      h3 {
        color: $primary;
        text-transform: uppercase;
      }

      .input {
        &_container {
          display: flex;
        }
      }

      .checkbox_container {
        display: flex;
        padding: 10px 10px 10px 0;
      }

      .input_container {
        input {
          padding-top: 27px;
          padding-bottom: 10px;
        }

        .input-wrapper {
          border: $primaryBorder;
          border-radius: 4px;
          margin-right: 15px;
        }

        .date-picker_input_label,
        .time-picker_input_label {
          position: absolute;
          left: 25px;
          top: 10px;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          color: $topaz;
        }
      }
    }
  }
}
