@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.chips {
  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-cell {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 100%;

    .fixed-max-width {
      max-width: 100%;
    }

    .chip {
      &-block {
        position: relative;
        max-width: 100%;
      }
    }

    .button-add {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px 0 2px 0;
      border-radius: 32px;

      &-background {
        @include chipBackground(true);
      }

      &_border {
        @include chipBorder();
      }

      &-density {
        @include chipDensity(false, true);
      }

      &-font {
        @include chipsFont(ButtonAddChip);
      }
    }
  }
}
