@import '../../scss/colors';
@import '../../scss/borders';

.chips {
  &-wrapper {
    display: flex;
    flex: 1;
    align-items: center;

    .chip {
      &_short {
        max-width: 100px;
        margin: 0;
        font-style: normal;
      }

      &-block {
        position: relative;
        display: inline-block;

        .tooltip-wrapper {
          max-width: 230px;
        }
      }

      &__delimiter {
        svg {
          margin-bottom: -7px;
        }
      }

      &_hidden {
        max-width: 195px;
      }
    }

    .button-add {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 10px 0 10px 10px;
      border: $labelBorder;
      border-radius: 32px;

      &:hover {
        background-color: $amethyst;

        svg {
          rect,
          path {
            fill: $white;
          }
        }
      }
    }
  }
}
