.chips {
  &-wrapper {
    display: flex;
    flex: 1;

    .chip {
      &_short {
        max-width: 100px;
        margin: 0;
        font-style: normal;
      }

      &-block {
        position: relative;
        display: inline-block;

        .tooltip-wrapper {
          max-width: 200px;

          .chips_button {
            cursor: pointer;
          }
        }
      }

      &_hidden {
        max-width: 195px;
      }
    }
  }
}
