@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/borders';

.combobox {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  border: borders.$primaryBorder;
  border-radius: 4px;

  &_disabled {
    border-color: colors.$spunPearl;
    cursor: not-allowed;
  }

  &_invalid {
    border: borders.$errorBorder;
  }

  &-list {
    min-width: 140px;
    max-height: 300px;
    margin: 0;
    overflow: auto;
    list-style-type: none;

    &__option {
      padding: 8px 15px;
      word-break: break-all;
      cursor: pointer;

      &:hover {
        background-color: colors.$alabaster;
      }
    }
  }

  &-dropdown {
    position: absolute;
    top: 40px;
    z-index: 5;
    display: none;
    max-width: 350px;
    background-color: colors.$white;
    box-shadow: shadows.$previewBoxShadow;
    opacity: 0;

    &_visible {
      display: block;
      opacity: 1;
      animation: show 100ms linear;
    }

    &__list {
      padding: 0 0 10px;
    }

    &__search {
      display: flex;
      align-items: center;
      margin: 0 9px;
      border-bottom: borders.$dividerBorder;

      &-input {
        width: 100%;
        padding: 12px 0 10px;
        border: none;
        border-radius: unset;

        &::placeholder {
          font-style: italic;
        }
      }
    }
  }

  &-select {
    display: flex;
    max-width: 95px;

    &_short {
      max-width: 32px;
    }

    &__body {
      position: absolute;
      top: 100%;
      z-index: 5;
      display: none;
      max-width: 220px;
      margin-top: 5px;
      background-color: colors.$white;
      box-shadow: shadows.$previewBoxShadow;

      &-list {
        padding: 0;
      }
    }

    &__header {
      position: relative;
      min-height: 17px;
      cursor: pointer;

      .combobox_disabled & {
        cursor: not-allowed;

        & > * {
          color: colors.$spunPearl;
        }
      }

      &-label {
        color: colors.$topaz;
        user-select: none;
        pointer-events: none;

        &_mandatory {
          color: colors.$amaranth;
        }
      }
    }

    &_open {
      .combobox-select__body {
        display: block;
      }
    }
  }

  &-icon {
    cursor: pointer;

    .combobox_disabled & {
      cursor: not-allowed;

      & > * {
        fill: colors.$spunPearl;
      }
    }

    &_open {
      transform: rotate(90deg);
      transform-origin: center center;
      transition: transform 200ms linear;
    }
  }

  &-input {
    display: flex;
    flex: 3 1;
    width: 100%;
    padding: 18px 5px 18px 0;
    border: none;
    border-radius: unset;

    &__label {
      position: absolute;
      top: 18px;
      left: 54px;
      color: colors.$topaz;
      user-select: none;
      pointer-events: none;
    }

    &:disabled {
      color: colors.$spunPearl;
      background-color: transparent;
    }
  }

  &-warning {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    transform: translateY(-45%);

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
