@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/shadows';

.download-container {
  position: relative;
  z-index: 9;
  align-self: flex-end;
  opacity: 0;
  width: 220px;
  min-height: 90px;
  max-height: 200px;
  padding: 15px;
  color: colors.$white;
  background-color: colors.$darkPurple;
  border-radius: 5px;
  box-shadow: shadows.$tooltipShadow;
  margin-right: 24px;
  margin-bottom: 10px;

  &__header {
    margin-bottom: 15px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-height: 140px;
    overflow-y: scroll;

    .download-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 12px;

      &__filename {
        margin-right: 5px;
      }

      &__message {
        &_succeed {
          color: colors.$brightTurquoise;
        }

        &_failed {
          color: colors.$burntSienna;
        }
      }

      &__status {
        margin-left: auto;
      }

      &__buttons {
        min-width: 10px;

        .round-icon-cp__circle {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .notification__button-close {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
