@import '~igz-controls/scss/colors';

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.download_disabled {
    color: $topaz;
    cursor: not-allowed;

    button[disabled] {
      cursor: not-allowed;
    }
  }

  &__label {
    margin-right: 10px;
  }
}
