@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/shadows';

.download-container {
  position: relative;
  align-self: flex-end;
  opacity: 0;
  width: 220px;
  min-height: 90px;
  max-height: 200px;
  padding: 15px;
  color: $white;
  background-color: $darkPurple;
  border-radius: 5px;
  box-shadow: $tooltipShadow;
  margin-right: 24px;
  margin-bottom: 10px;
  z-index: 9;

  &__header {
    margin-bottom: 15px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-height: 140px;
    overflow-y: scroll;

    .download-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 12px;

      &__filename {
        margin-right: 5px;
      }

      &__message {
        &_succeed {
          color: $brightTurquoise;
        }

        &_failed {
          color: $burntSienna;
        }
      }

      &__buttons {
        min-width: 20px;

        .round-icon-cp__circle {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
