@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.date-picker-container {
  position: relative;

  .date-picker__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    .date-picker__input {
      &_empty {
        cursor: pointer;
      }

      &_disabled {
        border: $disabledBorder;
        cursor: not-allowed;
      }

      &.long-input {
        width: 300px;
      }
    }

    input:focus {
      border: 1px solid $malibu;
    }
  }

  .input__label {
    font-weight: normal;
    font-size: 10px;
  }

  .input__label-empty {
    top: 12px;
    left: 65px;
    font-size: 14px;
  }

  &__with-labels {
    .date-picker__input-wrapper {
      justify-content: space-between;
      min-width: 180px;
      height: 40px;
      padding: 0 8px 0 16px;
      border: $primaryBorder;
      border-radius: 4px;

      .date-picker__input {
        max-width: 270px;
        height: 40px;
        padding: 0;
        border: none;

        &:focus {
          border: none;
        }
      }
    }
  }
}

.date-picker {
  &__caret {
    display: inline-flex;
    margin-left: 5px;
  }
}

.date-picker__pop-up-wrapper {
  .pop-up-dialog {
    width: auto;
    padding: 0;
  }

  .date-picker__pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    border-radius: 4px;
    box-shadow: $previewBoxShadow;
  }

  .date-picker {
    padding: 30px 15px;
  }

  .date-picker__calendars {
    display: flex;
  }

  .date-picker__calendar {
    margin: 0 15px;
  }

  .date-picker__header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: $primary;
    font-size: 17px;

    .date-picker__header-label {
      color: $spunPearl;
    }

    .date-picker__header-month {
      margin-right: 5px;
    }

    .date-picker__header-previous-month {
      transform: rotate(180deg);
      cursor: pointer;
    }

    .date-picker__header-next-month {
      cursor: pointer;
    }
  }

  .date-picker__weeks {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .date-picker__weeks-day {
      width: 32px;
      height: 32px;
      color: $spunPearl;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      border-bottom: $dividerBorder;
    }
  }

  .date-picker__week {
    display: flex;
    justify-content: center;
    margin: 2px 0;

    .date-picker__week-day-wrapper {
      width: 32px;
      line-height: 32px;
      text-align: center;
      border-top: $transparentBorder;
      border-bottom: $transparentBorder;

      &.not-current-month {
        color: rgba($black, 0.2);
        cursor: default;

        &.in-range {
          border-top: $tertiaryBorder;
          border-bottom: $tertiaryBorder;
        }

        &.selected-from {
          border-left: $tertiaryBorder;
          border-radius: 50% 0 0 50%;
        }

        &.selected-to {
          border-right: $tertiaryBorder;
          border-radius: 0 50% 50% 0;
        }
      }

      &.current-month {
        color: $topaz;

        &:hover {
          .date-picker__week-day {
            color: $white;
            background-color: $malibu;
            border-radius: 50%;
            cursor: pointer;
          }
        }

        &.calendar-from.selected-from,
        &.calendar-to.selected-to {
          border-radius: 50%;

          .date-picker__week-day {
            color: $white;
            background-color: $malibu;
            border-radius: 16px;
          }
        }

        &:not(.invalid) {
          &.selected-to,
          &.selected-from,
          &.in-range {
            color: $malibu;
            background-color: rgba($malibu, 0.2);
          }
        }

        &.calendar-from.selected-from.in-range:not(.selected-to),
        &.calendar-to.selected-from.in-range:not(.selected-to) {
          border-radius: 50% 0 0 50%;
        }

        &.calendar-from.selected-to.in-range:not(.selected-from),
        &.calendar-to.selected-to.in-range:not(.selected-from) {
          border-radius: 0 50% 50% 0;
        }
      }
    }
  }

  .date-picker__time {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    .time-picker-container {
      width: 100px;

      input {
        width: 100%;
        margin: 0;
        padding: 0 16px;
      }
    }
  }

  .date-picker__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 45px;
    margin: 20px 15px 0;

    .date-picker__apply-btn {
      margin-left: 15px;
    }
  }
}
