@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.date-picker {
  &-container {
    position: relative;

    .date-picker {
      &_body {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 323px;
        padding: 24px;
        background-color: $white;
        border-radius: 2px;
        box-shadow: $previewBoxShadow;

        &.positionTop {
          bottom: calc(100% + 5px);
        }

        &.positionBottom {
          top: calc(100% + 5px);
        }

        &_weeks {
          display: flex;
          flex: 1;

          &_day {
            flex: 1;
            height: 32px;
            color: $primary;
            font-weight: 500;
            line-height: 32px;
            text-align: center;
          }
        }

        &_week {
          display: flex;
          flex: 1;
          justify-content: space-around;

          &_day {
            width: 32px;
            line-height: 32px;
            text-align: center;
          }
        }

        .not-current-month {
          color: $spunPearl;
          cursor: default;
        }

        .current-month {
          color: $topaz;

          &:hover {
            color: $white;
            background-color: $malibu;
            border-radius: 16px;
            cursor: pointer;
          }
        }

        .selected {
          color: $white;
          background-color: $malibu;
          border-radius: 16px;
        }
      }

      &-header {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        color: $topaz;

        &_month {
          margin-right: 5px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        }

        .previous-month {
          cursor: pointer;
        }

        .next-month {
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
    }

    .btn-date-picker {
      margin-top: 10px;
      margin-left: auto;
      color: $cornflowerBlue;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  &_input {
    position: relative;

    input:focus {
      border: 1px solid $malibu !important;
    }
  }
}
