@use 'igz-controls/scss/mixins';
@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/shadows';

.split-btn {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  height: inherit;

  &__button {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    min-width: auto;

    &-label {
      margin: 0 5px;
    }

    button {
      min-width: inherit;
      margin: 0;

      svg {
        & > * {
          fill: currentcolor;
        }
      }
    }

    &:not(:last-child) {
      button {
        border-right-color: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:focus,
        &:active {
          border-right-color: rgba(colors.$black, 0.4);
        }
      }
    }

    &:last-child {
      button {
        padding: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    color: colors.$gunsmoke;
  }
}
