@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

.card-template {
  flex: 0 0 40%;
  min-width: 270px;
  max-width: 325px;
  min-height: 130px;
  max-height: 140px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 25px;
  background-color: colors.$white;
  border: borders.$primaryBorder;
  border-radius: 4px;
  cursor: pointer;

  &__header {
    display: inline-block;
    width: 100%;
    margin: 0 12px 15px 0;
    font-size: 18px;
    line-height: 21px;
  }

  &__hash,
  &__tag {
    display: inline-block;
    margin-right: 5px;
    color: colors.$primary;
  }

  &__description {
    height: 42px;
    color: colors.$topaz;
    font-size: 13px;
    line-height: 21px;
  }

  &.small {
    min-width: 290px;
    min-height: 90px;
  }
}
