@import '../../scss/colors';
@import '../../scss/borders';

.card-template {
  flex: 0 0 40%;
  max-width: 325px;
  height: 218px;
  background-color: $white;
  border: $primaryBorder;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 16px;
  margin-right: 16px;
  cursor: pointer;

  &__header {
    font-size: 18px;
    line-height: 21px;
    margin: 0 12px 15px 0;
    display: inline-block;
  }

  &__hash, &__tag {
    display: inline-block;
    margin-right: 5px;
    color: $primary;
  }

  &__description {
    font-size: 13px;
    line-height: 21px;
    color: $topaz;
  }
}
