@use 'igz-controls/scss/colors';

.expandable-wrapper {
  position: relative;
}

.expandable-text {
  position: relative;
  display: block;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.fade-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgb(255 255 255 / 0%), #fff);
  content: '';
  pointer-events: none;
}

.see-more-button-overlay {
  position: absolute;
  right: 0;
  bottom: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  padding-left: 8px;
  background: white;
}

.dots {
  color: colors.$doveGrayTwo;
  font-weight: bold;
}

.see-more-button,
.see-less-button {
  padding: 0;
  color: colors.$cornflowerBlue;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
}

.see-less-container {
  margin-top: 4px;
  text-align: right;
}
