@import '../../scss/colors.scss';

.nav-link {
  margin-bottom: 10px;

  &__button {
    &.btn {
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 8px;
      color: $poloBlue;
      cursor: pointer;
      font-weight: normal;
      flex-flow: row nowrap;
      justify-content: flex-start;
      min-height: 48px;
      width: 100%;

      svg {
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        & * {
          fill: $poloBlue;
        }
      }

      &.active {
        background-color: $malibu;
        color: $white;
        cursor: default;

        svg {
          & * {
            fill: $white;
          }
        }
      }
    }

    // &-icon {
    //   flex: 0 0 25px;
    // }

    &:hover,
    &:focus-visible {
      &.btn {
        &:not(:disabled):not([class*='active']) {
          background-color: transparent;
          color: $poloBlue;
          border-color: $poloBlue;

          svg {
            & * {
              fill: $poloBlue;
            }
          }
        }
      }
    }
    &:focus,
    &:active {
      &.btn {
        border-color: transparent;
      }
    }
  }
}
