@use 'igz-controls/scss/colors';

.nav-link {
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }

  &__button {
    &.btn {
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 100%;
      min-width: 48px;
      min-height: 48px;
      padding: 0 16px 0 13px;
      color: colors.$poloBlue;
      font-weight: normal;
      white-space: nowrap;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      transition: border-color 0.3s ease-in-out;

      svg {
        flex: 0 0 20px;
        width: 20px;
        height: 20px;

        & * {
          fill: colors.$poloBlue;
        }
      }

      &.active {
        color: colors.$white;
        background-color: colors.$malibu;
        cursor: default;

        svg {
          & * {
            fill: colors.$white;
          }
        }
      }
    }

    &:hover,
    &:focus-visible {
      &.btn {
        &:not(:disabled, [class*='active']) {
          color: colors.$poloBlue;
          background-color: transparent;
          border-color: colors.$poloBlue;
          outline: none;
          transition: border-color 0.3s ease-in-out;

          svg {
            & * {
              fill: colors.$poloBlue;
            }
          }
        }
      }
    }

    &:focus,
    &:active {
      &.btn {
        border-color: transparent;
      }
    }
  }

  &__label {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .navbar.navbar_hovered &,
    .navbar.navbar_pinned & {
      opacity: 1;
    }
  }
}
