@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$modelEndpointsRowHeight: variables.$rowHeightSmall;
$modelEndpointsHeaderRowHeight: variables.$headerRowHeight;
$modelEndpointsRowHeightExtended: variables.$rowHeightExtended;

:root {
  --modelEndpointsRowHeight: #{$modelEndpointsRowHeight};
  --modelEndpointsHeaderRowHeight: #{$modelEndpointsHeaderRowHeight};
  --modelEndpointsRowHeightExtended: #{$modelEndpointsRowHeightExtended};
}

.model-endpoints-table {
  @include mixins.rowsHeight(
    $modelEndpointsHeaderRowHeight,
    $modelEndpointsRowHeight,
    $modelEndpointsRowHeightExtended
  );
}
