@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.project-details {
  line-height: 1.4;

  &__row {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: 1024px) {
      flex-flow: row nowrap;
    }
  }

  &__col {
    flex: 1;
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 1em 0.5rem 0;
    font-weight: 300;
    font-size: 3.2em;
  }

  &__description {
    max-width: 90%;
    margin: 0;
    word-break: break-word;
  }

  &__details {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0;
    padding: 0;
    line-height: 1.5;
    list-style-type: none;

    &-label {
      font-size: 14px;

      &:not(:last-child)::after {
        margin: 8px;
        border-right: borders.$dividerBorder;
        content: "";
      }
    }

    i[class^='state-'] {
      margin-left: 5px;
    }
  }
}
