@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

.project-data-card {
  &__statistics {
    display: flex;

    &-arrow {
      position: absolute;
      top: 20px;
      right: 5px;
      display: none;
    }

    &-link {
      position: relative;
      width: 100%;
      min-width: 85px;
      margin: 0 6px;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: colors.$wildSand;

        .project-data-card__statistics-arrow {
          display: block;
        }
      }
    }

    &-data {
      position: relative;
      width: 100%;
      margin: 0 5px;
      padding: 5px;
      border-radius: 5px;
    }

    &-item {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: row;

      &:first-child {
        .project-data-card__statistics-link {
          margin-left: 0;
        }
      }

      &:last-child {
        .project-data-card__statistics-link {
          margin-right: 0;
        }
      }

      &:not(:last-child)::after {
        height: 28px;
        margin: auto 0;
        border-right: borders.$dividerBorder;
        content: '';
      }

      .loader-wrapper {
        height: 37px;
      }
    }

    &-label {
      display: flex;
      gap: 6px;
      align-items: center;
      justify-content: center;
      min-width: 100%;
      max-width: 100px;
      color: colors.$topaz;
      font-weight: 400;
      font-size: 12px;
      text-align: center;

      i[class^='state-'] {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }

    &-value {
      width: 100%;
      font-weight: 500;
      font-size: 26px;
      line-height: 35px;
      text-align: center;

      &.statistics {
        font-size: 50px;

        &_running {
          color: colors.$primary;
        }

        &_default {
          color: colors.$topaz;
        }

        &_succeeded {
          color: colors.$brightTurquoise;
        }

        &_failed {
          color: colors.$amaranth;
        }
      }

      .tooltip {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
