@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.project-data-card {
  &__statistics {
    display: flex;

    &-arrow {
      position: absolute;
      top: 20px;
      right: 5px;
      display: none;
    }

    &-link {
      position: relative;
      width: 100%;
      min-width: 85px;
      margin: 0 6px;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $wildSand;

        .project-data-card__statistics-arrow {
          display: block;
        }
      }
    }

    &-data {
      position: relative;
      width: 100%;
      margin: 0 5px;
      padding: 5px;
      border-radius: 5px;
    }

    &-item {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: row;

      &:first-child {
        .project-data-card__statistics-link {
          margin-left: 0;
        }
      }

      &:last-child {
        .project-data-card__statistics-link {
          margin-right: 0;
        }
      }

      &:not(:last-child)::after {
        height: 28px;
        margin: auto 0;
        border-right: $dividerBorder;
        content: '';
      }

      .loader-wrapper {
        height: 37px;
      }
    }

    &-label {
      min-width: 100%;
      max-width: 100px;
      color: $primary;
      text-align: center;
    }

    &-value {
      width: 100%;
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
      text-align: center;

      &.statistics {
        &_running {
          color: $primary;
        }

        &_default {
          color: $topaz;
        }

        &_scheduled {
          color: $supernova;
        }

        &_failed {
          color: $amaranth;
        }
      }

      &_not-available {
        font-size: 32px;
      }

      .tooltip {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
