@import "../../scss/colors";
@import '../../scss/borders';

.page-actions-container {
  a {
    padding: 10px 16px;
    background-color: $white;
    border: $primaryBorder;
    border-radius: 2px;
  }
}
