@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';
@include mixins.newItemSidePanel;

.feature-set-panel {
  .accordion {
    &__container.open {
      .accordion__body {
        min-height: 270px;
      }
    }
  }

  .btn {
    &_start-ingestion {
      margin: 0 10px;
    }
  }

  .pop-up-dialog__header {
    &-close {
      position: absolute;
      right: 0;
    }
  }

  .access-key {
    height: 64px;
    padding: 22px 40px;
  }
}
