@import '../../scss/borders';
$actionsBlockWidth: 72px;

.key-value-table {
  &__btn {
    visibility: hidden;
  }

  .table-row {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: $primaryBorder;

    &:not(.no-hover):hover {
      background-color: $alabaster;

      .key-value-table__btn {
        visibility: visible;
      }
    }
  }

  .table-row__header {
    font-weight: bold;
    border-top: $primaryBorder;
  }

  .table-cell {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    color: $primary;
  }

  .table-cell__inputs-wrapper {
    display: flex;
    width: calc(100% - #{$actionsBlockWidth});
  }

  .table-cell__key {
    width: 50%;
  }

  .table-cell__value {
    width: 50%;
  }

  .table-cell__actions {
    justify-content: flex-end;
    min-width: $actionsBlockWidth;
    padding: 0;
  }

  .add-new-item-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 44px;
    padding: 10px;
    color: $cornflowerBlue;
    font-size: 15px;
    line-height: 18px;

    svg {
      width: 20px;
      height: 20px;

      rect {
        fill: $cornflowerBlue;
      }
    }
  }

  .input-wrapper {
    width: 100%;

    .input {
      width: 100%;
      border: none;
      border-radius: unset;

      &_edit {
        border: $primaryBorder;
      }

      &_invalid {
        border: $errorBorder;
      }
    }
  }
}
