@import '../../scss/mixins.scss';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.select {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: $tableFilterBorder;
  margin-right: 15px;
  margin-bottom: 15px;
  &.active {
    background: $alabaster;
  }
  &__label {
    color: $topaz;
    padding: 0 5px 0 15px;
    text-transform: capitalize;
  }
  &__value {
    min-width: 96px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $mulledWine;
  }
  &__caret {
    margin: 0 10px;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__body {
    z-index: 9999999;
    position: absolute;
    top: 48px;
    width: 100%;
    border: $tableFilterBorder;
    box-shadow: $filterShadow;
    border-radius: 2px;
    color: $mulledWineTwo;
    .status {
      &_all {
        @include jobStatus(none);
      }
      &_completed {
        @include jobStatus($brightTurquoise);
        margin: 0 10px;
      }
      &_running {
        @include jobStatus($pictonBlue);
        margin: 0 10px;
      }
      &_failed, &_error {
        @include jobStatus($burntSienna);
        margin: 0 10px;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    height: 49px;
    padding-left: 15px;
    background-color: $white;
    &:hover {
      background-color: $alabaster;
      cursor: pointer;
    }
  }
  .overall {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
  }
}
