@import '../../scss/mixins';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.select {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 100px;
  height: 40px;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;
  cursor: pointer;

  &_active:not(.without-border) {
    background: $alabaster;
  }

  &__caret {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
  }

  &.without {
    &-border {
      border: none;

      .select__caret {
        display: none;
      }

      &:hover {
        .select__caret {
          display: block;
        }
      }
    }

    &-label {
      padding-left: 16px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__value {
    min-width: 96px;
    min-height: 1em;
    padding-right: 50px;
    overflow: hidden;
    color: $mulledWine;
    white-space: nowrap;
    text-overflow: ellipsis;

    &_floating {
      position: relative;
      top: 6px;
      left: 16px;
    }
  }

  &__label {
    top: 15px;
    left: 0;
    padding: 0 5px 0 16px;
    color: $topaz;
    font-size: 15px;
    text-transform: capitalize;
    transition: 200ms ease;

    &_floating {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 9px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.5px;
      transition: 200ms ease;
    }

    &_top {
      position: absolute;
      top: -20px;
      left: 0;
      padding: 0;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;

      & + .select__value {
        padding-left: 15px;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;

    .select__label,
    .select__value {
      color: $spunPearl;
    }
  }

  .sub-label {
    margin-left: 5px;
    overflow: hidden;
    color: $topaz;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__body {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 6;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    color: $mulledWineTwo;
    background-color: $white;
    border: $primaryBorder;
    border-radius: 2px;
    box-shadow: $filterShadow;
  }

  &__search {
    width: 100%;

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: $primaryBorder;
    }
  }

  .actions {
    position: absolute;
    right: 25px;
  }

  .disabled {
    color: $spunPearl;
    cursor: default;
    user-select: none;

    &:hover {
      background-color: $white;
    }
  }

  .pop-up-dialog__overlay {
    top: 100%;
    right: calc(100% + 10px);
  }

  &-dense {
    height: 40px;

    .select__label_floating {
      padding-top: 6px;
    }
  }

  &-normal {
    height: 48px;
  }

  &-medium {
    height: 52px;

    .select__label_floating {
      padding-top: 11px;
    }
  }

  &-chunky {
    height: 56px;

    .select__label_floating {
      padding-top: 13px;
    }
  }
}
