@import '../../scss/mixins.scss';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.select {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: $greyBorder;
  margin-right: 15px;
  margin-bottom: 15px;
  &.active {
    background: $alabaster;
  }
  &__label {
    color: $topaz;
    padding: 0 5px 0 15px;
    text-transform: capitalize;
  }
  &__value {
    min-width: 96px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $mulledWine;
  }
  &__caret {
    margin: 0 10px;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__body {
    z-index: 5;
    position: absolute;
    top: 48px;
    width: 100%;
    border: $greyBorder;
    box-shadow: $filterShadow;
    border-radius: 2px;
    color: $mulledWineTwo;
    left: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    height: 49px;
    background-color: $white;
    padding-left: 15px;

    .checkbox {
      flex: 1;
      height: 100%;

      svg {
        margin: 0;
      }
    }

    &:hover {
      background-color: $alabaster;
      cursor: pointer;
    }

    .status {
      margin: 0 10px;
    }

    .all {
      @include jobStatus(none);
      margin: 0;
    }
  }

  .overall {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }
}
