@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/borders';

.breadcrumbs__dropdown {
  max-height: 384px;
  min-width: 220px;
  overflow-y: auto;

  &-wrapper {
    position: absolute;
    top: 35px;
    left: 14px;
    z-index: 7;
    min-width: 130px;
    padding: 0 0 12px 0;
    font-size: 15px;
    line-height: 18px;
    background: colors.$white;
    box-shadow: shadows.$dropdownShadow;
  }

  &-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    padding: 11px 16px;

    &:hover {
      background-color: colors.$alabaster;
      cursor: pointer;
    }

    &_selected {
      font-weight: bold;

      &:hover {
        cursor: default;
        background: white;
      }
    }

    .checkmark {
      min-width: 24px;
      margin: 0 0 0 10px;

      path {
        fill: colors.$chateauGreen;
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    margin: 0 9px 4px;
    border-bottom: borders.$dividerBorder;

    .input {
      width: 100%;
      min-width: 140px;
      padding: 12px 7px 10px;
      border: none;
    }
  }
}
