.code {
  &__code-entry {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .type {
      width: 180px;
      margin-right: 25px;
    }

    .btn {
      &_edit {
        padding: 0;

        .btn-label:focus {
          border: none;
        }

        span {
          display: flex;
          align-items: center;
        }

        svg {
          width: 15px;
          height: 15px;
          opacity: 0.7;
        }
      }
    }
  }

  &__info {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    &_left {
      margin-right: 25px;
    }

    .input {
      max-width: 180px;

      &__wide {
        width: 100%;
        max-width: 100%;
      }
    }

    .radio-buttons__block {
      display: block;
      width: 200px;

      div:not(:last-child) {
        margin: 10px 0 43px 0;
      }
    }
  }

  &__build {
    display: flex;
    flex-direction: column;
    width: 100%;

    .requirements {
      margin-bottom: 10px;

      label {
        text-transform: none;
      }
    }

    .commands,
    .requirements {
      width: 73%;
      margin-right: 0;
      margin-left: auto;

      .text-area {
        width: 100%;
      }
    }
  }

  &__existing-image {
    display: flex;
  }

  &__images-inputs {
    width: 346px;

    div:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__force-build {
    margin-top: 19px;
  }
}
