.code {
  &__code-entry {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .type {
      width: 200px;
      height: 56px;
      margin-right: 25px;
    }

    .btn {
      &_edit {
        padding: 0;

        .btn-label:focus {
          border: none;
        }

        span {
          display: flex;
          align-items: center;
        }

        svg {
          width: 15px;
          height: 15px;
          opacity: 0.7;
        }
      }
    }
  }

  &__info {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }

  .commands {
    width: 100%;

    .text-area {
      width: 100%;
    }
  }
}
