@import '../../scss/colors';
@import '../../scss/mixins';

.sidebar {
  @include fixed;
  width: 90px;
  background-color: $white;
  height: 100%;
  &__wrapper {
    display: flex;
    right: auto;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    flex-direction: column;
    margin-top: 64px;
    width: inherit;
  }
  &__menu {
    padding: 8px 0;
    list-style-type: none;
    &__item {
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $white;
        img {
          width: 25px;
          height: 26px;
        }
      }
    }
    .active {
      background-color: #dedede;
    }
  }
}
