@import '~igz-controls/scss/shadows';

.actions-menu {
  &__icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;

    svg {
      path {
        &:first-child {
          fill: $topaz;
        }
      }
    }

    &_visible {
      display: flex;
    }
  }

  &__option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: $primary;
    cursor: pointer;

    &:hover {
      background-color: $alabaster;
    }

    &_disabled {
      color: $spunPearl;
      cursor: not-allowed;

      .actions-menu__icon {
        svg {
          path:first-child {
            fill: rgba($black, 0.2);
          }
        }
      }
    }

    &_danger {
      color: $amaranth;

      svg {
        path:first-child {
          fill: $amaranth;
        }
      }
    }
  }
}
