@import '~igz-controls/scss/colors';

.deploy-model {
  &__row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    .form-field {
      &:not(:last-child) {
        margin-right: 10px;
      }

      &__router {
        flex: 2 0 0%;
      }
    }

    .input-wrapper {
      flex: 1 0 0%;
    }
  }

  .key-value-table {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white;

    .table-row__header {
      border-top: 0;
    }
  }
}
