@use 'igz-controls/scss/variables';
@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

.navbar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  background-color: colors.$wildSand;
  border-right: borders.$tertiaryBorder;
  transition: max-width 0.3s ease-in-out;

  &.navbar_hovered,
  &.navbar_pinned {
    .navbar__body {
      overflow-y: auto;
    }

    .navbar-links {
      padding: 0 1rem;
    }

    .navbar__pin-icon {
      opacity: 1;
      visibility: visible;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__additional {
    display: flex;
    flex: 2 0 auto;
    overflow: hidden;

    .navbar-links {
      margin-bottom: 20px;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        border-top: borders.$primaryBorder;
        margin-bottom: 10px;
      }
    }
  }

  &-links {
    width: 100%;
    margin: 0;
    padding: 0 4px;
    list-style-type: none;
    transition: padding 0.3s ease-in-out;
  }

  &__pin {
    &-icon {
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      button {
        width: 38px;
        height: 38px;
      }
    }
  }
}