@import '../../scss/variables.scss';
@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex: 1 0 $navbarWidth;
  max-width: $navbarWidth;
  width: $navbarWidth;
  height: 100%;
  border-right: $tertiaryBorder;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: translateX(0);
  }

  &__toggler {
    position: absolute;
    top: 0;
    right: -$navbarTogglerWidth + 1;
    z-index: 1;
    width: $navbarTogglerWidth;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;

    &-button {
      position: relative;
      z-index: 2;
      width: $navbarTogglerWidth;
      height: $navbarTogglerWidth;
      margin-top: 70px;
      padding: 7px;
      background-color: $wildSand;
      border: $tertiaryBorder;
      border-left: 0;
      border-radius: 0 8px 8px 0;
    }

    &-icon {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $topaz;
      border-radius: 5px;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 3px;
        background-color: $topaz;
        border-radius: 5px;
        content: '';
      }

      &::before {
        top: calc(-100% - 3px);
      }

      &::after {
        top: calc(100% + 3px);
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: $wildSand;
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    width: 100%;
  }

  &__additional {
    display: flex;
    flex: 0 1 auto;
    border-top: $primaryBorder;
  }

  &-links {
    width: 100%;
    padding: 0;
    list-style-type: none;
  }

  &__pin {
    &-icon {
      position: relative;
      right: -10px;
      align-self: flex-end;
      padding: 0;
    }
  }
}
