@use 'igz-controls/scss/variables';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/colors';

.settings__members {
  .info-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: borders.$dividerBorder;

    .members-overview {
      display: flex;
      align-items: center;

      .member-overview {
        margin-right: 5px;
        color: colors.$spunPearl;

        .member-count {
          color: colors.$primary;
          font-weight: bold;
        }
      }

      .tip-container {
        margin: 0 10px;
      }
    }

    .invite-new-members-btn {
      display: flex;
      align-items: center;
      color: colors.$cornflowerBlue;
      cursor: pointer;

      &.disabled {
        color: colors.$spunPearl;
        cursor: default;

        .add-icon {
          rect {
            fill: colors.$spunPearl;
          }
        }
      }

      .add-icon {
        margin-right: 10px;

        rect {
          fill: colors.$cornflowerBlue;
        }
      }
    }
  }

  .invite-new-members {
    margin-top: 20px;
    background-color: colors.$wildSand;
    border-radius: variables.$mainBorderRadius;

    .new-members-title {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-weight: bold;
      font-size: 18px;
    }

    .close-icon {
      cursor: pointer;
    }

    .new-members-row {
      display: flex;
      align-items: stretch;
      padding: 15px;

      .new-member-name,
      .new-member-role {
        margin-right: 7px;
      }

      .new-member-name {
        width: 70%;
        padding-right: 10px;
        padding-left: 10px;
      }

      .new-member-role {
        width: 30%;
        background-color: colors.$white;
      }

      .auto-resizable-input {
        padding: 0;
      }
    }

    .new-member-btn {
      height: inherit;

      & > *,
      .btn {
        height: 100%;
        max-height: 40px;
      }
    }
  }

  .members-table {
    position: relative;
    min-height: auto;
    max-height: 315px;
    margin: 20px 0;
    padding: 0 20px;
    overflow-y: auto;
    background-color: colors.$white;
    border-radius: variables.$mainBorderRadius;

    .member-info {
      display: flex;
      align-items: center;
      width: 70%;
    }

    .member-roles {
      width: 30%;

      .select {
        width: 150px;
      }
    }

    .member-actions {
      width: 30px;
      visibility: hidden;
    }

    .table-header {
      position: sticky;
      top: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      padding: 15px 5px 0;
      background-color: colors.$white;

      .member-info {
        width: 65%;
        margin-right: 5%;
        border-bottom: borders.$primaryBorder;
      }
    }

    .table-body {
      .table-row {
        display: flex;
        justify-content: space-between;
        padding: 15px 5px;

        &:not(:last-child) {
          border-bottom: borders.$dividerBorder;
        }

        &:hover {
          cursor: pointer;

          .member-actions {
            visibility: visible;
          }
        }

        .member-info {
          .member-status {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background-color: colors.$brightTurquoise;
            border-radius: 50%;
            visibility: hidden;

            &.visible {
              visibility: visible;
            }
          }

          .member-symbol {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-right: 15px;
            color: colors.$white;
            font-size: 14px;
            background-color: colors.$kimberly;
            border-radius: 50%;
          }

          .member-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            margin-right: 5px;

            path {
              fill: rgba(colors.$black, 0.2);
            }
          }
        }

        &.inactive {
          &:hover {
            cursor: not-allowed;

            .member-actions {
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .footer-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .apply-discard-buttons {
      display: flex;
      align-items: center;
    }
  }

  .footer-annotation {
    color: colors.$topaz;
    font-size: 12px;
    white-space: pre-line;
  }
}

.delete-member__pop-up {
  .pop-up-dialog {
    width: 230px;
    color: colors.$white;
    background-color: colors.$primary;
    box-shadow: unset;

    &__header {
      margin-top: 0;
      margin-bottom: 5px;
    }

    &__header-text {
      color: colors.$white;
      font-weight: normal;
    }

    &__header-close,
    &__btn_close {
      path {
        fill: colors.$white;
      }
    }

    .confirm-dialog__message {
      color: colors.$white;
    }
  }

  .confirm-dialog__btn-container {
    justify-content: center;
  }
}
