.job-monitoring {
  .table-top {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .action-bar {
    padding: 0;
  }
}

.filter-job-status {
  &.form-field-select__options-list {
    .options-list {
      max-height: 180px;
    }
  }
}

.filter-scheduled-status {
  &.form-field-select__options-list {
    .options-list {
      max-height: 100px;
    }
  }
}
