@import '../../../scss/colors';
@import '../../../scss/borders';

.data-source {
  &__inputs {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;

    &-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-item {
      margin-bottom: 10px;
    }

    .url {
      height: 52px;
      margin-left: 10px;

      .combobox {
        &-input {
          padding: 15px 5px 15px 0;
        }
      }
    }

    .select {
      min-width: 230px;
      margin-bottom: 0;
    }
  }

  &__description {
    width: 100%;
    margin-bottom: 15px;
  }

  &__table.key-value-table {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;

    .table-cell {
      &__key {
        flex: unset;
        width: 27%;
      }

      &__value {
        width: 67%;
      }
    }
  }

  .panel-section {
    width: 100%;
  }

  .schedule {
    position: absolute;
    left: 0;
    min-width: 780px;
    margin: 0;
    padding: 16px;
    background-color: $wildSand;
    box-shadow: 0 6px 26px rgba($black, 0.24);

    &-content {
      position: relative;
      z-index: 2;
      margin-bottom: 15px;
    }

    &-title {
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }

    &-tumbler {
      display: flex;
      align-items: center;
      padding: 0;
      color: $malibu;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: transparent;
      }

      &__icon {
        margin: 8px;

        path {
          fill: $topaz;
        }
      }
    }
  }
}
