@use 'igz-controls/scss/colors';

.react-flow__renderer {
  .react-flow__node.react-flow__node-ml-node-with-sub-items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;

    .react-flow__node-header {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      stroke: initial;

      &-title {
        margin-right: auto;
        margin-left: 10px;
        overflow: hidden;
      }

      &-label {
        font-size: 16px;
      }

      &-sub-label {
        color: colors.$topaz;
        font-size: 14px;
      }

      &-icon {
        display: flex;
        align-items: center;
      }

      &-monitoring-icon {
        margin-left: 10px;
      }
    }

    .react-flow__node-chips-title {
      font-weight: 500;
      font-size: 14px;
    }

    .react-flow__node-chips {
      width: 100%;
      margin-top: 5px;

      .chips-wrapper {
        flex-wrap: nowrap;
      }
    }
  }
}
