@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/shadows';

.notification {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-bottom: 1rem;
  padding: 8px;
  color: $white;
  background-color: $darkPurple;
  border-radius: 5px;
  box-shadow: $tooltipShadow;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 1;
    opacity: 0.7;
    transform-origin: left;
    animation: notification__trackprogress-bar linear 1 forwards;
    animation-play-state: running;

    &--success {
      background-color: $brightTurquoise;
    }

    &--alert {
      background-color: $burntSienna;
    }
  }

  &:hover {
    .notification__progress-bar {
      animation-play-state: paused;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    margin: 5px 20px 5px 0;
    padding: 6px;

    &__button-retry {
      margin-left: 15px;
      color: $portage;
      cursor: pointer;
    }

    &__icon {
      .icon-success {
        width: 14px;
        height: 14px;
      }

      .icon-alert {
        width: 4px;
        height: 14px;
      }
    }

    &__status {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      border-radius: 50%;
    }

    &__icon-alert {
      background-color: $burntSienna;
    }

    &__icon-success {
      background-color: $brightTurquoise;
    }
  }
}

@keyframes notification__trackprogress-bar {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
