@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

.test {
  background-color: colors.$topaz;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: inherit;
  background-color: colors.$white;

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 50px 24px 0;

    .projects-content-header {
      &__row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
      }

      &__col {
        display: flex;
        flex: 1;
        margin-bottom: 1rem;

        &-right {
          flex: 1 0 auto;
          align-items: center;
          justify-content: flex-end;
        }
      }

      &-item {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        & > *:not(:last-child) {
          margin: 0 15px 0 0;
        }

        .btn,
        .split-btn {
          height: 40px;
        }

        .projects-search {
          .tooltip-wrapper {
            display: flex;
            align-items: center;
          }
        }
      }

      .project-types-select {
        padding: 0;

        .select__header {
          width: auto;
          font-size: 20px;

          .select__value {
            color: colors.$topaz;
            font-weight: 500;
          }
        }
      }
    }

    .projects-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 18px 24px;
      padding: 0 0 1rem;

      .no-filtered-data {
        margin: 15px;
        font-size: 16px;
      }
    }

    .content-menu {
      position: relative;
      top: 0;
      width: auto;
      min-width: auto;
    }
  }

  &-modal_opened {
    overflow: hidden;
  }
}
