@import '../../scss/shadows';
@import '../../scss/colors';
@import '../../scss//borders.scss';

.breadcrumbs {
  &_container {
    padding: 21px 24px;
    background-color: $white;
  }
}

.projects {
  &_wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    flex: 1;
    margin: 24px;
    padding-left: 24px;
    background-color: $white;
    box-shadow: $jobsShadow;
    min-height: 700px;
    .project {
      &_card {
        width: 338px;
        height: 182px;
        border-radius: 4px;
        border: $tableBorder;
        padding: 25px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 18px;
        &_header {
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          color: $primary;
        }
        &_description {
          font-size: 13px;
          line-height: 21px;
          color: $saltbox;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
        }
        &_links {
          display: flex;
          color: $cornflowerBlue;
          a {
            display: flex;
            align-items: center;
            margin-right: 20px;
          }
        }
        &:hover {
          box-shadow: $previewBoxShadow;
        }
      }
    }
  }
}
