@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: inherit;
  background-color: $white;

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 50px 24px 0;

    .projects-content-header {
      &__row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
      }

      &__col {
        display: flex;
        flex: 0 0 auto;
        width: 100%;

        @media screen and (min-width: 992px) {
          width: 50%;
        }

        &-right {
          justify-content: flex-end;
        }
      }

      &-item {
        display: flex;
        flex: 0 0 100%;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 1rem;

        @media screen and (min-width: 992px) {
          max-width: 435px;
        }

        .data-ellipsis,
        .btn,
        .split-btn {
          height: 40px;
        }

        .tooltip-wrapper {
          display: flex;
          align-items: center;
        }
      }

      .project-types-select {
        padding: 0;

        .select__header {
          width: auto;
          font-size: 20px;

          .select__value {
            color: $topaz;
            font-weight: 500;
          }
        }
      }
    }

    .projects-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 18px 24px;
      padding: 0 0 1rem;

      .no-filtered-data {
        margin: 15px;
        font-size: 16px;
      }
    }

    .content-menu {
      position: relative;
      top: 0;
      width: auto;
      min-width: auto;
    }
  }

  &-search {
    margin-right: 10px;
  }

  &-modal_opened {
    overflow: hidden;
  }

  &-jobs {
    &-container {
      background-color: $wildSand;
      margin-bottom: 2rem;
      padding: 30px;
    }

    &-legend {
      display: flex;
      align-items: baseline;
      margin-bottom: 2em;

      &__title {
        font-size: 24px;
        margin: 0 30px 0 0;
      }
    }

    &-stats {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 18px 24px;

      &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 1em;
          min-height: 40px;
        }
      }

      &__full-row {
        flex: 1;
        align-items: flex-start;
      }

      &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }

      &__subtitle {
        color: $topaz;
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
      }

      &__counter {
        flex: 1;
        color: $primary;
        text-align: center;

        &-display {
          font-size: 2.5em;
        }
      }

      &__counters {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;

          margin-right: 1.5rem;

          [class^='state-'] {
            margin-left: 5px;
          }

          &.link {
            color: $primary;
          }
        }
      }

      .link {
        font-size: 1rem;
      }

      .date-picker-container {
        margin-left: 15px;

        .input-wrapper .input.date-picker__input {
          padding: 10px;
          width: auto;
        }
      }
    }
  }
}
