@import '../../scss/shadows';
@import '../../scss/colors';
@import '../../scss/borders';

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    background-color: $white;
    box-shadow: $headerShadow;
  }

  &__wrapper {
    position: relative;
    min-height: 700px;
    padding: 15px 12px;

    .projects-content-header {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-left: 15px;

      &-item {
        display: flex;
        align-items: baseline;
        .sort {
          margin-left: 30px;
        }
      }

      .project-types-select {
        width: 210px;

        .select__header {
          width: auto;
          font-size: 20px;

          .select__value {
            color: $topaz;
            font-weight: 500;
          }
        }
      }
    }

    .projects-content {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      align-content: flex-start;

      .no-filtered-data {
        margin: 15px;
        font-size: 16px;
      }
    }
  }

  &-modal_opened {
    overflow: hidden;

    .input-wrapper {
      margin: 10px 0;
    }
  }

  &-search {
    min-width: 500px;
    margin-bottom: 15px;
  }
}
