@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: inherit;
  background-color: $white;

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 50px 24px 0;

    .projects-content-header {
      &__row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
      }

      &__col {
        display: flex;
        flex: 0 0 auto;
        width: 100%;

        @media screen and (min-width: 992px) {
          width: 50%;
        }

        &-right {
          justify-content: flex-end;
        }
      }

      &-item {
        display: flex;
        flex: 0 0 100%;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 1rem;

        @media screen and (min-width: 992px) {
          max-width: 435px;
        }

        .data-ellipsis,
        .btn,
        .split-btn {
          height: 40px;
        }

        .tooltip-wrapper {
          display: flex;
          align-items: center;
        }
      }

      .project-types-select {
        padding: 0;

        .select__header {
          width: auto;
          font-size: 20px;

          .select__value {
            color: $topaz;
            font-weight: 500;
          }
        }
      }
    }

    .projects-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 18px 24px;
      padding: 0 0 1rem;

      .no-filtered-data {
        margin: 15px;
        font-size: 16px;
      }
    }

    .content-menu {
      position: relative;
      top: 0;
      width: auto;
      min-width: auto;
    }
  }

  &-search {
    margin-right: 10px;
  }

  &-modal_opened {
    overflow: hidden;
  }
}
