@import '../../scss/shadows';
@import '../../scss/colors';
@import '../../scss/borders';

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    background-color: $white;
    min-height: 70px;
  }

  &__wrapper {
    position: relative;
    min-height: 700px;
    padding: 0 12px 15px;
    background-color: $white;
    height: 100%;

    .projects-content-header {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1rem;
      padding-left: 15px;

      &-item {
        display: flex;
        flex: 0 0 23%;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;

        &:not(:last-child) {
          margin-right: 24px;
        }

        @media screen and (min-width: 576px) {
          min-width: 435px;
        }
      }

      .project-types-select {
        padding: 0;

        .select__header {
          width: auto;
          font-size: 20px;

          .select__value {
            color: $topaz;
            font-weight: 500;
          }
        }
      }
    }

    .projects-content {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      align-content: flex-start;

      .no-filtered-data {
        margin: 15px;
        font-size: 16px;
      }
    }

    .content-menu {
      position: relative;
      top: 0;
      width: auto;
      min-width: auto;
      margin-right: 1rem;
      &__item {
        font-size: 24px;
        font-weight: normal;
        margin: 0 24px 0 0;

        &_active {
          font-weight: bold;
          color: $primary;
        }

        a {
          padding: 8px 0;
        }
      }
    }
  }

  &-search {
    margin-right: 10px;
  }

  &-modal_opened {
    overflow: hidden;

    .input-wrapper {
      margin: 10px 0;
    }
  }
}
