@import '~igz-controls/scss/borders';

.table-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 5px 0;

  .link-back {
    display: flex;
    align-items: center;
    overflow: hidden;

    &__icon {
      display: flex;
      align-items: center;
    }

    &__title {
      margin: 0 5px;
      font-size: 24px;
      overflow: hidden;
      font-weight: bold;
    }
  }
}
