@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/shadows';

.job-card-template {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 165px;
  padding: 15px;
  background-color: colors.$white;
  border: borders.$primaryBorder;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: shadows.$previewBoxShadow;
  }

  &.selected {
    border: 1px solid colors.$malibu;
    outline: 1px solid colors.$malibu;

    .job-card-template__header,
    .job-card-template__sub-header {
      color: colors.$malibu;
    }
  }

  &__header {
    margin-bottom: 8px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 18px;
  }

  &__sub-header {
    font-weight: 500;
    font-size: 15px;
  }

  &__side-tag {
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 6px;
    color: colors.$amethyst;
    font-weight: bold;
    font-size: 10px;
    background-color: colors.$frenchLilac;
    border-radius: 4px 0 0 4px;
  }

  &__description {
    height: 100%;
    margin-bottom: 10px;
    color: colors.$topaz;
    font-size: 13px;
    white-space: normal;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &.dense {
    min-height: 110px;
  }
}
