@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';

.job-card-template {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 165px;
  position: relative;
  padding: 15px;
  background-color: $white;
  border: $primaryBorder;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: $previewBoxShadow;
  }

  &.selected {
    border: 1px solid $malibu;
    outline: 1px solid $malibu;

    .job-card-template__header,
    .job-card-template__sub-header {
      color: $malibu;
    }
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    padding-right: 50px;
  }

  &__sub-header {
    font-size: 15px;
    font-weight: 500;
  }

  &__side-tag {
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    border-radius: 4px 0 0 4px;
    color: $amethyst;
    background-color: $frenchLilac;
    font-size: 10px;
    font-weight: bold;
  }

  &__description {
    color: $topaz;
    font-size: 13px;
    height: 100%;
    margin-bottom: 10px;

    .data-ellipsis {
      height: 100%;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &.dense {
    min-height: 110px;
  }
}
