@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/shadows';
@import '../../scss/colors';

.content {
  position: relative;
  flex-direction: column;
  margin: 24px;
  background-color: $white;
  border-radius: $mainBorderRadius;
  box-shadow: $jobsShadow;

  @include jobsFlex;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 21px 24px;
    background-color: $white;
    box-shadow: $headerShadow;

    .btn {
      &_register {
        text-transform: capitalize;
      }
    }
  }

  .table-container {
    position: relative;
    display: flex;
    flex: 1;

    .no_data {
      margin: auto;
      color: $mulledWine;
    }
  }

  &_with-menu {
    margin-top: 52px;
  }

  &__action-bar {
    display: flex;
    padding: 23px 24px;
  }
}

.isLoading {
  height: 50%;
}
