@import "../../scss/variables";
@import "../../scss/mixins";
@import '../../scss/shadows';
@import '../../scss/colors';

.content {
  @include jobsFlex;
  flex-direction: column;
  box-shadow: $jobsShadow;
  border-radius: $mainBorderRadius;
  background-color: $white;
  margin: 52px 24px 24px;
  position: relative;
  &__header {
    display: flex;
    padding: 21px 24px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: $headerShadow;
  }
  .table-container {
    position: relative;
    display: flex;
    flex: 1;
    .no_data {
      margin: auto;
      color: $mulledWine;
    }
  }
  &__action-bar {
    padding: 23px 24px;
    display: flex;
  }
}
