@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/shadows';
@import '../../scss/colors';

.content {
  position: relative;
  flex-direction: column;
  margin: 24px;
  background-color: $white;
  border-radius: $mainBorderRadius;
  box-shadow: $jobsShadow;

  @include jobsFlex;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    padding: 14px 24px;
    background-color: $white;
    box-shadow: $headerShadow;

    .btn {
      &_register {
        text-transform: capitalize;
      }
    }
  }

  .table-container {
    position: relative;
    display: flex;
    flex: 1;
    min-height: 620px;

    .no_data {
      margin: auto;
      color: $mulledWine;
    }
  }

  &-wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 900px;
  }

  &_with-menu {
    margin-top: 45px;
  }

  &__action-bar {
    display: flex;
    align-items: center;
    padding: 4px 24px;

    &_hidden {
      display: none;
    }
  }
}
