@use '../../scss/colors';
@use '../../scss/mixins';

.select {
  &__item {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    min-height: 45px;
    padding: 10px 15px;

    &.multiple {
      padding: 0 15px;
      min-height: 0;

      input[type='checkbox'] ~ label {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }

    &.hidden {
      display: none;
    }

    .form-field-checkbox {
      flex: 1;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: colors.$alabaster;
      cursor: pointer;
    }

    &.disabled {
      color: colors.$spunPearl;
      background: colors.$white;
      cursor: not-allowed;
    }

    .status {
      margin: 0 10px;
    }

    .all {
      margin: 0;

      @include mixins.statusState(none, false);
    }

    .label-row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-label {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    &-main-label {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    &-sub-label {
      margin-top: 5px;
      font-size: 13px;
      width: 100%;
    }

    &-icon {
      display: flex;
      margin-right: 10px;
    }

    .checkmark {
      align-self: flex-start;
      margin: 0 0 0 10px;

      path {
        fill: colors.$chateauGreen;
      }
    }
  }
}
