@import '../../scss/colors';
@import '../../scss/borders';

.general {
  &__required-info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .name {
      .input {
        width: 100%;
      }
    }

    .tag {
      flex: 0.3;
      max-width: 150px;
      margin-left: 10px;

      .input {
        width: 100%;
      }
    }
  }

  .description {
    width: 100%;
    margin: 10px 0;

    .text-area {
      width: 100%;
    }
  }

  &__labels {
    &-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
      padding: 0 15px;
      border: $primaryBorder;
      border-radius: 4px;
    }

    &-text {
      margin-right: 10px;
      color: $primary;
      font-size: 15px;
      line-height: 18px;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 650px;

      .chips-wrapper {
        flex-wrap: wrap;

        .chip_short {
          cursor: pointer;
        }
      }
    }
  }
}
