@import '../../../scss/colors';

.target-store {
  &__item {
    display: flex;
    width: 100%;
  }

  &__checkbox-container {
    display: flex;
    width: 20%;
    height: 48px;
    margin-bottom: 15px;

    .checkbox {
      margin-right: 10px;

      .unchecked {
        path {
          fill: $malibu;
        }
      }
    }
  }

  &__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;

    .select {
      display: flex;
      flex: 0.25;
      min-width: 150px;
      margin-right: 10px;
    }

    .input {
      width: 100%;

      &-wrapper {
        &.url {
          flex: unset;
          width: 300px;
          margin-right: 5px;
          margin-bottom: 5px;
        }

        &.offline-path,
        &.partition-cols {
          flex: unset;
          width: 300px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .range {
      margin-right: 5px;
    }
  }
}
