@import '~igz-controls/scss/colors';

.target-store {
  &__item,
  &__path-wrapper {
    display: flex;
    align-items: baseline;
    width: 100%;

    &.v-center {
      align-items: center;
    }
  }

  &__item {
    min-height: 75px;
  }

  &__checkbox-container {
    display: flex;
    width: 20%;
    height: 48px;
    margin-bottom: 15px;

    .checkbox {
      margin-right: 10px;

      .unchecked {
        path {
          fill: $malibu;
        }
      }
    }
  }

  &__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    color: $primary;

    .select {
      display: flex;
      flex: 0.25;
      min-width: 150px;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    .path-data {
      align-self: center;
      font-size: 16px;
    }

    .online-path {
      width: 560px;
      margin-right: 5px;
    }

    .offline-path {
      width: 460px;
      margin-right: 5px;
    }

    .input {
      width: 100%;

      &-wrapper {
        &.url {
          width: 300px;
          margin-right: 5px;
          margin-bottom: 5px;
        }

        &.partition-cols {
          flex: unset;
          width: 250px;
        }
      }
    }

    .partition-fields {
      width: 100%;
      margin: 10px 0;

      &__checkbox-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-bottom: 10px;

        .checkbox {
          margin: 5px 0;
        }
      }

      &__inputs-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      .error-message {
        display: inline-flex;
      }
    }

    .range {
      width: 150px;
      margin-right: 35px;
      margin-bottom: 5px;
    }

    .radio-buttons {
      flex-direction: column;
      align-items: start;
      margin: 0 3px 10px;

      .radio-button {
        margin: 5px 0;
        color: $primary;

        .tip-container {
          top: 3px;
        }
      }
    }
  }

  &__path-actions {
    &.editable {
      align-self: center;
    }

    display: flex;
    justify-content: flex-end;
    min-width: 75px;
    margin-right: 5px;
  }

  &__apply-btn {
    min-width: 30px;
    height: 30px;
  }

  .show-advanced {
    margin: 10px 0;
    cursor: pointer;
  }
}
