@import '../../../scss/colors';

.target-store {
  &__checkbox-container {
    display: flex;
    width: 100%;
    margin-bottom: 25px;

    .checkbox {
      margin-right: 50px;

      .unchecked {
        path {
          fill: $malibu;
        }
      }
    }
  }

  &__inputs-container {
    display: flex;
    width: 100%;

    .select {
      display: flex;
      flex: 0.25;
      min-width: 150px;
      height: 50px;
      margin-right: 10px;
    }

    .input {
      width: 100%;

      &-wrapper {
        &.url {
          display: flex;
          flex: 1;
          height: 50px;
        }
      }
    }
  }
}
