.resources {
  .volume-mount {
    width: 150px;
    margin-bottom: 20px;
  }

  .volumes {
    margin-bottom: 45px;
  }

  .memory,
  .cpu {
    margin-right: 30px;

    .panel-section__body {
      align-items: center;
    }
  }

  &__inputs {
    display: flex;

    .range {
      max-width: 90px;
      margin-right: 5px;

      .input {
        width: 100%;

        &-wrapper {
          width: 100%;
        }
      }
    }

    .select {
      flex: 1 1;
      max-width: 120px;
      margin-right: 5px;
    }
  }
}
