.resources {
  .volume-mount {
    width: 150px;
    margin-bottom: 35px;
  }

  .volumes {
    margin-bottom: 35px;
  }

  .pods {
    margin-bottom: 35px;

    .panel-section__title {
      margin-bottom: 10px;
    }

    .select {
      width: 150px;
    }

    &-priority {
      margin-right: 20px;
    }
  }

  .volumes-section {
    .panel-section__title {
      margin-bottom: 10px;
    }
  }
}
