map $http_x_v3io_session_key $v3io_session_key {
    default   $http_x_v3io_session_key;
    ""        ${MLRUN_V3IO_ACCESS_KEY};
}

server {

  listen 80;

  # https://raw.githubusercontent.com/mlrun/functions/master
  location /function-catalog {
    proxy_pass ${MLRUN_FUNCTION_CATALOG_URL};
  }

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;
  }

  location /api {
    proxy_set_header x-v3io-session-key $v3io_session_key;
    proxy_pass ${MLRUN_API_PROXY_URL};
  }

  location /nuclio {
    rewrite ^/nuclio(/|$)(.*) /$2 break;
    proxy_pass ${MLRUN_NUCLIO_API_URL};
  }

  error_page   500 502 503 504  /50x.html;

  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}