map $http_x_v3io_session_key $v3io_session_key {
  default $http_x_v3io_session_key;
  ""      "${MLRUN_V3IO_ACCESS_KEY}";
}

server {

  listen 8090;

  include resolvers.conf;

  # https://raw.githubusercontent.com
  set $function_catalog ${MLRUN_FUNCTION_CATALOG_URL};
  location /function-catalog {
    rewrite /function-catalog/(.*) ${MLRUN_FUNCTION_CATALOG_PATH}/$1 break;
    proxy_pass $function_catalog;
  }

  location /mlrun {
    rewrite ^/mlrun(/|$)(.*) /$2 last;
  }

  # -------------------------------
  # Serve Static Frontend + CORS preflight handling
  # -------------------------------
  location / {
    if ($request_method = 'OPTIONS') {
      # CORS: Allowed origin from env
      add_header 'Access-Control-Allow-Origin' '${MLRUN_IGZ_UI_ALLOWED_ORIGIN}';
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
      add_header 'Access-Control-Allow-Headers' 'Origin, Content-Type, Accept, Authorization';
      add_header 'Content-Length' 0;
      add_header 'Content-Type' 'text/plain';
      return 204;
    }

    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;

    # CORS: Allowed origin from env
    add_header 'Access-Control-Allow-Origin' '${MLRUN_IGZ_UI_ALLOWED_ORIGIN}' always;
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'Origin, Content-Type, Accept, Authorization' always;
  }

  set $backend ${MLRUN_API_PROXY_URL};
  location /api {
    proxy_set_header x-v3io-session-key $v3io_session_key;
    proxy_pass $backend;
  }

  set $nuclio_backend ${MLRUN_NUCLIO_API_URL};
  location /nuclio {
    rewrite ^/nuclio(/|$)(.*) /$2 break;
    proxy_pass $nuclio_backend;
  }

  error_page   500 502 503 504  /50x.html;

  location = /50x.html {
    root   /usr/share/nginx/html;
  }
}
