map $http_x_v3io_session_key $v3io_session_key {
    default   $http_x_v3io_session_key;
    ""        ${MLRUN_V3IO_ACCESS_KEY};
}

server {

  listen 80;

  include resolvers.conf;

  # https://raw.githubusercontent.com/mlrun/functions/master
  set $function_catalog ${MLRUN_FUNCTION_CATALOG_URL};
  location /function-catalog {
    rewrite /function-catalog/(.*) ${MLRUN_FUNCTION_CATALOG_URI}/$1 break;
    proxy_pass $function_catalog;
  }

  location /mlrun {
    rewrite ^/mlrun(/|$)(.*) /$2 last;
  }

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;
  }

  set $backend ${MLRUN_API_PROXY_URL};
  location /api {
    proxy_set_header x-v3io-session-key $v3io_session_key;
    proxy_pass $backend;
  }

  set $nuclio_backend ${MLRUN_NUCLIO_API_URL};
  location /nuclio {
    rewrite ^/nuclio(/|$)(.*) /$2 break;
    proxy_pass $nuclio_backend;
  }

  error_page   500 502 503 504  /50x.html;

  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}