@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.table-cell {
  &_big {
    flex: 1;
    min-width: 100px;
  }

  &_medium {
    flex: 0.7;
    min-width: 75px;
  }

  &_small {
    flex: 0.5;
    min-width: 50px;
  }
}

.project-data-card {
  &__table {
    min-width: fit-content;
    height: 100%;
    border: $dividerBorder;
    border-radius: 8px;

    &-body {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &-row {
      display: flex;
      flex: 1;
      flex-direction: row;
      border-bottom: $tertiaryBorder;
    }

    &-link {
      min-width: 100%;
      max-width: 50px;
    }

    &-cell {
      display: flex;
      padding: 10px 5px 10px 0;
      color: $primary;
      line-height: 24px;

      &.status {
        color: $supernova;
        text-transform: none;

        &_completed,
        &_ready,
        &_running {
          color: $java;
        }

        &-nuclio {
          &_ready {
            color: $brightTurquoise;

            &.disabled {
              color: $topaz;
            }
          }

          &_scaledToZero {
            color: $topaz;
          }
        }

        &_failed,
        &_error,
        &_unhealthy {
          color: $amaranth;
        }

        &_imported {
          color: $topaz;
        }
      }

      .tooltip-wrapper {
        min-width: 8px;
        margin-right: 5px;
      }

      .table-body__cell {
        &_type {
          display: flex;
          align-items: center;
          padding: 0;
        }
      }

      &:first-child {
        padding-left: 15px;
      }
    }

    &-header {
      display: flex;
      flex: 1;
      font-size: 14px;
      line-height: 24px;
      border-bottom: $tertiaryBorder;

      .table-header-item {
        color: $topaz;
        font-weight: bold;
      }
    }

    .table-body__cell {
      align-items: center;
      border: none;
    }

    .tooltip__text {
      display: initial;
    }
  }
}
