@mixin filter($item) {
    margin-right: 16px;
    position: relative;
    display: flex;
    &::before {
        content: $item;
        position: absolute;
        display: block;
        top: 12px;
        left: 15px;
        color: #7F7989;
    }
    &::after {
        content: url('../../images/caret.png');
        position: absolute;
        display: block;
        top: 10px;
        right: 17px;
        color: #7F7989;
    }
  }

.artefacts-filter-container {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.font {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    width: 200px;
    height: 40px;
    z-index: 1;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.period {
    padding: 11px 37px 11px 65px;
}
.group {
    padding: 11px 37px 11px 80px;
}
.status {
    padding: 11px 37px 11px 105px;
}

.artefacts-filter-period{
    @include filter('Period:')
}
.artefacts-filter-group {
    @include filter('Group by:')
}
.artefacts-filter-status {
    @include filter('Show status:')
}

.artefacts-filter-search {
    button {
        height: 40px;
        width: 42px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        background-image: url('../../images/search-icon.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }
}
.artefacts-filter-refresh {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 50px;
    button {
        height: 24px;
        width: 24px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        background-image: url('../../images/refresh.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }
}