@import '../../scss/variables.scss';

.artifacts_filter {
  &_container {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
  &_period {
    margin-right: 16px;
  }
}

select {
  border-radius: $mainBorderRadius;
  background-color: transparent;
  padding: 10px 50px 10px 69px;
  border: $tableFilterBorder;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  position: relative;
  appearance: none;
}

.artifacts-filter-search {
  button {
    height: 40px;
    width: 42px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url('../../images/search-icon.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
  }
}
.artifacts-filter-refresh {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 50px;
  button {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
