@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.text-area {
  @include mixins.fieldWrapperOld;

  white-space: pre-wrap;
  resize: none;

  &__warning {
    position: absolute;
    top: 35%;
    right: 17px;
    display: none;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &-input__warning {
    right: 25px;
  }

  &:invalid {
    border: borders.$errorBorder;
  }

  &-wrapper {
    position: relative;

    .text-area.text-area_invalid {
      border: borders.$errorBorder;

      & ~ .text-area__warning {
        display: block;
      }
    }
  }

  &__tip {
    position: absolute;
    top: 35%;
    right: 15px;
  }

  &_active {
    padding: 27px 17px 9px;
  }

  &__label {
    position: sticky;
    top: 9px;
    left: 10px;
    color: colors.$topaz;
    text-transform: capitalize;
    background-color: transparent;
    pointer-events: none;

    &-mandatory {
      color: colors.$amaranth;
    }

    &.active-label {
      top: 10px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;

      .text-area__label-mandatory {
        color: colors.$topaz;
      }
    }

    &-floating {
      position: absolute;
      top: 19px;
      left: 0;
      display: block;
      width: 100%;
      padding: 0 17px;
      color: colors.$topaz;
      transition: 300ms ease all;
    }

    &_hidden {
      display: none;
    }
  }

  &__counter {
    color: colors.$topaz;
    font-size: 12px;
    text-align: right;
  }

  &:disabled {
    color: colors.$spunPearl;
    cursor: not-allowed;
  }
}
