@import '../../scss/colors';
@import '../../scss/borders';

.text-area {
  position: relative;
  padding: 18px 17px;
  color: $primary;
  white-space: pre;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;
  resize: none;

  &__warning {
    position: absolute;
    top: 35%;
    right: 17px;
    display: none;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &:invalid {
    border: $errorBorder;
  }

  &-wrapper {
    position: relative;

    .text-area.text-area_invalid {
      border: $errorBorder;

      & ~ .text-area__warning {
        display: block;
      }
    }
  }

  &__tip {
    position: absolute;
    top: 35%;
    right: 15px;
  }

  &_active {
    padding: 27px 17px 9px;
  }

  &__label {
    position: sticky;
    top: 9px;
    left: 10px;
    color: $topaz;
    text-transform: capitalize;
    background-color: transparent;
    pointer-events: none;

    &-mandatory {
      color: $amaranth;
    }

    &.active-label {
      top: 10px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;

      .text-area__label-mandatory {
        color: $topaz;
      }
    }

    &-floating {
      position: absolute;
      top: 19px;
      left: 0;
      display: block;
      width: 100%;
      padding: 0 17px;
      color: $topaz;
      transition: 300ms ease all;
    }

    &_hidden {
      display: none;
    }
  }

  &:disabled {
    color: $spunPearl;
    cursor: not-allowed;
  }
}
