@import '~igz-controls/scss/borders';

.error {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  color: $amaranth;
  background-color: rgba($amaranth, 0.1);
  border: $errorBorder;

  &__data {
    display: flex;
    align-items: center;
  }

  &__message {
    margin-right: 10px;
  }

  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    padding: 5px;
    background-color: $burntSienna;
    border-radius: 50%;
  }
}
