@import '../../scss/colors';

.settings {
  &__source {
    .input {
      width: 100%;

      &-wrapper {
        width: 100%;
      }
    }

    &-text {
      display: inline-block;
      margin-top: 5px;
      font-size: 0.75rem;
      color: $cornflowerBlue;
    }
  }
}
