@import '../../scss/colors.scss';
@import '../../scss/shadows.scss';
@import '../../scss/borders.scss';

.options-menu {
  &__body {
    width: 100%;
    max-height: 250px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    color: $mulledWineTwo;
    font-size: 1rem;
    list-style-type: none;
    background-color: $white;
    border: $primaryBorder;
    border-radius: 4px;
    box-shadow: $previewBoxShadow;
  }

  .pop-up-dialog {
    width: 100%;
    padding: 0;

    &__header {
      display: none;
    }
  }

  &-transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
}
