@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/colors';

.search-navigator {
  display: flex;
  align-items: center;
  min-width: 280px;
  border: borders.$primaryBorder;
  border-radius: 4px;

  &__counter {
    display: flex;
    color: colors.$topaz;
    font-size: 13px;

    &::after {
      display: none;
      width: 5px;
      height: 15px;
      margin: 0 5px 0 8px;
      border-right: borders.$primaryBorder;
      content: '';
    }

    &_with-divider {
      &::after {
        display: block;
      }
    }
  }

  &__buttons {
    display: flex;
    padding-right: 10px;
  }

  &__button {
    .round-icon-cp__circle {
      width: 26px;
      height: 26px;
    }

    &_back {
      rotate: -90deg;
    }

    &_next {
      rotate: 90deg;
    }

    &_cancel {
      .round-icon-cp__circle {
        width: 24px;
        height: 24px;
      }
    }
  }
}