@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: fit-content;
  margin-bottom: 30px;

  &__app-name {
    font-size: 20px;
    font-weight: 700;
    color: $primary;
  }

  &__card-tmp {
    z-index: 1;
    top: 0;
    position: sticky;
    box-sizing: border-box;
    border: $primaryBorder;
    border-radius: 12px;
    background: $white;
    padding-top: 12px;
    width: 100%;
    transition: 0.1s;
    animation: ease-in-out;
    max-height: 140px;
  }

  &__card {
    border-radius: 12px;
    border: $primaryBorder;
    padding: 6px 16px 35px;
    transition: ease-in-out;
    width: 100%;

    &-drift-status {
      margin-left: 8px;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      display: inline-block;
    }

    &-drift-status-possible_drift {
      background-color: $grandis;
    }

    &-drift-status-drift_detected {
      background-color: $ceriseRed;
    }

    &-drift-status-no_drift {
      background-color: $brightTurquoise;
    }

    &-drift-no_status {
      background-color: $doveGray;
    }

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding-left: 5px;
      font-weight: 500;

      &-result-kind {
        display: flex;
        width: max-content;
        justify-content: center;
        align-self: center;
        gap: 4px;
        overflow: hidden;
        color: $topaz;
        text-overflow: ellipsis;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &-data {
        color: $topaz;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-weight: 700;
        font-size: 18px;
      }

      &-label {
        font-size: 14px;
      }
    }

    &-body {
      display: flex;
      flex: 1;
      align-self: stretch;
      width: 100%;
      aspect-ratio: 5;
      gap: 20px;
      align-items: stretch;
      position: relative;
      box-sizing: border-box;
      transition: 0.3s;
      animation: ease-in-out;

      .chart-item {
        flex: 1;

        canvas {
          width: 100%;
          height: 100%;
        }
      }

      &-bar {
        flex: 0 1 25%;
        min-width: 210px;

        canvas {
          width: 100% ;
          height: 100% ;
        }

        canvas.hidden-canvas {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
      }

      &-line {
        flex: 1 1 0;
        margin-top: 4px;

        canvas {
          width: 100% !important;
          height: 100% !important;
        }

        canvas.hidden-canvas {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
      }

      &-invocation {
        width: auto;
        border: 1px solid transparent;
        flex: 1 1 auto;

        canvas {
          width: 100% !important;
          height: 100% !important;
        }

        canvas.hidden-canvas {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
      }
    }

    &-invocation-content {
      flex: 0 1 27%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 27%;
      gap: 8px;

      &-title {
        font-size: 18px;
        font-weight: 700;
        color: $primary;
      }

      &-content-data {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        color: $primary;

        & span {
          font-size: 14px;
          margin-right: 5px;
        }
      }
    }
  }

  //TODO: add to card class
  &__empty-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  //TODO: add to card class
  &__empty-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}

#chartjs-tooltip {
  background: $primary;
  padding: 6px 8px;
  family: Roboto;
  letter-spacing: 0.5px;

  &::after {
    display: none;
  }

  .tooltip-container {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    background: inherit;

    &-value {
      font-size: 12px;
      font-weight: 700;
    }
  }

  .tooltip-drift-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    gap: 5px;

    &-text {
      font-size: 10px;
      weight: 400;
    }
  }

  .tooltip-drift-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &-drift-possible_drift {
      background-color: $grandis;
    }

    &-drift-drift_detected {
      background-color: $ceriseRed;
    }

    &-drift-no_drift {
      background-color: $brightTurquoise;
    }

    &-drift-no-status {
      background-color: $doveGray;
    }
  }
}

.total-drift-status-tooltip {
  cursor: default;
  font-size: 12px;
  font-weight: 700;
}
