@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

$stickyHeaderHeight: 55px;

.metrics-wrapper {
  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: colors.$white;

    &__custom-filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      background-color: colors.$white;

      > * {
        margin: 0 0 15px 0;
      }

      .details-date-picker {
        margin-left: 15px;
      }
    }

    &__title {
      max-width: 350px;
      font-size: 24px;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .metrics {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
    height: fit-content;
    margin-bottom: 30px;

    &__app-name {
      color: colors.$primary;
      font-weight: 700;
      font-size: 20px;
    }

    &__card {
      width: 100%;
      padding-bottom: 35px;
      border: borders.$primaryBorder;
      box-shadow: none;

      &.metrics__card-metric {
        .metrics__card-body {
          min-height: 130px;
          aspect-ratio: 7;
        }
      }

      &.metrics__card-invocation {
        .metrics__card-body {
          aspect-ratio: 5;
        }
      }

      .metrics__card-row {
        display: flex;
        flex: 1 0 100%;
      }

      &-invocation {
        position: relative;
        z-index: 1;
        width: 100%;

        &__toggle-icon {
          position: absolute;
          right: 5px;
          bottom: 5px;
          align-self: flex-start;
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          .metrics__card-invocation__toggle-icon {
            visibility: visible;
            opacity: 1;

            .round-icon-cp__circle {
              &::before {
                opacity: 0.4;
              }

              &:hover::before {
                opacity: 1;
              }
            }
          }
        }

        &-header {
          display: flex;
          flex: 1;
          align-items: baseline;
          justify-content: end;
          height: 40px;
          color: colors.$primary;
          font-weight: 500;
          font-size: 14px;

          &__drift-icon-container {
            align-self: stretch;
            margin-right: 2px;

            svg {
              box-sizing: content-box;
              width: 17px;
              height: 17px;
              padding-top: 9px;
            }
          }

          &__drift_up {
            color: colors.$brightTurquoise;
          }

          &__drift_down {
            color: colors.$ceriseRed;
          }

          &__selected-date {
            margin-left: 4px;
            color: colors.$topaz;
          }

          &__total-title {
            margin: 0 6px 0 12px;
            font-weight: 700;
          }

          &__total-score {
            font-weight: 700;
            font-size: 24px;
          }
        }

        &-content {
          flex: 0 0 0;
          flex-wrap: wrap;
          align-content: center;
          align-items: baseline;
          justify-content: center;
          width: 0;
          font-weight: 700;
          font-size: 18px;
          visibility: hidden;
          opacity: 0;
          transition: flex 0.2s;

          &-visible {
            display: flex;
            flex: 0 1 auto;
            width: fit-content;
            margin-right: 15px;
            visibility: visible;
            opacity: 1;
            transition:
              flex 0.2s,
              visibility 0s,
              opacity 1s;
          }

          &-title {
            margin-right: 24px;
            color: colors.$primary;
            font-size: 18px;
            text-align: center;
          }

          &-container {
            display: flex;
            gap: 2px;
            align-items: baseline;
            font-weight: 700;
            font-size: 14px;

            &__drift-icon {
              align-self: stretch;

              svg {
                box-sizing: content-box;
                width: 17px;
                height: 17px;
                margin-top: -1px;
              }
            }

            &__drift_up {
              margin-right: 4px;
              color: colors.$brightTurquoise;
            }

            &__drift_down {
              margin-right: 4px;
              color: colors.$ceriseRed;
            }
          }

          &-data {
            display: flex;
            align-items: baseline;
            margin-left: 15px;

            &__total-title {
              margin-right: 7px;
              font-weight: 700;
              font-size: 14px;
            }

            &__total-score {
              font-weight: 700;
              font-size: 24px;
            }
          }
        }

        .metrics__card {
          padding-top: 12px;
          padding-bottom: 0;
        }

        &_collapsed .stats-card__row {
          height: 0;
          min-height: 0 !important;
          margin-bottom: 0 !important;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }

        &_expanded .stats-card__row {
          height: 40px;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }

      &-drift-status {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 8px;
        border-radius: 50%;
      }

      &-drift-status-possible_drift {
        background-color: colors.$grandis;
      }

      &-drift-status-drift_detected {
        background-color: colors.$ceriseRed;
      }

      &-drift-status-no_drift {
        background-color: colors.$brightTurquoise;
      }

      &-drift-no_status {
        background-color: colors.$doveGray;
      }

      &-header {
        position: relative;
        top: -5px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;
        font-weight: 500;
        transition: all 0.2s linear;

        &-result-kind {
          display: flex;
          gap: 4px;
          align-self: center;
          justify-content: center;
          width: max-content;
          overflow: hidden;
          color: colors.$topaz;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto, sans-serif;
          font-style: normal;
          line-height: normal;
          text-overflow: ellipsis;
        }

        &-data {
          color: colors.$topaz;
          font-weight: 700;
          font-size: 18px;
          text-align: center;
          leading-trim: both;
          text-edge: cap;
        }

        &-label {
          font-size: 14px;
        }
      }

      &-body {
        position: relative;
        display: flex;
        flex: 1;
        align-self: stretch;
        box-sizing: border-box;
        width: 100%;

        &-collapsed {
          height: 80px;
        }

        .chart-item {
          flex: 1;

          canvas {
            width: 100%;
            height: 100%;
          }
        }

        &-bar {
          flex: 0 1 25%;
          min-width: 210px;
          margin-right: 15px;

          canvas {
            width: 100%;
            height: 100%;
          }

          canvas.hidden-canvas {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
          }
        }

        &-line {
          flex: 1 1 0;
          margin-top: 3px;

          canvas {
            width: 100% !important;
            height: 100% !important;
          }

          canvas.hidden-canvas {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
          }
        }

        &-invocation {
          flex: 1;
          border: 1px solid transparent;

          canvas {
            width: 100% !important;
            height: 100% !important;
          }

          canvas.hidden-canvas {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
          }
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
    }

    &__empty-select {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-shadow: none;
    }
  }
}

.empty-invocation-card {
  z-index: 1;
  padding-bottom: 1em;
  box-shadow: 0 -10px 0 0 colors.$white;
}
