@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.metrics {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 16px;
  height: fit-content;
  margin-bottom: 30px;

  &__app-name {
    font-size: 20px;
    font-weight: 700;
    color: $primary;
  }

  &__card {
    border-radius: 12px;
    border: $primaryBorder;
    padding: 6px 16px 35px;
    width: 100%;

    &-invocations {
      z-index: 1;
      align-self: baseline;
      top: 0;
      position: sticky;
      box-shadow: 0 -10px 0 0 $white;
      border-radius: 12px;
      background: $white;
      padding-top: 12px;
      padding-bottom: 0;
      width: 100%;

      &-header-hidden .stats-card__row {
        height: 0;
        min-height: 0 !important;
        visibility: hidden !important;
        transition: all 0.2s ease-in-out;
        margin-bottom: 0 !important;
      }

      &-header-visible .stats-card__row {
        height: 40px;
        transition: all 0.2s ease-in-out;
      }

      .content-visible {
        display: flex;
        flex: 0 1 auto;
        opacity: 1;
        transition:
          flex 0.2s,
          visibility 0s,
          opacity 1s;
        visibility: visible;
        width: fit-content;
      }
    }

    &-drift-status {
      margin-left: 8px;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      display: inline-block;
    }

    &-drift-status-possible_drift {
      background-color: $grandis;
    }

    &-drift-status-drift_detected {
      background-color: $ceriseRed;
    }

    &-drift-status-no_drift {
      background-color: $brightTurquoise;
    }

    &-drift-no_status {
      background-color: $doveGray;
    }

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding-left: 5px;
      font-weight: 500;
      transition: all 0.2s linear;

      &-result-kind {
        display: flex;
        width: max-content;
        justify-content: center;
        align-self: center;
        gap: 4px;
        overflow: hidden;
        color: $topaz;
        text-overflow: ellipsis;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &-data {
        color: $topaz;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-weight: 700;
        font-size: 18px;
      }

      &-label {
        font-size: 14px;
      }
    }

    &-body {
      display: flex;
      flex: 1;
      align-self: stretch;
      width: 100%;
      aspect-ratio: 5;
      gap: 20px;
      align-items: stretch;
      position: relative;
      box-sizing: border-box;

      &-collapsed {
        height: 80px;
        transition: all 0.3s ease-in-out;
      }

      &-expanded {
        height: 200px;
        transition: all 0.3s ease-in-out;
      }

      .chart-item {
        flex: 1;

        canvas {
          width: 100%;
          height: 100%;
        }
      }

      &-bar {
        flex: 0 1 25%;
        min-width: 210px;

        canvas {
          width: 100%;
          height: 100%;
        }

        canvas.hidden-canvas {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
      }

      &-line {
        flex: 1 1 0;
        margin-top: 4px;

        canvas {
          width: 100% !important;
          height: 100% !important;
        }

        canvas.hidden-canvas {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
      }

      &-invocation {
        border: 1px solid transparent;
        flex: 1;

        canvas {
          width: 100% !important;
          height: 100% !important;
        }

        canvas.hidden-canvas {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
      }
    }

    &-invocation-header {
      display: flex;
      flex: 1;
      justify-content: end;
      align-items: baseline;
      font-size: 14px;
      font-weight: 500;
      color: $primary;
      height: 40px;

      &_drift-icon-contrainer {
        align-self: stretch;
        margin-right: 2px;

        svg {
          box-sizing: content-box;
          padding-top: 8px;
          width: 17px;
          height: 17px;
        }
      }

      &_drift_up {
        color: $brightTurquoise;
      }

      &_drift_down {
        color: $ceriseRed;
      }

      &-selected-date {
        margin-left: 4px;
        color: $topaz;
      }

      &-total-title {
        margin: 0 6px 0 12px;
        font-weight: 700;
      }

      &-total-score {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &-invocation-content {
      flex: 0 0 0;
      transition: flex 0.2s;
      opacity: 0;
      visibility: hidden;
      width: 0;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      align-content: center;
      font-size: 18px;
      font-weight: 700;

      &-title {
        text-align: center;
        font-size: 18px;
        margin-right: 24px;
        color: $primary;
      }

      &-container {
        display: flex;
        align-items: baseline;
        gap: 2px;
        font-size: 14px;
        font-weight: 700;

        &_drift_icon {
          align-self: stretch;

          svg {
            box-sizing: content-box;
            width: 17px;
            height: 17px;
          }
        }

        &_drift_up {
          color: $brightTurquoise;
          margin-right: 4px;
        }

        &_drift_down {
          color: $ceriseRed;
          margin-right: 4px;
        }
      }

      &-data {
        display: flex;
        align-items: baseline;
        margin-left: 15px;

        &_total_title {
          margin-right: 7px;
          font-size: 14px;
          font-weight: 700;
        }

        &_total_score {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  //TODO: add to card class
  &__empty-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  &__empty-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}

.empty-invocation-card {
  position: sticky;
  box-shadow: 0 -10px 0 0 $white;
  top: 0;
  z-index: 1;
}

#chartjs-tooltip-metric {
  position: fixed;
  z-index: 5;
  color: $white;
  border-radius: 4px;
  transform: translate(-50%, calc(-100% - 10px));
  transition: all 0.1s linear;
  background-color: $primary;
  padding: 6px 8px;
  family: Roboto;
  letter-spacing: 0.5px;

  &::after {
    display: none;
  }

  .tooltip-container {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    background: inherit;

    &-value {
      font-size: 12px;
      font-weight: 700;
    }
  }

  .tooltip-drift-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    gap: 5px;

    &-text {
      font-size: 10px;
      weight: 400;
    }
  }

  .tooltip-drift-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &-drift-possible_drift {
      background-color: $grandis;
    }

    &-drift-drift_detected {
      background-color: $ceriseRed;
    }

    &-drift-no_drift {
      background-color: $brightTurquoise;
    }

    &-drift-no-status {
      background-color: $doveGray;
    }
  }
}
