@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

$stickyHeaderHeight: 55px;

.metrics-wrapper {
  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: colors.$white;

    &__custom-filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      background-color: colors.$white;

      > * {
        margin: 0 0 15px;
      }

      .details-date-picker {
        margin-left: 15px;
      }
    }

    &__title {
      max-width: 350px;
      font-size: 24px;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .metrics {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
    height: fit-content;
    margin-bottom: 30px;

    &__app-name {
      color: colors.$primary;
      font-weight: 700;
      font-size: 20px;
    }

    &-wrapper {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
    }

    &__empty-select {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-shadow: none;
    }
  }
}
