@import "../../scss/colors";

.create-container {
  flex: 1;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: $white;

    .header-link {
      display: flex;
      align-items: center;

      &__title {
        margin: 0 18px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $primary
      }

      &__icon {
        margin-bottom: -4px;
      }
    }
  }

  &__data {
    flex: 1;
    padding: 28px;

    .expand-icon {
      position: absolute;
      left: 0;
      top: 0;
    }

    .data-wrapper {
      flex: 1;

      &__header {
        padding-left: 35px;
        padding-top: 3px;
        margin-bottom: 40px;

        .header {
          &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: $topaz;
            margin: 0;
          }
        }
      }

      &__list {
        flex: 1;
        margin-top: 16px;
        display: flex;
        flex-flow: row wrap;
      }
    }
  }
}
