@import '../../scss/colors';

.create-container {
  flex: 1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px;
    background-color: $white;

    .header {
      &-link {
        display: flex;
        align-items: center;

        &__title {
          margin: 0 18px;
          color: $primary;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
        }

        &__icon {
          margin-bottom: -4px;
        }
      }

      &-buttons {
        display: none;
      }
    }
  }

  &__data {
    flex: 1;
    padding: 28px;

    .expand-icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-list {
      position: relative;
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      margin-top: 16px;
      padding: 0 15px;

      .wrapper {
        position: absolute;
        background-color: transparent;
      }
    }

    .templates-container {
      padding: 8px 20px;

      .category-header {
        display: flex;
        align-items: center;
        margin: 0 30px 12px;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;

        &__icon {
          margin-right: 5px;
        }

        &.data-prep {
          color: $pharlap;
        }

        &.data-source {
          color: $java;
        }

        &.NLP {
          color: $java;
        }

        &.serving {
          color: $supernova;
        }

        &.training {
          color: $sorbus;
        }

        &.analysis {
          color: $orchid;
        }

        &.simulators {
          color: $cornflowerBlue;
        }

        &.notifications {
          color: $pictonBlue;
        }

        &.dl {
          color: $malibu;
        }

        &.ml {
          color: $amaranth;
        }

        &.other {
          margin: 2px 30px 17px;
        }
      }
    }

    .container {
      &.templates-wrapper {
        height: 40px;

        &.open {
          height: 100%;
        }
      }

      .accordion__body {
        overflow: visible;
      }

      .create-container__data-list {
        display: none;
        padding-left: 30px;
      }

      &.open {
        .create-container__data-list {
          display: flex;
        }
      }
    }

    .data {
      &-wrapper {
        flex: 1;
      }

      &-search {
        margin-bottom: 50px;
      }

      &-header {
        margin-bottom: 30px;
        padding-top: 3px;
        padding-left: 35px;

        &_with-select {
          margin-top: -8px;
        }

        &__title {
          display: flex;
          align-items: center;
          margin: 0;
          color: $topaz;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
        }

        &__select {
          border: none;

          .select {
            &__body {
              min-width: 135px;
            }

            &__caret {
              right: -25px;
            }

            &__item {
              font-weight: normal;
              font-size: 15px;
            }
          }

          &.active {
            background: transparent;
          }
        }
      }
    }
  }
}
