@import "../../scss/variables";
@import '../../scss/mixins';

.header {
  @include fixed;
  background-color: $mainHeaderBg;
  width: 100%;
  display: flex;
  z-index: 9999;
  box-shadow: $mainHeaderShadow;
  min-height: 64px;
  padding: 0 24px;
  align-items: center;
  color: $white;
  &__logo {
    width: 43px;
    height: 43px;
    img {
      width: 100%;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    flex: auto;
    span {
      font-weight: 300;
    }
  }
  &__link {
    padding: 5px 15px;
    text-decoration: none;
    color: $white;
    min-width: 64px;
    text-transform: uppercase;
    font-weight: 500;
    border: $gitBorder;
    border-radius: $mainBorderRadius;
  }
}
