@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/mixins';

.project-card {
  position: relative;
  min-height: 240px;
  color: $topaz;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $previewBoxShadowInit;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  @include gradient('card');

  &__general-info {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
    padding: 20px 25px 15px;
  }

  &__header {
    margin-bottom: 0.5rem;
    padding-right: 1.7rem;

    &-title {
      display: flex;
      align-items: stretch;
      margin-bottom: 5px;
      color: $primary;
      font-weight: normal;
      font-size: 1.25rem;

      :not(:first-child) {
        flex: 1 0 auto;
      }
    }

    &-sub-title {
      width: 100%;
    }
  }

  &__description {
    min-height: 20px;
    margin-bottom: 1.25rem;
  }

  &__content {
    width: 100%;
    min-height: 72px;
  }

  &__statistic {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.25rem;
  }

  &__title {
    flex: 0 1 100%;
    margin-right: 1rem;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 0.75rem;

    & > *:first-child {
      flex: 0 0 auto;
      margin-right: 5px;
      color: $spunPearl;
    }

    &-icon {
      flex: 0 1 25px;

      & * {
        fill: $spunPearl;
      }
    }
  }

  &__labels {
    .chips-cell {
      .chip-block {
        max-width: 250px;
      }

      .chip__value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &:hover {
    box-shadow: $previewBoxShadow;
  }

  .project-data-card__statistics {
    &-item {
      flex: 0 0 auto;
      margin: 0 27px;

      &::after {
        display: none;
      }
    }

    &-data {
      width: auto;
      margin: 0;
      padding: 0;
    }

    &-value {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      margin-bottom: 5px;
      font-size: 22px;
      background-color: $wildSand;
      border-radius: 50%;

      &.statistics_failed {
        background-color: inherit;
        border: 1px solid $amaranth;
      }
    }

    &-label {
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__actions-menu {
    position: absolute;
    top: 14px;
    right: 7px;
    z-index: 4;
    transition: opacity 0.3s ease-in-out;

    .actions-menu {
      &__container {
        display: block;

        .btn {
          padding: 0;
          border: none;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
