@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';

.project-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 25%;
  margin: 9px 12px;
  padding: 25px 25px 20px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $previewBoxShadowInit;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &::before {
    content: '';
    background: linear-gradient(
      90deg,
      #d873e1 -20.43%,
      #dd71d5 -20.42%,
      #fc658f 48.31%,
      #ffb971 111.56%
    );
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: $primary;
    font-weight: normal;
    font-size: 1.25rem;

    :not(:first-child) {
      flex: 1 0 auto;
    }
  }

  &__general-info {
    margin-bottom: 1rem;
  }

  &__statistic {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    flex: 0 1 100%;
    margin-right: 1rem;
  }

  &_description {
    color: $topaz;
    font-size: 15px;
    line-height: 18px;
  }

  &__info {
    display: flex;
    align-items: center;
    color: $topaz;
    font-size: 0.625rem;
    margin-right: 10px;

    :first-child {
      color: $spunPearl;
      margin-right: 5px;
    }

    &-icon {
      flex: 0 1 25px;
    }

    & * {
      fill: $spunPearl;
    }

    &.f-12 {
      font-size: 0.75rem;
    }
  }

  &:hover {
    box-shadow: $previewBoxShadow;
    .project-card__actions-menu {
      opacity: 1;
    }
  }

  .project-data-card__statistics {
    &-item {
      min-width: 65px;
      max-width: 80px;
      margin: 0 27px;

      &::after {
        display: none;
      }
    }

    &-data {
      padding: 0;
    }

    &-value {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      font-size: 32px;
      min-width: 65px;
      min-height: 65px;
      background-color: $wildSand;
      border-radius: 50%;

      &.statistics_failed {
        background-color: $carouselPink;
      }
    }

    &-label {
      font-size: 12px;
    }
  }

  &__actions-menu {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .actions-menu {
      &__container {
        display: block;

        .btn {
          padding: 0;
          border: none;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
