@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.recurring-container {
  user-select: none;

  span {
    color: $primary;
  }

  .repeat_container {
    display: flex;
    align-items: center;
    margin: 15px 0;

    & > * {
      &:not(:last-child) {
        margin: auto 10px auto 0;
      }
    }

    .range {
      margin-right: 15px;
    }

    .schedule-repeat {
      display: flex;
      align-items: center;

      &-week {
        &_day {
          width: 32px;
          height: 32px;
          margin-right: 4px;
          color: $spunPearl;
          line-height: 32px;
          text-align: center;
          border: $primaryBorder;
          border-radius: 16px;
          cursor: pointer;

          &.active {
            color: $white;
            background-color: $malibu;
            border: $transparentBorder;
          }
        }
      }
    }
  }

  .select {
    &__header {
      min-width: 190px;
      height: 55px;
    }

    &__value {
      min-width: 190px;
      padding-left: 15px;
    }
  }

  .time-picker__wrapper {
    height: 55px;
  }

  .repeat_end_container {
    // display: flex;
    display: none;
    margin: 15px 0;

    .select {
      margin-right: 15px;
    }
  }
}
