@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.recurring_container {
  user-select: none;

  span {
    color: $primary;
  }

  .repeat_container {
    margin: 15px 0;
    display: flex;

    .range {
      margin-right: 15px;
    }

    .schedule-repeat {
      display: flex;
      align-items: center;

      &-week {
        margin-left: 16px;
        &_day {
          height: 32px;
          width: 32px;
          line-height: 32px;
          text-align: center;
          border-radius: 16px;
          margin-right: 4px;
          border: $primaryBorder;
          color: $spunPearl;
          cursor: pointer;

          &.active {
            background-color: $purple;
            border: $transparentBorder;
            color: $white;
          }
        }
      }

      &-text,
      &__text {
        margin: auto 5px;
      }
    }
  }

  .select {
    &__header {
      min-width: 218px;
      height: 55px;
    }

    &__value {
      padding-left: 15px;
      min-width: 190px;
    }
  }

  .repeat_end_container {
    margin: 15px 0;
    // display: flex;
    display: none;

    .select {
      height: 56px;
      margin-right: 15px;
    }
  }
}
