@import '../../scss/colors.scss';
@import '../../scss/borders';

.accordion {

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    height: 65px;
    background-color: $white;
    border: $primaryBorder;
    margin: 16px 40px 0;
    transition: height 0.3s linear;

    &.open {
      height: 100%;
      transition: height 0.3s linear;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__body {
    overflow: hidden;
  }
}
