@import '../../scss/colors';
@import '../../scss/borders';

.accordion {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65px;
    transition: height 0.3s ease-in-out;

    &.open {
      height: 100%;
      transition: height 0.3s ease-in-out;
    }
  }

  &__icon {
    z-index: 3;
    transform: rotate(0);
    transform-origin: center center;
    transition: transform 200ms ease-in-out;

    &.open {
      transform: rotate(90deg);
      transform-origin: center center;
      transition: transform 200ms linear;
    }
  }

  &__body {
    height: auto;
    overflow: hidden;
  }
}
