@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.functions-panel__title {
  @include panelTitle;

  h5 {
    margin: 4px 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
  }

  p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
  }
}
