@import '../../scss/colors';

.editor-modal {
  height: 100%;
  background-color: $white;

  &-container {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: rgba($black, 0.5);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;

    .btn {
      margin: 0 5px;
    }
  }

  &__body {
    height: 85vh;
  }
}
