@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$scheduledJobsRowHeight: variables.$rowHeightSmall;
$scheduledJobsHeaderRowHeight: variables.$headerRowHeight;
$scheduledJobsRowHeightExtended: variables.$rowHeightSmall;

:root {
  --scheduledJobsRowHeight: #{$scheduledJobsRowHeight};
  --scheduledJobsHeaderRowHeight: #{$scheduledJobsHeaderRowHeight};
  --scheduledJobsRowHeightExtended: #{$scheduledJobsRowHeightExtended};
}

.scheduled-jobs-table {
  @include mixins.rowsHeight(
    $scheduledJobsHeaderRowHeight,
    $scheduledJobsRowHeight,
    $scheduledJobsRowHeightExtended
  );
}
