@use 'igz-controls/scss/mixins';

.time-picker-container {
  .time-picker {
    @include mixins.inputSelectField;

    &__label {
      text-transform: none;
    }

    &__wrapper {
      input {
        padding: 0 12px 0 10px;
      }

      .time-picker__dropdown-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 4px;
        cursor: pointer;
      }
    }
  }
}

.time-picker__dropdown {
  .pop-up-dialog {
    height: 184px;
    padding: 0;
  }

  &-item {
    height: 46px;
    padding: 14px 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
