@import '../../scss/borders';

.transformations-tab {
  display: flex;
  flex: 1 1;

  .graph-pane {
    .config-item {
      height: 50px;
      border-top: $secondaryBorder;

      &:last-child {
        border-bottom: $secondaryBorder;
      }

      &__title {
        margin-left: 40px;
        padding: 15px 0;
        font-size: 16px;
      }

      &__content {
        display: none;
        margin: 10px 15px 10px 40px;

        .row {
          display: flex;
          align-items: center;
          margin: 20px 0;

          &-label {
            margin-right: 10px;
            color: $spunPearl;
            font-weight: bold;
            white-space: nowrap;
          }

          &-value {
            width: 100%;
          }

          &.radio-buttons-row {
            margin-right: 10px;
            margin-left: 10px;
          }

          &.select-row {
            justify-content: space-between;

            & > * {
              width: 50%;

              &:not(:last-child) {
                margin-right: 10px;
              }
            }
          }
        }
      }

      &.open {
        height: auto;

        .config-item__content {
          display: block;
        }
      }

      .accordion__body {
        overflow: visible;
      }

      .expand-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 50px;
      }
    }
  }
}
