@import "../../scss/colors";
@import '../../scss/borders';

.range {
  position: relative;

  &__input {
    border: $primaryBorder;
    border-radius: 4px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 2;
    height: 20px;
    width: 30px;

    &.increase {
      top: 8px;
    }

    &.decrease {
      transform: rotate(180deg);
      bottom: 8px;
    }
  }
}
