@import '../../scss/colors';
$arrowLength: 10px;
$iconLength: 16px;
$arrowOffset: 20px;

.tip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tip {
  position: fixed;
  z-index: 10;
  display: block;
  padding: 6px 8px;
  color: $white;
  white-space: pre-line;
  background: $primary;
  border-radius: 4px;

  &_top {
    &::after {
      bottom: calc(-#{$arrowLength / 2});
    }
  }

  &_bottom {
    &::after {
      top: calc(-#{$arrowLength / 2});
    }
  }

  &_left {
    &::after {
      right: calc(#{$arrowOffset});
    }
  }

  &_right {
    &::after {
      left: calc(#{$arrowOffset});
    }
  }

  &_small {
    min-width: 100px;
    max-width: 250px;
  }

  &_big {
    min-width: 250px;
    max-width: 400px;
  }

  &::after {
    position: absolute;
    width: $arrowLength;
    height: $arrowLength;
    background: $primary;
    transform: rotate(45deg);
    content: '';
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

:export {
  arrowlength: $arrowLength;
  iconlength: $iconLength;
  arrowoffset: $arrowOffset;
}
