@import '../../scss/colors.scss';

.tip-container {
  position: relative;
  display: flex;
  align-items: center;

  .tip {
    position: absolute;
    z-index: 6;
    padding: 6px 8px;
    color: $white;
    background: $primary;
    border-radius: 2px;

    &-left {
      bottom: calc(100% + 10px);
      left: -10px;
    }

    &_small {
      min-width: 125px;
    }

    &_big {
      min-width: 300px;
    }

    &::after {
      position: absolute;
      bottom: -4px;
      left: 13px;
      width: 10px;
      height: 10px;
      background: $primary;
      transform: rotate(45deg);
      content: '';
    }
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
