@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/variables';

.settings-content {
  padding: 15px 24px 10px;

  .settings__card {
    width: 100%;
    padding: 24px 0;
    background-color: colors.$white;

    &-content {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -15px;

      &-col {
        padding: 0 15px;
        flex: 0 0 auto;
        width: 50%;
        min-width: 650px;

        &:not(:last-child) {
          border-right: borders.$dividerBorder;
        }
      }
    }

    &-divider {
      margin: 16px 0;
      border-top: borders.$primaryBorder;
    }

    &-title {
      display: flex;
      align-items: center;
      margin: 0 0 15px;
      font-weight: 500;
      font-size: 20px;

      .tip-container {
        margin-left: 5px;
      }
    }

    &-subtitle {
      margin: 0 0 15px;
      font-weight: 400;
    }
  }

  .new-secret__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 44px;
    padding: 10px;
    color: #6279e7;
    font-size: 15px;
    line-height: 18px;

    svg {
      width: 20px;
      height: 20px;

      rect {
        fill: colors.$cornflowerBlue;
      }
    }
  }

  .action__button {
    cursor: pointer;
  }
}
