@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/variables';

.settings {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100%;
  background-color: $white;

  &__content {
    position: relative;
    margin: 25px 40px;
  }

  &__header {
    padding: 20px 24px;
    background-color: $white;
    box-shadow: $headerShadow;
  }

  &__card {
    &-content {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -15px;

      &-col {
        padding: 0 15px;
        flex: 0 0 auto;
        width: 50%;
        min-width: 650px;
      }
    }

    width: 100%;
    padding: 24px 0;
    background-color: $white;

    &-divider {
      margin: 16px 0;
      border-top: $primaryBorder;
    }

    &-title {
      display: flex;
      align-items: center;
      margin: 0 0 15px;
      font-weight: 500;
      font-size: 20px;

      .tip-container {
        margin-left: 5px;
      }
    }
    &-subtitle {
      margin: 0 0 15px;
      font-weight: 400;
    }
  }
}

.new-secret__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 44px;
  padding: 10px;
  color: #6279e7;
  font-size: 15px;
  line-height: 18px;

  svg {
    width: 20px;
    height: 20px;

    rect {
      fill: $cornflowerBlue;
    }
  }
}

.action__button {
  cursor: pointer;
}
