@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/shadows';
@import '../../scss/variables';

.settings {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 600px;
  background-color: $white;

  &__content {
    position: relative;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    margin: 45px 60px 25px 25px;
  }

  &__header {
    padding: 20px 24px;
    background-color: $white;
    box-shadow: $headerShadow;
  }

  &__card {
    &-content {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -15px;

      &-col {
        padding: 0 15px;
        flex: 0 0 auto;
        width: 50%;
      }
    }

    width: 100%;
    padding: 24px 0;
    background-color: $white;

    &-divider {
      margin: 16px 0;
      border-top: $primaryBorder;
    }

    &-title {
      margin: 0 0 15px;
      font-weight: 500;
      font-size: 20px;
    }
    &-subtitle {
      margin: 0 0 15px;
      font-weight: 400;
    }
  }
}

.new-secret__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 44px;
  padding: 10px;
  color: #6279e7;
  font-size: 15px;
  line-height: 18px;

  svg {
    width: 20px;
    height: 20px;

    rect {
      fill: $cornflowerBlue;
    }
  }
}

.action__button {
  cursor: pointer;
}
