@use 'igz-controls/scss/colors';

.projects-monitoring {
  &-container {
    margin-bottom: 3rem;

    .page-header {
      margin-bottom: 1em;
    }
  }

  &-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @media screen and (min-width: 1400px) {
      grid-template-columns: 4fr 4fr 3.5fr 4fr;
    }
  }

  [class^='state-'] {
    margin-left: 5px;
  }
}
