@import '~igz-controls/scss/colors';

.projects-monitoring {
  &-container {
    margin-bottom: 2rem;
    padding: 30px;
    background-color: $wildSand;
  }

  &-legend {
    display: flex;
    align-items: baseline;
    margin-bottom: 2em;

    &__title {
      margin: 0 30px 0 0;
      font-size: 24px;
    }

    &__status {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.75rem;

        [class^='state-'] {
          margin-left: 5px;
        }

        &.link {
          color: $primary;
          font-size: 13px;
        }
      }
    }
  }

  &-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 18px 24px;
  }
}
