@use 'igz-controls/scss/colors';

.projects-monitoring {
  &-container {
    margin-bottom: 3rem;

    .page-header {
      margin-bottom: 1em;
    }
  }

  &-stats {
    display: grid;
    gap: 15px;

    &_narrow {
      grid-template-columns: repeat(5, minmax(110px, 1fr));

      @media (max-width: 1250px) {
        grid-template-columns: repeat(6, minmax(110px, 1fr));
        gap: 10px;
      }
    }

    &_wide {
      grid-template-columns: repeat(6, minmax(110px, 1fr));

      @media (max-width: 1150px) {
        .monitoring-stats .project-card__info {
          display: none;
        }
      }

      @media (max-width: 1250px) {
        grid-template-columns: repeat(6, minmax(110px, 1fr));
        gap: 10px;
      }

      @media (max-width: 1100px) {
        grid-template-columns: repeat(7, minmax(110px, 1fr));
        gap: 10px;
      }
    }
  }

  [class^='state-'] {
    margin-left: 5px;
  }
}

main.unpinned {
  .projects-monitoring-stats_narrow {
    @media (max-width: 1250px) {
      grid-template-columns: repeat(5, minmax(110px, 1fr));
      gap: 10px;
    }

    @media (max-width: 1100px) {
      grid-template-columns: repeat(6, minmax(110px, 1fr));
      gap: 10px;
    }
  }

  .projects-monitoring-stats_wide {
    @media (max-width: 1150px) {
      .monitoring-stats .project-card__info {
        display: none;
      }
    }

    @media (max-width: 1250px) {
      grid-template-columns: repeat(6, minmax(110px, 1fr));
      gap: 10px;
    }

    @media (max-width: 1100px) {
      grid-template-columns: repeat(7, minmax(110px, 1fr));
      gap: 10px;
    }
  }
}
