@use 'igz-controls/scss/colors';

.projects-monitoring {
  &-container {
    margin-bottom: 3rem;

    .page-header {
      margin-bottom: 1em;
    }
  }

  &-stats {
    display: grid;
    gap: 15px;

    &--narrow {
      grid-template-columns: repeat(5, 1fr);

      @container (max-width: 950px) {
        grid-template-columns:  repeat(6, 1fr);
        gap: 10px;
      }
    }

    &--wide {
      grid-template-columns: repeat(6, 1fr);
      @container (max-width: 950px) {
        grid-template-columns:  repeat(7, 1fr);
        gap: 10px;
      }
    }
  }

  [class^='state-'] {
    margin-left: 5px;
  }
}
