@import '~igz-controls/scss/borders';

.workflow-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  width: 100%;

  .workflow-content {
    flex-direction: column;

    .graph-view {
      &.with-selected-job {
        width: 35%;
      }

      .table__item {
        width: 65%;
      }
    }
  }
}
