@use 'igz-controls/scss/borders';

.workflow-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  width: 100%;

  .workflow__actions {
    &-container {
      display: flex;
      flex-direction: row;
      gap: 2px;
      align-items: center;
    }

    svg {
      width: 14px;
      height: 14px;
      padding: 0;
    }
  }

  .workflow-content {
    flex-direction: column;

    .graph-view {
      &.with-selected-job {
        width: 35%;
      }

      .table__item {
        width: 65%;
      }
    }
  }
}
