@import '../../scss/borders';

.workflow-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;

  .workflow-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px 10px;
    border-bottom: $secondaryBorder;

    .link-back {
      display: flex;
      align-items: center;
      overflow: hidden;

      &__icon {
        display: flex;
        align-items: center;
      }

      &__title {
        margin: 0 5px;
        overflow: hidden;
        font-weight: bold;
      }
    }
  }

  .workflow-content {
    position: relative;
    display: flex;
    flex: 1 1;
    flex-direction: column;

    .graph-view {
      display: flex;
      flex: 1 1;
      flex-direction: column;
      background-color: $gallery;

      &.with-selected-job {
        width: 35%;
      }

      .table__item {
        width: 65%;
      }
    }
  }
}
