@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$featureVectorsRowHeight: $rowHeight;
$featureVectorsHeaderRowHeight: $headerRowHeight;
$featureVectorsRowHeightExtended: $rowHeight;

.feature-vectors-table {
  @include rowsHeight($featureVectorsHeaderRowHeight, $featureVectorsRowHeight, $featureVectorsRowHeightExtended);
}

:export {
  featureVectorsRowHeight: $featureVectorsRowHeight;
  featureVectorsHeaderRowHeight: $featureVectorsHeaderRowHeight;
  featureVectorsRowHeightExtended: $featureVectorsRowHeightExtended;
}
