@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$featureVectorsRowHeight: variables.$rowHeight;
$featureVectorsHeaderRowHeight: variables.$headerRowHeight;
$featureVectorsRowHeightExtended: variables.$rowHeight;

:root {
  --featureVectorsRowHeight: #{$featureVectorsRowHeight};
  --featureVectorsHeaderRowHeight: #{$featureVectorsHeaderRowHeight};
  --featureVectorsRowHeightExtended: #{$featureVectorsRowHeightExtended};
}

.feature-vectors-table {
  @include mixins.rowsHeight(
    $featureVectorsHeaderRowHeight,
    $featureVectorsRowHeight,
    $featureVectorsRowHeightExtended
  );
}
