@use 'igz-controls/scss/colors';

.settings {
  &__members {
    &-summary {
      margin-bottom: 30px;
      padding: 19px 0 19px 25px;
      color: colors.$primary;
      background-color: colors.$wildSand;

      &_icon {
        margin-right: 10px;
      }
    }
  }
}
