@import '~igz-controls/scss/colors';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  z-index: 9;

  &-transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active,
    &-enter-done {
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
    }

    &-exit {
      opacity: 0.5;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
