@use '../../scss/colors';
@use '../../scss/shadows';
@use '../../scss/borders';

.options-menu {
  &__body {
    width: 100%;
    max-height: 250px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    color: colors.$mulledWineTwo;
    font-size: 1rem;
    list-style-type: none;
    background-color: colors.$white;
    border: borders.$primaryBorder;
    border-radius: 4px;
    box-shadow: shadows.$previewBoxShadow;
  }

  .pop-up-dialog {
    width: 100%;
    padding: 0;
  }

  &-transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
}
