@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/variables';

.pagination {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4px 4px;

  .pagination-items-count,
  .pagination-items-selector {
    width: 210px;
  }

  .pagination-items-selector {
    display: flex;
    justify-content: right;
  }

  .pagination-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .pagination-pages {
    display: flex;
    justify-content: center;
  }

  .pagination-btn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 4px 5px;
    color: colors.$primary;
    font-weight: normal;
    font-size: 14px;
    border: none;
    cursor: default;

    &:hover:not(.pagination-btn_active, :disabled) {
      cursor: pointer;
    }

    &:disabled {
      color: colors.$bombay;
      cursor: default;
    }

    &.pagination-btn_active {
      color: colors.$malibu;
      font-weight: bold;
    }

    .pagination-page-number {
      box-sizing: content-box;
      padding: 2px 3px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }

    &.pagination-page-btn {
      &:hover:not(.pagination-btn_active) {
        .pagination-page-number {
          border-bottom: 2px solid colors.$primary;
        }
      }
    }

    &.pagination-dots {
      display: inline-flex;
      cursor: default;
    }
  }

  .pagination-navigate-btn {
    &.pagination-navigate-prev-btn {
      transform: rotate(180deg);
    }
  }
}
