@use 'igz-controls/scss/colors';

.project-overview-actions {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: height 0.5s ease-in-out;

  &__item {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    max-width: 33%;
    margin: 0 0 1.5em;
    text-align: center;

    &-wrapper {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      min-width: 105px;
      margin: 0 1.2em;
      cursor: pointer;

      &:hover,
      &:focus {
        .project-overview-actions__item-icon {
          background-color: colors.$hawkesBlue;
        }

        .link {
          text-decoration: underline;
        }
      }

      .tip-container {
        position: absolute;
        top: 0;
        right: 8px;
      }
    }

    &-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 68px;
      margin-right: 0;
      margin-bottom: 0.5rem;
      background-color: colors.$selago;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;

      &::before {
        position: absolute;
        top: 8px;
        left: 12px;
        width: 48px;
        height: 48px;
        content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFISURBVHgB7dZBToNAFAbg/2HTrb2B9AIGTqDcwF5A8QS6Y6sLE2s39ATShWt15RI9QfEGHIGtSWF8kNRUSNOmm2Hxf8kkzMAk8yZv3iA4gIlSFyWe9fEcBjkcTGQWZLDAwSFW5g714msCF6bpWzFoD5jl7QjO8AZGLrQ70lZoy3SnF+JPP5uPHDnT/gY5hiWD7tAw1sVftQY93enQZFGiC7/Hi6YNdOfXjJPAkn8pZJaRC+ksflOogbw2QfxN0mDK6guWtM5ANdpjjofLjxOsMG5aCV/iIIcl0h7QNEmxPqDbJeJNr9ED3SpkfiZaVRY75rnoiU4A4seF+E+h5vZYD3O9y0VnlsE3emLrPaAlMxf/UatONe+8PBqk6Il9LrK3Vj+T04d39MTOAMSf1b8IdRCFps5cz0gAIiIiIiIiIiIiIiIiIrLmFxC4VbDK/2hOAAAAAElFTkSuQmCC');
      }
    }
  }
}
