@import '../../scss/variables.scss';

.artifact_details_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: $white;
  border-left: $tableBorder;
  border-top: $tableBorder;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .artifact_wrapper_header {
    .artifact_header {
      font-weight: bold;
      color: $tableFontColor;
      font-size: 24px;
      line-height: 28px;
      margin: 27px 24px 10px;
      display: flex;
      .close_details_artifact {
        margin-left: auto;
      }
    }
    .wrraper {
      display: flex;
      align-items: center;
    }
    padding-bottom: 25px;
  }
  .artifact {
    &_details_tab {
      display: flex;
      flex: 1;
      flex-grow: 1;
      &_container {
        display: flex;
        flex: 1;
        flex-grow: 1;
        flex-direction: column;
        .tabs_container {
          display: flex;
          flex: 1;
          &_menu {
            display: flex;
            flex: 1;
            min-height: 38px;
            max-height: 38px;
            a {
              color: $mainGreyColor;
              text-decoration: none;
              cursor: pointer;
              padding: 8px 24px;

              &.active {
                border-bottom: 3px solid $mainBlue;
                color: $mainBlue;
              }
            }
            font-weight: bold;
            border-bottom: $tableBorder;
          }
        }
      }
    }
  }
  span {
    font-size: 15px;
    line-height: 18px;
    margin-left: 24px;
    color: $tableFontColor;
  }

  .artifact_details_body {
    display: flex;
    flex-direction: column;
    .details_container {
      display: flex;
      padding: 18px 40px;
      border-bottom: $tableBorder;
      width: 100%;
      .key,
      .kind,
      .size,
      .path,
      .tree,
      .updated,
      .iter,
      .labels {
        &_label {
          min-width: 80px;
          min-width: 100px;
          font-weight: bold;
          font-size: 14px;
          color: $tableFontColor;
        }
        &_value {
          color: $tableFontColor;
        }
      }
      .labels_container_item {
        span:first-child {
          margin: 0;
        }
      }
    }
    .details_container_producer {
      display: flex;
      flex-direction: column;
      h3 {
        margin-left: 40px;
        color: $tableFontColor;
      }
      .details_container:first-child {
        border-top: $tableBorder;
        padding: 18px 60px;
      }
      .details_container {
        padding: 18px 60px;
        .kind,
        .name,
        .owner,
        .uri,
        .workflow {
          &_label {
            min-width: 80px;
            min-width: 100px;
            font-weight: bold;
            font-size: 14px;
            color: $tableFontColor;
          }
          &_value {
            color: $tableFontColor;
          }
        }
      }
    }
  }
}
