@import '../../scss/colors.scss';

.artifact-register-form {
  margin: 32px 0 15px;
  text-align: left;

  .input-wrapper {
    margin: 10px 0;
  }

  .msg {
    color: $primary;

    &-p {
      margin: 0;
    }
  }
}
