.volumes {
  .edit-row {
    .input-wrapper {
      .input {
        padding-top: 20px;

        &__label {
          left: 10px;
        }
      }
    }
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
