.volumes {
  .edit-row {
    .table__cell {
      margin-right: 5px;

      &-input {
        padding: 0;
      }
    }

    .input-wrapper {
      .input {
        padding-top: 20px;

        &__label {
          left: 10px;
        }
      }
    }
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
