@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.navbar {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 245px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  width: 245px;
  max-width: 57px;
  border-right: $tertiaryBorder;
  background-color: #363352;
  transition: max-width 0.3s ease-in-out;

  &:hover,
  &.navbar_hovered {
    max-width: 245px;

    .navbar__pin-icon {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover,
  &.navbar_hovered,
  &.navbar_pinned {
    .navbar__projects {
      .btn {
        opacity: 1;
      }
    }

    .navbar__body {
      padding: 0 1rem 0 0;
      overflow-y: auto;
    }

    .navbar__additional {
      padding: 0 1rem 0 0;
    }

    .nav-link__button {
      padding: 0 8px 0 24px;
    }

    .nav-link__button.expended {
      & + .navbar-links_nested {
        max-height: 30rem;
        transition: max-height 0.3s ease-in-out;
      }
    }
  }

  &__separator {
    border-top: 1px solid #4d4c6b;
    margin: 0 1rem;
  }

  &__projects {
    display: flex;
    position: relative;
    padding: 10px 1rem;

    input {
      color: #eaeaea;
    }

    .btn {
      justify-content: space-between;
      background-color: transparent;
      border: none;
      border-radius: 8px;
      color: #a9b4d0;
      min-height: 48px;
      width: 100%;
      padding: 0 8px 0 12px;
      opacity: 0;
      transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;

      svg {
        min-width: 24px;
        min-height: 24px;
        transform: rotate(-90deg);
        transition: transform 0.3s ease-in-out;

        & > * {
          fill: #a9b4d0;
        }
      }

      &:hover {
        background-color: #404567;
      }

      &.navbar__projects-button_active {
        background-color: #404567;

        svg {
          transform: rotate(0);
        }
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 8px 0 0;
    overflow: hidden;
    transition: padding 0.3s ease-in-out;
  }

  &__additional {
    position: relative;
    display: flex;
    flex: 0 1 auto;
    padding: 0 8px 0 0;
  }

  &-links {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;

    &.navbar-links_nested {
      max-height: 0;
      margin: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      .nav-link__button {
        padding-left: 54px;
      }

      & > *:first-child {
        margin-top: 10px;
      }
    }
  }

  &__pin {
    &-icon {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      padding: 5px;
      opacity: 0;
      right: -44px;
      background-color: #363352;
      border-radius: 0 8px 8px 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      button {
        width: 28px;
        height: 28px;
      }
    }
  }

  .breadcrumbs__dropdown-wrapper {
    background-color: $black;
    color: $white;
    top: 64px;
    border-radius: 8px;

    .breadcrumbs__dropdown {
      max-height: 300px;
      max-width: 220px;
      min-width: 180px;

      &-item:hover {
        background-color: #404567;
      }

      &-search {
        border-color: #404567;
      }
    }
  }
}
