.wizard-form {
  .modal__body {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 0;

    @media screen and (min-width: 1200px) {
      flex-flow: row nowrap;
    }
  }

  .wizard-form__content-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0 2rem 1.5rem;

    @media screen and (min-width: 1200px) {
      padding: 1.5rem 2rem 1.5rem 1rem;
    }
  }

  .wizard-form__content {
    min-width: 350px;
    height: 100%;

    .wizard-form__hidden-content-item {
      position: absolute;
      visibility: hidden;
      height: 0;
      opacity: 0;
      pointer-events: none;
    }

    .wizard-form__visible-content-item {
      height: 100%;
    }
  }

  &__back-button,
  &__next-button {
    svg {
      width: 14px;
    }
  }

  &__next-button {
    svg {
      rotate: 180deg;
    }
  }
}
