@import '../../scss/colors';

.checkbox {
  display: flex;
  align-items: center;
  color: $primary;
  cursor: pointer;

  &__label {
    flex: 1;
    font-size: 14px;

    &-tip {
      margin-left: 5px;
    }
  }

  svg {
    margin-right: 5px;

    &.checked {
      path {
        fill: $malibu;
      }
    }

    &.unchecked {
      path {
        fill: $spunPearl;
      }
    }
  }
}
