@use '../../scss/colors';
@use '../../scss/mixins';

.form-field-textarea {
  width: 100%;

  textarea {
    height: inherit;
    width: 100%;
    padding: 12px 16px;
    white-space: normal;
  }

  .form-field {
    @include mixins.inputSelectField;

    &__wrapper {
      .form-field__control {
        padding: 0;
      }
    }

    &__counter {
      color: colors.$topaz;
      font-size: 12px;
      margin-top: 5px;
      text-align: right;
    }
  }
}
