@import '../../scss/colors';
@import '../../scss/shadows';

.tooltip {
  &-template {
    padding: 6px 8px;
    word-break: break-word;
  }

  &__text {
    color: $white;
    background-color: $primary;
    border-radius: 4px;
  }

  &__warning {
    color: $amaranth;
    background-color: $white;
    box-shadow: $tooltipShadow;
  }
}
