@import '../../scss/colors';
@import '../../scss/shadows';

.tooltip {
  &__text {
    color: $white;
    white-space: pre-wrap;
    background-color: $primary;
    border-radius: 4px;
  }

  &__warning {
    color: $amaranth;
    background-color: $white;
    box-shadow: $tooltipShadow;
  }
}
