@import '../../scss/colors';

.yaml-modal {
  .pop-up-dialog {
    display: flex;
    flex-direction: column;
    width: 70vw;

    &__header {
      margin-top: 0;
    }
  }

  &-container {
    position: relative;
    bottom: 15px;
    display: block;
    overflow-y: auto;

    pre {
      //max-height: calc(90vh - 110px);
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
