@import '../../scss/colors';

.yaml_modal {
  z-index: 99999;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  background-color: $scorpion;
  pre {
    width: 60%;
    height: 100%;
    white-space: pre-wrap;
    background-color: $white;
    position: relative;
    overflow-y: auto;
    padding: 15px;
    word-wrap: break-word;
  }
  button {
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
