@import '../../scss/colors';

.yaml-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $scorpion;

  pre {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: $white;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.modal-showed {
  display: flex;
}
