@import '~igz-controls/scss/colors';

.yaml-modal {
  .pop-up-dialog {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  &-container {
    position: relative;
    bottom: 15px;
    display: block;
    overflow-y: auto;

    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
