@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.job-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 900px;
  background-color: $wildsand;
  overflow-y: scroll;

  &-container {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($mineshaft, 0.75);
  }

  &__close-button {
    margin-top: 16px;
    height: 24px;
    padding: 0;
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__buttons-container {
    justify-content: flex-end;
    display: flex;
    flex: 0.1;
    padding: 0 40px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .accordion {
    &__container {
      margin: 16px 40px 0;
      border: $primaryBorder;
      background-color: $white;
      border-radius: 4px;

      &.open {
        height: auto;

        .accordion__body {
          min-height: 400px;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 16px;
      }
    }
  }

  &__expand-icon {
    position: absolute;
    top: 16px;
    left: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $purple;
    display: flex;
    align-items: center;
    justify-content: center;

    &.open {
      svg {
        margin-bottom: -3px;
      }
    }

    svg {
      path {
        fill: $white;
      }
    }
  }

  &__item {
    min-height: 64px;
    padding: 22px 25px;
    height: 100%;
    position: relative;
    z-index: 1;

    .item-section__body {
      .default-input {
        border: $primaryBorder;
        border-radius: 4px;
        width: 97%;
      }
    }

    .input-wrapper {
      flex: .9;
    }

    &.resources {
      .select {
        margin-right: 16px;
        flex: 1;

        &__body {
          max-height: 290px;
          overflow-y: auto;
          top: 60px;
        }

        &__value {
          min-width: 140px;
        }
      }

      .range {
        margin-right: 16px;

        .input {
          min-width: 230px;
        }
      }
    }

    .section-gpu {
      .item-section__body {
        justify-content: flex-end;
      }
    }
  }

  .add-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    color: $cornflowerBlue;

    svg {
      width: 20px;
      height: 20px;
    }

    rect {
      fill: $cornflowerBlue;
    }
  }

  .select {
    height: auto;
  }

  .btn {
    padding: 10px;
    height: 36px;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
    font-weight: 500;

    &-load {
      border: $primaryBorder;
      border-radius: 2px;
      padding: 10px 16px;
      color: $primary;
      font-size: 14px;
      line-height: 16px;
      margin: 24px 0;
    }

    &-add {
      position: absolute;
      bottom: 14px;
      right: 22px;
    }

    &__schedule-for-later {
      border: $primaryBorder;
      border-radius: 4px;
      color: $primary;
      display: flex;
      align-items: center;
    }

    &_primary {
      display: flex;
      align-items: center;
      color: $white;
      background: $purple;
      border-radius: 2px;
      margin-left: 10px;

      svg {
        margin-right: 5px;

        path {
          fill: $white;
        }
      }
    }

    &__schedule {
      padding: 10px 16px;
      margin-top: 16px;
      margin-left: auto;
    }

    &__icon {
      margin-right: 5px;
    }
  }

  .no-border {
    border-bottom: none;
  }
}
