@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

@include newItemSidePanel;

.job-panel {
  &__item {
    .panel-section__body {
      .default-input {
        width: 97%;
        border: $primaryBorder;
        border-radius: 4px;
      }
    }

    .new-item-side-panel__item {
      padding: 0;
    }

    &.resources {
      .inputs {
        display: flex;
      }

      .memory,
      .cpu {
        margin-right: 20px;

        .panel-section__body {
          align-items: center;
        }
      }

      .select {
        flex: 1 1;
        max-width: 120px;
        margin-right: 5px;
      }

      .range {
        max-width: 90px;

        .input {
          width: 100%;

          &-wrapper {
            width: 100%;
          }
        }
      }
    }

    .node-selector {
      width: 100%;
    }

    .section-gpu {
      .item-section__body {
        justify-content: flex-end;
      }
    }

    .parameters-additional-settings {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      &-container {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      &__header {
        display: flex;
        margin-bottom: 18px;

        &-text {
          margin-right: 10px;
          color: $topaz;
          font-weight: bold;
        }
      }

      &__input-wrapper {
        align-items: flex-end;

        @include tableDisplay(2);
      }

      &__select-wrapper {
        flex-direction: column;

        &__label {
          margin-bottom: 5px;
          color: $primary;
        }

        @include tableDisplay(1);
      }

      .disabled {
        position: relative;

        .hyper-container__label,
        .select__label,
        .select__value,
        .input__label {
          color: $spunPearl;
          user-select: none;
        }

        .default-input,
        .select {
          color: $spunPearl;
          border: $disabledBorder;
          user-select: none;
        }

        svg {
          path {
            fill: $spunPearl;
          }
        }

        &::before {
          position: absolute;
          z-index: 6;
          width: 100%;
          height: 100%;
          content: '';
        }
      }
    }
  }

  .schedule-run-icon {
    margin-right: 5px;
  }
}
