@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.job-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 45%;
  background-color: $wildsand;
  &-container {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($mineshaft, 0.75);
  }
  &__title {
    display: flex;
    flex: 0.1;
    flex-direction: row;
    justify-content: space-between;
    margin: 52px;
  }
  &__name {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: $mulledWineTwo;
  }
  &__close-button {
    height: 24px;
    padding: 0;
  }
  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  &__buttons-container {
    justify-content: flex-end;
    display: flex;
    flex: 0.1;
    padding: 0 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    .btn {
      padding: 10px;
      height: 36px;
      font-size: 14px;
      line-height: 16px;
      &__schedule {
        border: $tableFilterBorder;
        border-radius: 4px;
        color: $primary;
        display: flex;
        align-items: center;
      }
      &__run {
        display: flex;
        align-items: center;
        color: $white;
        background: $purple;
        border-radius: 2px;
        margin-left: 10px;
      }
      &__icon {
        margin-right: 5px;
      }
    }
  }
  .accordion {
    &__container.open {
      height: 65%;
    }
    &__icon {
      position: absolute;
      top: 16px;
      left: -16px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #869cff;
      z-index: 1;
      img {
        margin-top: 2px;
        filter: brightness(0) invert(1);
        transform: rotate(0);
        transform-origin: center center;
        transition: transform 200ms linear;
        &.open {
          transform: rotate(90deg);
          transform-origin: center center;
          transition: transform 200ms linear;
        }
      }
    }
  }
  &__item {
    min-height: 64px;
    padding: 22px 25px;
    height: 100%;
    .item-section__body {
      .default-input {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        width: 97%;
      }
    }
    .input-wrapper {
      flex: 1;
    }
  }
}
