@import '../../scss/colors.scss';
@import '../../scss/borders.scss';
@import '../../scss/mixins.scss';

.job-panel {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 100%;
  overflow-y: scroll;
  background-color: $wildSand;

  &-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba($mineshaft, 0.75);
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__buttons-container {
    display: flex;
    flex: 0.1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 40px;
  }

  &__accordion {
    margin: 16px 40px 0;
    background-color: $white;
    border: $primaryBorder;
    border-radius: 4px;

    &.open {
      height: auto;

      .accordion__body {
        min-height: 400px;
        overflow: visible;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__expand-icon {
    position: absolute;
    top: 16px;
    left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: $purple;
    border-radius: 50%;

    svg {
      path {
        fill: $white;
      }
    }

    &.open {
      svg {
        margin-bottom: -3px;
      }
    }
  }

  &__item {
    z-index: 1;
    height: 100%;
    min-height: 64px;
    padding: 22px 25px;

    .item-section__body {
      .default-input {
        width: 97%;
        border: $primaryBorder;
        border-radius: 4px;
      }
    }

    .input-wrapper {
      flex: 1;
    }

    &.resources {
      .select {
        flex: 1;
        height: auto;
        margin-right: 16px;

        &__body {
          top: 60px;
          max-height: 290px;
          overflow-y: auto;
        }

        &__value {
          min-width: 140px;
        }
      }

      .range {
        margin-right: 16px;

        .input {
          min-width: 230px;
        }
      }
    }

    .section-gpu {
      .item-section__body {
        justify-content: flex-end;
      }
    }

    .parameters-additional-settings {
      display: flex;
      flex-direction: row;

      &-container {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      &__header {
        display: flex;
        margin-bottom: 18px;

        &-text {
          margin-right: 10px;
          color: $topaz;
          font-weight: bold;
        }
      }

      &__url-type {
        align-items: flex-end;

        @include tableDisplay(2);
      }

      &__tuning-strategy {
        flex-direction: column;

        &__label {
          margin-bottom: 5px;
          color: $primary;
        }

        .select {
          height: 56px;
        }

        @include tableDisplay(1);
      }

      .disabled {
        position: relative;

        .hyper-container__label,
        .select__label,
        .select__value,
        .input__label {
          color: $spunPearl;
          user-select: none;
        }

        .default-input,
        .select {
          color: $spunPearl;
          border: $disabledBorder;
          user-select: none;
        }

        svg {
          path {
            fill: $spunPearl;
          }
        }

        &::before {
          position: absolute;
          z-index: 6;
          width: 100%;
          height: 100%;
          content: '';
        }
      }
    }
  }

  .add-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 44px;
    padding: 10px;
    color: $cornflowerBlue;
    font-size: 15px;
    line-height: 18px;

    svg {
      width: 20px;
      height: 20px;
    }

    rect {
      fill: $cornflowerBlue;
    }
  }

  .btn {
    &__schedule-for-later {
      margin: 0 10px;
      color: $primary;
      background-color: transparent;
    }

    &_primary {
      svg {
        margin-right: 5px;

        path {
          fill: $white;
        }
      }
    }

    &__schedule {
      margin-top: 16px;
      margin-left: auto;
      padding: 10px 16px;
      font-weight: 500;
    }
  }

  .schedule-run-icon {
    margin-right: 5px;
  }

  .no-border {
    border-bottom: none;
  }
}
