@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

@include newItemSidePanel;

.job-panel {
  &__item {
    .item-section__body {
      .default-input {
        width: 97%;
        border: $primaryBorder;
        border-radius: 4px;
      }
    }

    &.resources {
      .select {
        flex: 1;
        height: auto;
        margin-right: 16px;

        &__body {
          top: 60px;
          max-height: 290px;
          overflow-y: auto;
        }

        &__value {
          min-width: 140px;
        }
      }

      .range {
        margin-right: 16px;

        .input {
          min-width: 230px;
        }
      }
    }

    .section-gpu {
      .item-section__body {
        justify-content: flex-end;
      }
    }

    .parameters-additional-settings {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      &-container {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      &__header {
        display: flex;
        margin-bottom: 18px;

        &-text {
          margin-right: 10px;
          color: $topaz;
          font-weight: bold;
        }
      }

      &__input-wrapper {
        align-items: flex-end;

        @include tableDisplay(2);
      }

      &__select-wrapper {
        flex-direction: column;

        &__label {
          margin-bottom: 5px;
          color: $primary;
        }

        .select {
          height: 56px;
        }

        @include tableDisplay(1);
      }

      .disabled {
        position: relative;

        .hyper-container__label,
        .select__label,
        .select__value,
        .input__label {
          color: $spunPearl;
          user-select: none;
        }

        .default-input,
        .select {
          color: $spunPearl;
          border: $disabledBorder;
          user-select: none;
        }

        svg {
          path {
            fill: $spunPearl;
          }
        }

        &::before {
          position: absolute;
          z-index: 6;
          width: 100%;
          height: 100%;
          content: '';
        }
      }
    }
  }

  .schedule-run-icon {
    margin-right: 5px;
  }
}
