@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.job-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 900px;
  background-color: $wildsand;
  overflow-y: scroll;

  &-container {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($mineshaft, .75);
  }

  &__title {
    display: flex;
    flex: 0.1;
    flex-direction: row;
    justify-content: space-between;
    margin: 52px;

    &_wrapper {

      .job-schedule {
        &-container {
          display: flex;
          align-items: center;
          margin-bottom: 32.5px;

          svg {
            margin-right: 18px;
            cursor: pointer;
          }
        }

        &__title {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          color: $primary;
        }
      }
    }
  }

  &__name {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: $mulledWineTwo;
  }

  &__close-button {
    height: 24px;
    padding: 0;
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__buttons-container {
    justify-content: flex-end;
    display: flex;
    flex: 0.1;
    padding: 0 40px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .accordion {
    &__container.open {
      height: auto;
      min-height: 300px;
    }

    &__icon {
      position: absolute;
      top: 16px;
      left: -16px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $purple;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(0);
      transform-origin: center center;
      transition: transform 200ms linear;

      &.open {
        transform: rotate(90deg);
        transform-origin: center center;
        transition: transform 200ms linear;

        svg {
          margin-bottom: -3px;
        }
      }

      svg {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__item {
    min-height: 64px;
    padding: 22px 25px;
    height: 100%;
    position: relative;
    z-index: 1;

    .item-section__body {
      .default-input {
        border: $primaryBorder;
        border-radius: 4px;
        width: 97%;
      }
    }

    .input-wrapper {
      flex: 1;
    }

    &.resources {
      
      .select {
        margin-right: 16px;
        flex: 1;

        &__body {
          max-height: 290px;
          overflow-y: auto;
          top: 60px;
        }

        &__value {
          min-width: 140px;
        }
      }

      .range {
        margin-right: 16px;

        .input {
          min-width: 230px;
        }
      }
    }

    .section-gpu {
      .item-section__body {
        justify-content: flex-end;
      }
    }
  }

  .add-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    color: $cornflowerBlue;

    svg {
      width: 20px;
      height: 20px;
    }

    rect {
      fill: $cornflowerBlue;
    }
  }

  .select {
    height: auto;
    padding-left: 10px;
  }

  .btn {
    padding: 10px;
    height: 36px;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
    font-weight: 500;

    &-load {
      border: $primaryBorder;
      border-radius: 2px;
      padding: 10px 16px;
      color: $primary;
      font-size: 14px;
      line-height: 16px;
      margin: 24px 0;
    }

    &-add {
      position: absolute;
      bottom: 14px;
      right: 22px;
    }

    &__schedule-for-later {
      border: $primaryBorder;
      border-radius: 4px;
      color: $primary;
      display: flex;
      align-items: center;
    }

    &_primary {
      display: flex;
      align-items: center;
      color: $white;
      background: $purple;
      border-radius: 2px;
      margin-left: 10px;

      svg {
        margin-right: 5px;

        path {
          fill: $white;
        }
      }
    }

    &__schedule {
      padding: 10px 16px;
      margin-top: 16px;
      margin-left: auto;
    }

    &__icon {
      margin-right: 5px;
    }
  }

  .no-border {
    border-bottom: none;
  }
}
