@import '../../scss/shadows';
@import '../../scss/colors';

.artifacts {
  &_header {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 21px 24px;
    background-color: $white;
    box-shadow: $headerShadow;
  }

  &_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px 24px 24px;
  }
}
