@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$artifactsRowHeight: variables.$rowHeight;
$artifactsHeaderRowHeight: variables.$headerRowHeight;
$artifactsRowHeightExtended: variables.$rowHeightExtended;

.artifacts-table {
  @include mixins.rowsHeight(
    $artifactsHeaderRowHeight,
    $artifactsRowHeight,
    $artifactsRowHeightExtended
  );
}
