@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';
@import '../../scss/shadows';

.table {
  @include jobsFlex;
  border-top: $tableBorder;
  position: relative;
  min-height: 600px;
  &__content {
    width: 100%;
    .jobs_medium {
      @include tableColumnFlex(1, 240px);
    }
    .jobs_small {
      @include tableColumnFlex(0.8, 80px);
    }
    .jobs_big {
      @include tableColumnFlex(2, 80px);
    }
    .artifacts_medium {
      @include tableColumnFlex(1, 240px);
    }
    .artifacts_small {
      @include tableColumnFlex(1, 80px);
    }
    .artifacts_big {
      @include tableColumnFlex(2.5, 80px);
    }
    .artifacts_date {
      @include tableColumnFlex(1, 80px);
    }
    .artifacts_small:nth-child(3) {
      padding-left: 20px;
    }
    .artifacts_small:nth-child(5) {
      @include tableColumnFlex(1, 80px);
    }
    .artifacts_small:nth-child(6) {
      flex: 0.5;
    }
    .artifacts_small:nth-child(9),
    .artifacts_small:nth-child(10) {
      @include tableColumnFlex(0.5, 80px);
    }
    .functions{
      &_medium {
        @include tableColumnFlex(1, 240px);
      }
      &_small {
        @include tableColumnFlex(1, 80px);
      }
      &_big {
        @include tableColumnFlex(2, 80px);
      }
    }
  }
  &-head {
    display: flex;
    &__item {
      @include tableDet;
      @include tableHeader;
      flex: 1;
    }
  }
  &-body {
    color: $mulledWine;
    &__row {
      position: relative;
      display: flex;
      min-height: 50px;
      flex-direction: row;
      &.parent-row {
        &:not(.parent-row-expanded) {
          &:hover {
            background-color: $alabaster;
            .row__actions {
              display: block;
            }
          }
        }
        &-expanded {
          flex-direction: column;
        }
        .row_grouped-by {
          width: 100%;
          .table-body__row {
            &:first-child {
              .table-body__cell {
                border-bottom: none;
                .expand-arrow {
                  transform: rotate(90deg);
                }
              }
            }
            &__cell {
              display: flex;
            }
            &:hover {
              background-color: $alabaster;
            }
            &.active {
              background-color: $alabaster;
            }
          }
        }
        &.active {
          background-color: $alabaster;
        }
      }
    }
    .row__actions {
      display: none;
      position: absolute;
      right: -10px;
      top: 15%;
      border-bottom: none;
    }
    &__cell {
      @include tableDet;
      padding: 8px 0;
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        color: $cornflowerBlue;
        margin: 0;
        span {
          display: block;
          color: $topaz;
        }
      }
      i {
        margin: 0 17px;
      }
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 10%;
      }
      .expand-arrow {
        position: absolute;
        left: 40px;
        cursor: pointer;
      }
      &_path {
        max-width: 50px;
        min-width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
    &__parameters {
      @include chip($parametersBorder);
      max-width: 18ch;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__results {
      @include chip($resultsBorder);
      display: flex;
    }
    &__labels {
      @include chip($labelBorder);
    }

  }
  .name_status_row {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
  }
  .date__uid_row {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    span:last-child {
      margin-left: 10px;
    }
  }
}
