@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';
@import '../../scss/shadows';

.table {
  @include jobsFlex;
  border-top: $tableBorder;
  position: relative;
  min-height: 600px;
  &__content {
    width: 100%;
  }
  &_head {
    display: flex;
    &_item {
      @include tableDet;
      @include tableHeader;
    }
    .header {
      &__jobs_medium {
        @include flex(0.5, 240px);
      }
      &__jobs_small {
        @include flex(0.5, 80px);
      }

      &__jobs_big {
        @include flex(1, 60px);
      }
      &__artifacts_medium {
        @include flex(0.5, 240px);
      }
      &__artifacts_small {
        @include flex(0.2, 80px);
      }
      &__artifacts_big {
        @include flex(1, 70px);
      }
      &__artifacts_date {
        @include flex(0.5, 60px);
        span {
          padding-left: 10%;
          width: 100%;
        }
      }
      &__artifacts_small:nth-child(3) {
        span {
          padding-left: 20%;
        }
      }
      &__artifacts_small:nth-child(5) {
        flex: 0.5;
      }
      &__artifacts_small:nth-child(6) {
        span {
          padding-left: 20%;
        }
      }
      &__artifacts_small:nth-child(9) {
        @include flex(0.1, 50px);
      }
      &__artifacts_small:nth-child(10) {
        @include flex(0.1, 60px);
      }
    }
  }
  &_body {
    color: $mulledWine;
    &__row {
      position: relative;
      display: flex;
      min-height: 50px;
      &__cell {
        @include tableDet;
        padding: 8px 0;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        flex-wrap: wrap;
        a {
          text-decoration: none;
          color: $cornflowerBlue;
          margin: 0;
          span {
            display: block;
            color: $topaz;
          }
        }
        i {
          margin: 0 17px;
        }
        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          margin-left: 10%;
        }
      }
      .cell {
        &__jobs_medium {
          @include flex(0.5, 240px);
        }

        &__jobs_small {
          @include flex(0.5, 80px);
        }

        &__jobs_big {
          @include flex(1, 90px);
          .chips_wrapper {
            display: flex;
            flex: 1;
          }
        }

        &__artifacts_medium {
          @include flex(0.5, 240px);
        }

        &__artifacts_small {
          @include flex(0.2, 80px);
        }

        &__artifacts_big {
          @include flex(1, 60px);
        }

        &__artifacts_date {
          @include flex(0.5, 60px);
          span {
            padding-left: 10%;
            width: 100%;
          }
        }

        &__artifacts_small:nth-child(3) {
          span {
            padding-left: 20%;
          }
        }

        &__artifacts_small:nth-child(6) {
          span {
            padding-left: 20%;
          }
        }

        &__artifacts_small:nth-child(5) {
          @include flex(0.5, 80px);
        }

        &__artifacts_small:nth-child(9) {
          @include flex(0.1, 50px);
        }

        &__artifacts_small:nth-child(10) {
          @include flex(0.1, 60px);
        }
      }
      &__cell {
        &_path {
          max-width: 50px;
          min-width: 100%;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }
      &.parent_row {
        .row__actions {
          display: none;
        }
        &:hover {
          background-color: $alabaster;
          .row__actions {
            display: block;
          }
        }
      }
    }
    &__parameters {
      @include chip($parametersBorder);
      max-width: 18ch;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__results {
      @include chip($resultsBorder);
      display: flex;
    }
    &__labels {
      @include chip($labelBorder);
    }
    &__chips {
      &_short {
        margin: 0 !important;
        font-style: normal;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100px;
        min-width: 100%;
      }
      &_hidden {
        display: none !important;
        position: absolute;
        bottom: 112%;
        right: 0;
        border-radius: 2px;
        background-color: $white;
        box-shadow: $hiddenChipsBlockShadow;
        flex-direction: column;
        width: 165px;
        padding: 10px;
        z-index: 10000;
        &__chip {
          @include chip($parametersBorder);
        }
        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          transform: rotate(-45deg);
          background-color: inherit;
          position: absolute;
          bottom: -6px;
          right: 20px;
          z-index: -10;
        }
      }
      &__block {
        position: relative;
        display: inline-block;
        .chip_wrapper {
          max-width: 200px;
        }
      }
    }
  }
  .showChips .table_body__chips_hidden {
    display: flex !important;
    overflow: hidden;
  }
  .name_status_row {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
    margin-bottom: 5px;
  }
  .date__uid_row {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    span:last-child {
      margin-left: 10px;
    }
  }
}
