@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';
@import '../../scss/shadows';

.table {
  @include jobsFlex;

  position: relative;
  width: 100%;
  min-height: 600px;
  border-top: $secondaryBorder;

  &__content {
    width: 100%;
    height: 100%;

    .jobs {
      &_medium {
        max-width: 250px;

        @include tableColumnFlex(0.6, 240px);
      }

      &_small {
        max-width: 150px;

        @include tableColumnFlex(0.5, 75px);
      }

      &_big {
        @include tableColumnFlex(2, 80px);
      }

      &_extra-small {
        max-width: 85px;

        @include tableColumnFlex(0.2, 65px);
      }
    }

    .artifacts {
      &_medium {
        max-width: 240px;

        @include tableColumnFlex(1, 100px);
      }

      &_small {
        max-width: 150px;

        @include tableColumnFlex(0.5, 50px);

        a {
          display: inline;
        }
      }

      &_big {
        @include tableColumnFlex(1, 80px);
      }

      &_extra-small {
        max-width: 85px;

        @include tableColumnFlex(0.3, 65px);
      }

      &__icon {
        justify-content: center;
      }

      &__targets-icon {
        .tooltip-wrapper {
          margin-right: 8px;
        }
      }
    }

    .functions {
      &_medium {
        @include tableColumnFlex(1, 240px);
      }

      &_small {
        @include tableColumnFlex(1, 80px);
      }

      &_big {
        @include tableColumnFlex(2, 80px);
      }
    }
  }

  &__panel-container {
    position: sticky;
    top: 0;
    z-index: 2;
    width: auto;
    border-left: $primaryBorder;
    box-shadow: $tablePanelShadow;

    &.hidden {
      display: none;
    }
  }

  &__panel {
    height: 100%;
    overflow: hidden auto;
  }

  &-head {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    background-color: $white;

    &__item {
      @include tableDet;
      @include tableHeader(5px);

      flex: 1;
      height: 50px;
      line-height: 18px;

      &.buttonPopout,
      &.buttonDownload {
        @include tableColumnFlex(0.5, 80px);
      }

      &.align-right {
        justify-content: flex-end;
      }
    }
  }

  .action_cell {
    width: 20px;
    max-width: 20px;
    padding: 0;

    &__run-icon {
      margin-bottom: -2px;
      transform: rotate(-90deg) scale(1.2);
    }
  }

  &-body {
    color: $mulledWine;
    background-color: $white;

    &__cell {
      @include tableDet;

      flex-wrap: wrap;
      padding: 4px 5px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;

      .cell_name {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0;
      }

      .text_small {
        min-width: 100%;
        max-width: 50px;
      }

      &.align-right {
        justify-content: flex-end;
      }

      &_type {
        text-transform: capitalize;
      }

      a {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0;
        text-decoration: none;

        span {
          display: block;
        }
      }

      i {
        margin-right: 5px;
      }

      button {
        display: flex;
        padding: 0;
        font-size: 15px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .expand-arrow {
        position: absolute;
        left: 10px;
        cursor: pointer;
      }

      .path-tooltip {
        cursor: pointer;
      }

      .chip_short {
        max-width: 100px;
      }
    }

    &__row {
      position: relative;
      display: flex;
      flex-direction: row;
      min-height: 50px;

      &.parent-row {
        &:not(.parent-row-expanded) {
          &:hover {
            background-color: $alabaster;
          }

          &:not(.parent-row_without-actions) {
            &:hover {
              .action_cell {
                .actions-menu {
                  &__container {
                    display: block;

                    .btn {
                      min-width: 24px;
                      padding: 0;
                      border: none;

                      &:hover {
                        background-color: transparent;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &-expanded {
          flex-direction: column;
        }

        .row_grouped-by {
          width: 100%;

          .table-body__row {
            &:first-child {
              position: sticky;
              top: 50px;
              z-index: 1;
              background-color: $white;

              .table-body__cell {
                border-bottom: none;

                .expand-arrow {
                  transform: rotate(90deg);
                }
              }
            }

            &__cell {
              display: flex;
            }

            &:hover {
              background-color: $alabaster;

              .action_cell {
                .actions-menu {
                  &__container {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .checkbox {
        position: absolute;
        left: 8px;
        margin: 0;
      }
    }
  }

  .row_active {
    background-color: $alabaster;
  }

  .error-message {
    justify-content: center;
    width: 100%;
  }
}
