@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';
@import '../../scss/shadows';

.table {
  @include jobsFlex;
  border-top: $tableBorder;
  position: relative;
  min-height: 600px;
  &__content {
    width: 100%;
    .jobs_medium {
      @include tableColumnFlex(18%);
      min-width: 18%;
    }
    .jobs_small {
      @include tableColumnFlex(8.5%);
    }
    .jobs_big {
      @include tableColumnFlex(19.75%);
    }
    .artifacts_medium {
      @include tableColumnFlex(14%);
    }
    .artifacts_small {
      @include tableColumnFlex(5.5%);
    }
    .artifacts_big {
      @include tableColumnFlex(21%);
    }
    .artifacts_date {
      @include tableColumnFlex(11%);
    }
    .artifacts_small:nth-child(3) {
      padding-left: 20px;
    }
    .artifacts_small:nth-child(5) {
      @include tableColumnFlex(9.5%)
    }
    .artifacts_small:nth-child(9),
    .artifacts_small:nth-child(10) {
      @include tableColumnFlex(3.5%)
    }
  }
  &-head {
    display: flex;
    &__item {
      @include tableDet;
      @include tableHeader;
    }
  }
  &-body {
    color: $mulledWine;
    &__row {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      min-height: 50px;
      flex-direction: row;
      &.parent-row {
        &:hover {
          background-color: $alabaster;
          .row__actions {
            display: block;
          }
        }
        &-expanded {
          flex-direction: column;
        }
        .row_grouped-by {
          width: 100%;
          .table-body__row {
            &:first-child {
              .table-body__cell {
                border-bottom: none;
                .expand-arrow {
                  transform: rotate(90deg);
                }
              }
            }
            &__cell {
              display: flex;
            }
          }
        }
      }
    }
    &__cell {
      @include tableDet;
      padding: 8px 0;
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        color: $cornflowerBlue;
        margin: 0;
        span {
          display: block;
          color: $topaz;
        }
      }
      i {
        margin: 0 17px;
      }
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 10%;
      }
      .expand-arrow {
        position: absolute;
        left: 40px;
        cursor: pointer;
      }
      &_path {
        max-width: 50px;
        min-width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
    &__parameters {
      @include chip($parametersBorder);
    }
    &__results {
      @include chip($resultsBorder);
    }
    &__labels {
      @include chip($labelBorder);
    }
    &__chips {
      &_short {
        margin: 0 !important;
        font-style: normal;
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &_hidden {
        display: none !important;
        position: absolute;
        bottom: 112%;
        right: 0;
        border-radius: 2px;
        background-color: $white;
        box-shadow: $hiddenChipsBlockShadow;
        flex-direction: column;
        width: 165px;
        padding: 10px;
        z-index: 10000;
        &__chip {
          @include chip($parametersBorder);
        }
        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          transform: rotate(-45deg);
          background-color: $white;
          position: absolute;
          bottom: -6px;
          right: 20px;
          z-index: -10;
        }
      }
      &__block {
        position: relative;
        display: inline-block;
      }
    }
  }
  .showChips .table-body__chips_hidden {
    display: flex !important;
  }
  .name_status_row {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
  }
  .date__uid_row {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    span:last-child {
      margin-left: 10px;
    }
  }
}
