@import '../../scss/colors.scss';
@import '../../scss/borders.scss';

.details-statistics {
  padding: 20px;

  &__table {
    display: flex;
    flex: 1;
    flex-direction: column;

    &-header {
      position: sticky;
      top: 0;
      z-index: 3;
      display: flex;
      padding-bottom: 10px;
      color: $topaz;
      font-weight: bold;
      background-color: $white;
      border-bottom: $tableBorder;

      .header-item {
        text-transform: capitalize;
      }
    }

    &__body {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 70px;
      padding: 0 5px;
    }

    &-row {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
      border-bottom: $tableBorder;
    }

    .statistics-cell {
      &_name {
        flex: 1.5;
      }

      &_icon {
        flex: 0.1;
        min-width: 33px;
      }

      &_type {
        flex: 0.5;
      }

      &_validators {
        flex: 2;

        .body {
          display: flex;
          align-items: center;
        }

        .status {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}
