@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.details-statistics {
  @include detailsMetadataStatisticsTable;

  &__table {
    &-wrapper {
      padding: 0 0 20px 0;
    }

    &-header {
      padding: 15px 0;
    }

    .statistics-cell {
      &__type {
        &_icon {
          flex: 0.1;
          min-width: 33px;
        }

        &_text {
          flex: 1;
        }

        &_chart {
          flex: 1.5;
        }
      }

      &__name {
        flex: 1.5;
      }

      &_hidden {
        display: none;
      }
    }
  }
}
