@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

$detailsStatisticsRowHeight: 45px;
$detailsStatisticsHeaderRowHeight: 49px;

:root {
  --detailsStatisticsRowHeight: #{$detailsStatisticsRowHeight};
  --detailsStatisticsHeaderRowHeight: #{$detailsStatisticsHeaderRowHeight};
}

.details-statistics {
  height: 100%;

  @include mixins.detailsMetadataStatisticsTable;

  &__table {
    height: 100%;
    overflow: auto;

    &-wrapper {
      width: 100%;
      padding: 0 0 20px;
    }

    &-header {
      height: $detailsStatisticsHeaderRowHeight;
      padding: 0;
      border-bottom: none;

      .header-item {
        padding: 15px 5px;
        background-color: colors.$white;
        border-bottom: borders.$secondaryBorder;
      }
    }

    &-row {
      height: $detailsStatisticsRowHeight;
      border-bottom: none;
    }

    &-item {
      border-bottom: borders.$secondaryBorder;
    }

    .statistics-cell {
      &__type {
        &_icon {
          flex: 0.1;
          min-width: 33px;
        }

        &_text {
          flex: 1;
        }

        &_chart {
          flex: 1.5;
          min-width: 160px;
        }
      }

      &__name {
        flex: 1.5;
      }

      &_hidden {
        display: none;
      }
    }
  }
}
