@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

$detailsStatisticsRowHeight: 45px;
$detailsStatisticsHeaderRowHeight: 49px;

.details-statistics {
  @include detailsMetadataStatisticsTable;

  height: 100%;

  &__table {
    height: 100%;
    overflow: auto;

    &-wrapper {
      width: 100%;
      padding: 0 0 20px 0;
    }

    &-header {
      height: $detailsStatisticsHeaderRowHeight;
      padding: 0;
      border-bottom: none;

      .header-item {
        padding: 15px 0;
        background-color: $white;
        border-bottom: $secondaryBorder;
      }
    }

    &-row {
      height: $detailsStatisticsRowHeight;
      border-bottom: none;
    }

    &-item {
      border-bottom: $secondaryBorder;
    }

    .statistics-cell {
      &__type {
        &_icon {
          flex: 0.1;
          min-width: 33px;
        }

        &_text {
          flex: 1;
        }

        &_chart {
          flex: 1.5;
          min-width: 160px;
        }
      }

      &__name {
        flex: 1.5;
      }

      &_hidden {
        display: none;
      }
    }
  }
}

:export {
  detailsStatisticsRowHeight: $detailsStatisticsRowHeight;
  detailsStatisticsHeaderRowHeight: $detailsStatisticsHeaderRowHeight
}
