@import '../../scss/variables';
@import '../../scss/mixins';

.jobs__table {
  @include jobsFlex;
  border-top: $tableBorder;
  position: relative;
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  &_head {
    tr {
      th {
        @include tableDet;
        @include tableHeader;
      }
    }
  }
  &_body {
    tr {
      height: 24px;
      td {
        @include tableDet;
        padding: 8px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        max-width: 150px;
        a {
          text-decoration: none;
          color: $tableLink;
          margin: 0;
        }
        div {
          display: flex;
          flex-flow: row wrap;
        }
        i {
          margin: 0 25px;
        }
      }
    }
    &__chips_wrapper {
      max-width: 200px;
      overflow-x: auto;
    }
    &__parameters {
      @include chip;
      border: $parametersBorder;
    }
    &__results {
      @include chip;
      border: $resultsBorder;
    }
  }
}
