@use 'igz-controls/scss/variables';
@use '../../scss/mixins';

$monitorJobsRowHeight: variables.$rowHeight;
$monitorJobsHeaderRowHeight: variables.$headerRowHeight;
$monitorJobsRowHeightExtended: variables.$rowHeight;

.monitor-jobs-table {
  @include mixins.rowsHeight(
    $monitorJobsHeaderRowHeight,
    $monitorJobsRowHeight,
    $monitorJobsRowHeightExtended
  );
}
