@import '../../scss/variables';
@import '../../scss/mixins';

.jobs__table {
  @include jobsFlex;
  border-top: $tableBorder;
  position: relative;
  &__wrapper {

  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  &_head {
    tr {
      th {
        @include tableDet;
        @include tableHeader;
      }
    }
  }
  &_body {
    tr {
      height: 54px;
      td {
        @include tableDet;
        padding: 8px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        max-width: 150px;
        a {
          text-decoration: none;
          color: $tableLink;
          margin: 0;
          span {
            display: block;
            color: $mainGreyColor;
          }
        }
        i {
          margin: 0 25px;
        }
        span {
          display: block;
          color: $mainGreyColor;
        }
      }
    }
    &__chips {
      &_cell {
        max-width: 200px !important;
      }
      &_short {
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 !important;
        font-style: normal;
      }
      &_hidden {
        display: none !important;
        position: absolute;
        bottom: 112%;
        right: 0;
        border-radius: 2px;
        background-color: $white;
        box-shadow: $hiddenChipsBlockShadow;
        flex-direction: column;
        width: 165px;
        padding: 10px;
        z-index: 10000;
        &__chip {
          @include chip($parametersBorder);
        }
        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          transform: rotate(-45deg);
          background-color: inherit;
          position: absolute;
          bottom: -6px;
          right: 20px;
          z-index: -10;
        }
      }
      &__block {
        position: relative;
        display: inline-block;
      }
    }
    &__parameters {
      @include chip($parametersBorder);
    }
    &__results {
      @include chip($resultsBorder);
    }
  }
  .showChips .jobs__table_body__chips_hidden {
    display: flex !important;
  }
}
