@import '../../scss/mixins';

.parameters-table {
  @include newItemSidePanelTable;

  .edit-row {
    .input-wrapper {
      margin-right: 5px;

      .input {
        padding-top: 20px;

        &__label {
          left: 10px;
        }
      }
    }

    .range {
      .input {
        margin: 0;
        border: none;

        &-wrapper {
          margin: 0;
        }
      }
    }

    .select {
      margin-right: 5px;
      padding-left: 10px;
    }
  }

  .table {
    &__body {
      align-items: center;

      &-column {
        height: 56px;

        .input-wrapper {
          &:first-child {
            max-width: 236px;
          }

          &:last-child {
            max-width: 230px;
          }

          .input {
            padding-top: 21px;
            border-radius: unset;
          }
        }

        .range {
          margin: 2px 0;

          &:not(.range-warning) {
            border: none;

            .range__button {
              border: none;
            }
          }
        }
      }
    }
  }

  &__btn {
    padding: 0;
  }

  .parameter-type.select {
    max-width: 236px;
    padding: 10px;
  }

  .checkbox {
    margin-left: 8px;
  }
}
