@use 'igz-controls/scss/variables';
@use '/src/scss/mixins';

$datasetsRowHeight: variables.$rowHeight;
$datasetsHeaderRowHeight: variables.$headerRowHeight;
$datasetsRowHeightExtended: variables.$rowHeightExtended;

.datasets-table {
  @include mixins.rowsHeight(
    $datasetsHeaderRowHeight,
    $datasetsRowHeight,
    $datasetsRowHeightExtended
  );
}
