@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$datasetsRowHeight: $rowHeight;
$datasetsHeaderRowHeight: $headerRowHeight;
$datasetsRowHeightExtended: $rowHeightExtended;

.datasets-table {
  @include rowsHeight($datasetsHeaderRowHeight, $datasetsRowHeight, $datasetsRowHeightExtended);
}

:export {
  datasetsRowHeight: $datasetsRowHeight;
  datasetsHeaderRowHeight: $datasetsHeaderRowHeight;
  datasetsRowHeightExtended: $datasetsRowHeightExtended;
}
