.secrets {
  margin-top: 20px;

  &__table {
    width: 100%;

    .table-cell {
      &__key {
        width: 30%;

        &.select {
          padding-right: 10px;
          padding-left: 7px;
          border: none;

          .select__label {
            padding-left: 10px;
          }
        }

        .select {
          width: 100%;
        }
      }

      &__value {
        width: 70%;

        &.input-wrapper {
          flex: unset;
        }
      }
    }
  }
}
