@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.chip {
  display: flex;
  align-items: center;
  margin: 2px 4px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 16px;
  cursor: default;

  &__content {
    display: flex;
  }

  &__delimiter {
    margin-right: 5px;
  }

  &__value {
    min-width: 10px;
  }

  &.editable {
    cursor: pointer;
  }

  &.chips_button {
    padding: 8px 7px;
  }

  .item-icon-close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 0;

    svg {
      transform: scale(0.7);
    }
  }

  &-background {
    @include chipBackground(false);
  }

  &-border {
    @include chipBorder();
  }

  &-density {
    @include chipDensity(false, false);
  }

  &-font {
    @include chipsFont(Chip);
  }

  &-value_bold {
    font-weight: 700;
    font-size: 15px;
  }
}
