@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.chip {
  display: inline-flex;
  align-items: center;
  margin: 2px 4px;
  padding: 4px 8px;
  font-size: 15px;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 20px;
  cursor: default;

  &.editable {
    cursor: pointer;
  }

  &.chips_button {
    padding: 8px 7px;
  }

  .item-icon-close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 0;

    svg {
      transform: scale(0.7);
    }
  }

  &-density {
    &_dense {
      height: 24px;
      padding: 4px 8px;
      font-size: 14px;
    }

    &_normal {
      height: 32px;
      padding: 8px 15px;
    }

    &_medium {
      height: 34px;
      padding: 8px 15px;
      font-size: 15px;

      .item-icon-close {
        transform: scale(1.2);
      }
    }
  }

  &-square {
    border-radius: 4px;
  }

  &-value_bold {
    font-weight: 700;
    font-size: 15px;
  }

  &-background {
    &_none {
      background-color: transparent;
    }

    &_green {
      background-color: $javaTwo;
    }

    &_grey {
      background-color: $mulledWineThree;
    }

    &_orange {
      background-color: $grandisTwo;
    }

    &_purple {
      background-color: $amethystTwo;
    }
  }

  &-border {
    &_none {
      border: $transparentBorder;
    }

    &_green {
      border: $resultsBorder;
    }

    &_grey {
      border: $secondaryBorder;
    }

    &_orange {
      border: $parametersBorder;
    }

    &_purple {
      border: $labelBorder;
    }
  }

  &-font {
    &_primary {
      @include ChipColor($primary);
    }

    &_green {
      @include ChipColor($chateauGreen);
    }

    &_white {
      @include ChipColor($white);
    }

    &_orange {
      @include ChipColor($sorbus);
    }

    &_purple {
      @include ChipColor($amethyst);
    }
  }
}
