@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

.features-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 100%;

  .features-panel__content {
    padding: 10px 15px;
  }

  .features-panel__header {
    padding: 5px 15px;
  }

  .features-panel__header-project {
    margin-bottom: 10px;
    color: $topaz;
    font-weight: bold;
    font-size: 14px;
  }

  .features-panel__header-vector {
    display: flex;
    align-items: baseline;

    .features-panel__header-vector {
      &-name {
        font-weight: bold;
        font-size: 24px;
      }

      &-tag {
        min-width: 25px;
        margin-left: 5px;
        color: $topaz;
        font-weight: normal;
        font-size: 16px;
      }

      &-tooltip {
        width: 20px;
        margin-left: auto;
      }

      &-actions {
        align-self: center;
      }
    }
  }

  .features-panel__current-project {
    padding: 5px 15px;
  }

  .features-panel__sub-title {
    padding: 0 15px;
  }

  .features-panel__buttons {
    position: sticky;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 15px;
    background-color: $white;

    .btn {
      margin-right: 10px;
    }
  }

  .features-panel__divider {
    width: 100%;
    height: 1px;
    margin: 15px 0;
    border-bottom: $dividerBorder;
  }

  .features-panel__expand-item {
    height: unset;

    .features-panel__expand-title {
      margin-left: 45px;
      padding: 15px 0;
      font-weight: bold;
      font-size: 18px;
    }

    .features-panel__expand-content {
      display: none;
      margin: 10px 15px 10px 45px;
    }

    &.open {
      height: auto;

      .features-panel__expand-content {
        display: block;
      }
    }

    .features-panel__empty-content {
      color: $topaz;
    }

    .accordion__body {
      overflow: visible;
    }

    .features-panel__expand-icon {
      position: absolute;
      top: 8px;
      left: 0;
    }
  }

  .features-panel__feature-row {
    display: flex;
    align-content: center;
    font-size: 15px;

    .feature-row__feature-set-tag {
      color: $mineshaft;
    }

    .feature-row__feature-alias-preposition {
      color: $spunPearl;
    }

    .feature-row__actions {
      width: 50px;
    }
  }
}
