@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$featureSetsRowHeight: variables.$rowHeight;
$featureSetsHeaderRowHeight: variables.$headerRowHeight;
$featureSetsRowHeightExtended: variables.$rowHeight;

:root {
  --featureSetsRowHeight: #{$featureSetsRowHeight};
  --featureSetsHeaderRowHeight: #{$featureSetsHeaderRowHeight};
  --featureSetsRowHeightExtended: #{$featureSetsRowHeightExtended};
}

.feature-sets-table {
  @include mixins.rowsHeight(
    $featureSetsHeaderRowHeight,
    $featureSetsRowHeight,
    $featureSetsRowHeightExtended
  );
}
