$activeJobTabBorder: 3px solid $cornflowerBlue;
$disabledBorder: 1px solid rgba($spunPearl, 0.3);
$errorBorder: 1px solid $amaranth;
$gitBorder: 1px solid $white;
$labelBorder: 1px solid $amethyst;
$parametersBorder: 1px solid $burntSiennaTwo;
$primaryBorder: 1px solid rgba(0, 0, 0, 0.2);
$resultsBorder: 1px solid $chateauGreen;
$tableBorder: 1px solid $mulledWineThree;
$tableBorderSecond: 1px solid $mischka;
$dividerBorder: 1px solid rgba($mulledWine, 0.12);
$transparentBorder: 1px solid transparent;
$uploadFileDragOverBorder: 2px dashed $cornflowerBlue;
$uploadFileDroppedBorder: 1px solid $silver;
$uploadFileIdleBorder: 1px dashed $silver;
$labelEditBorder: 1px solid rgba($amethyst, 0.34);
