$tableBorder: 1px solid $mulledWineThree;
$parametersBorder: 1px solid $burntSiennaTwo;
$resultsBorder: 1px solid $chateauGreen;
$primaryBorder: 1px solid rgba(0,0,0, .2);
$gitBorder: 1px solid $white;
$labelBorder: 1px solid $amethyst;
