$alabaster: #f7f7f7;
$amaranth: #e54158;
$amethyst: #a44cc5;
$black: #000;
$brightTurquoise: #0fddaf;
$burntSienna: #eb5757;
$burntSiennaTwo: #ea7f54;
$chateauGreen: #49af53;
$cornflowerBlue: #6279e7;
$cornflowerBlueTwo: #5871f4;
$darkPurple: #2f2b46;
$doveGray: #666;
$doveGrayTwo: #6e6e6e;
$ebonyClay: #272c41;
$gallery: #eee;
$gunsmoke: #7f8d89;
$iron: #dfe2e5;
$java: #13bbb1;
$javaTwo: #13bbb1;
$malibu: #869cff;
$mineshaft: #333;
$mineshaftTwo: rgba(#333, 0.75);
$mischka: #e9e8eb;
$mulledWine: #483f56;
$mulledWineThree: rgba($mulledWine, 0.12);
$mulledWineTwo: rgba($mulledWine, 0.87);
$orchid: #d863b7;
$pharlap: #a98982;
$pictonBlue: #50b1e7;
$portage: #8598f2;
$primary: #4b4760;
$purple: #869cff;
$riverBed: #444d55;
$saltbox: #646267;
$scorpion: #565656;
$silver: #c4c4c4;
$sorbus: #f98b0a;
$spunPearl: #adabb0;
$supernova: #ffc700;
$topaz: #7f7989;
$white: #fff;
$wildSand: #f5f5f5;
$wildSandSecond: #f6f6f6;
