$alabaster: #f7f7f7;
$amethyst: #a44cc5;
$black: #000;
$brightTurquoise: #0FDDAF;
$burntSienna: #eb5757;
$burntSiennaTwo: #ea7f54;
$chateauGreen: #49af53;
$cornflowerBlue: #6279e7;
$darkPurple: #2f2b46;
$ebonyClay: #272c41;
$gunsmoke: #7f8d89;
$mulledWine: #483f56;
$mulledWineTwo: #483f56e0;
$mulledWineThree: #483f561f;
$pictonBlue: #50b1e7;
$purple: #869cff;
$scorpion: #565656;
$topaz: #7f7989;
$white: #fff;
$primary: #4B4760;
$doveGray: #666666;
$doveGrayTwo: #6E6E6E;