@import './colors';
@import './mixins.scss';

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: 1;
}

.App {
  width: 100%;
  display: flex;
  flex: 1;
}

.App {
  width: 100%;
}
body {
  background: #eeeeee;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
  @include resetSpaces;
  display: flex;
  flex: 1;
  height: 100vh;
}

main {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
  margin-top: 64px;
  position: relative;
  flex: 1;
  overflow: auto;
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:active, &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.completed, .ready {
  @include jobStatus($brightTurquoise);
}

.running {
  @include jobStatus($pictonBlue);
}

.failed,
.error {
  @include jobStatus($burntSienna);
}

iframe {
  width: 100%;
  height: 100%;
}

#overlay_container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.remove-btn {
  margin-right: 0.5rem;
}

.error_container {
  margin: auto;
  h1,
  h3 {
    text-align: center;
    color: $mulledWine;
  }
}

input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  &:active, &:focus {
    outline: none;
    box-shadow: none;
  }
}