@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/fonts';

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  scrollbar-color: rgba($black, 0.25) rgba($black, 0.1);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba($black, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($black, 0.25);
  border-radius: 10px;

  &:hover {
    background-color: rgba($black, 0.4);
  }
}

body {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: $gallery;

  @include resetSpaces;
}

.ml-app {
  display: flex;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: margin-left 0.3s ease-in-out;
  z-index: 1;

  &.has-header {
    height: calc(100vh - #{$headerHeight});
    margin-top: $headerHeight;
  }

  &.pinned {
    margin-left: $navbarWidth;
  }

  &.unpinned {
    .create-container__header,
    .create-container__data,
    .content__header,
    .project__header,
    .settings__header {
      padding-left: 40px;
      transition: padding 0.3s ease-in-out;
    }

    .content,
    .settings__content {
      margin-left: 40px;
      transition: margin 0.3s ease-in-out;
    }
  }
}

.page {
  flex: 1 1;
  min-width: 100%;
  background-color: $white;

  .page-breadcrumbs {
    padding: 20px 24px;
    box-shadow: $headerShadow;
  }

  .page-content {
    padding: 20px 40px;

    .page-actions {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;

      .search-container {
        flex: unset;
        width: 250px;
      }
    }

    .table {
      border-top: none;

      .table-head__item,
      .table-body__cell {
        color: $primaryTextColor;
      }

      .table-head {
        background-color: $titanWhite;
        border-radius: $mainBorderRadius;

        .table-head__item {
          height: 40px;
          border-bottom: none;
        }
      }
    }
  }
}

.navbar {
  &.has-header {
    margin-top: $headerHeight;
    padding-bottom: $headerHeight;
  }

  &.pinned {
    transform: translateX(0);

    .navbar__toggler {
      right: 0;
      opacity: 0;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

[class^='state-completed'],
[class^='state-ready'],
[class^='state-succeeded'],
[class^='state-active'],
[class^='state-created'],
[class^='state-info'],
[class^='state-online'] {
  @include statusState($brightTurquoise);
}

[class^='state-all'] {
  @include statusState(transparent);
}

[class^='state-warn'] {
  @include statusState($grandis);
}

[class^='state-deploying'],
[class^='state-build'],
[class^='state-pending'],
[class^='state-running'] {
  @include statusState($pictonBlue);
}

[class^='state-failed'],
[class^='state-fail'],
[class^='state-error'],
[class^='state-broken'],
[class^='state-aborted'] {
  @include statusState($burntSienna);
}

.state-created-job,
.state-created-function,
.state-pending-job {
  @include statusState($topaz);
}

iframe {
  width: 100%;
  height: 100%;
}

.error-container {
  margin: auto;

  h1,
  h3 {
    color: $mulledWine;
    text-align: center;
  }

  .error-details {
    margin: 0 auto;
    color: $cornflowerBlue;
  }
}

.data-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.wrap {
  white-space: pre-wrap;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button:not([class*='round-icon-cp__circle']) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;

    i {
      background-size: 12px 12px;
    }

    &:hover {
      background-color: $mulledWineThree;
      border-radius: 20px;
    }
  }
}

.auto-resizable-input {
  position: relative;
  display: inline-grid;
  min-width: 3em;
  height: 1.8em;
  padding: 5px 10px;

  &.full-width {
    width: 100%;
  }

  &::after {
    overflow: hidden;
    visibility: hidden;
    content: attr(data-value) ' ';
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: inherit;
    font: inherit;
    border: none;
  }
}

.combobox {
  .path-type {
    &-store {
      color: $amethyst;
    }

    &-v3io {
      color: $cornflowerBlueTwo;
    }

    &-az,
    &-gs,
    &-http,
    &-https,
    &-s3 {
      color: $sorbus;
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.graph-container {
  display: flex;
  flex: 1 1;

  .graph-view {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    background-color: $gallery;
  }

  .graph-pane {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 350px;
    overflow: hidden;
    background: $white;
    border: $secondaryBorder;
    box-shadow: 0 0 30px rgba($black, 0.15);

    &.scrollable {
      overflow-y: auto;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.content {
  position: relative;
  flex-direction: column;
  margin: 24px;
  min-width: 900px;

  @include jobsFlex;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 14px 24px;
    background-color: $white;
    box-shadow: $headerShadow;

    .btn {
      &_register {
        text-transform: capitalize;
      }
    }
  }

  .table-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 620px;
    background-color: $white;
    border-radius: $mainBorderRadius;
    box-shadow: $jobsShadow;

    .no_data {
      margin: auto;
      color: $mulledWine;
    }
  }

  &-wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 100%;
  }

  &__action-bar {
    display: flex;
    align-items: center;
    padding: 4px 24px;

    &_hidden {
      display: none;
    }
  }
}

.form {
  color: $primary;

  [class*='form-col'] {
    flex: 1 0 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    &.align-stretch {
      align-items: stretch;
    }
  }

  &-col {
    &-1 {
      flex-grow: 1;
    }

    &-2 {
      flex-grow: 2;
    }

    &-3 {
      flex-grow: 3;
    }

    &-4 {
      flex-grow: 4;
    }

    &-auto {
      flex-grow: 0;
    }
  }

  &-text {
    font-size: 15px;
  }

  &-step-title {
    display: block;
    margin: 0;
    font-size: 24px;
  }

  &-table-title {
    display: block;
    font-weight: 500;
    font-size: 20px;
  }
}

//TODO: Delete after removing Textarea and Input and using DRC components
@mixin fieldWrapperOld {
  position: relative;
  width: 100%;
  padding: 18px 16px;
  color: #4b4760;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;
}
