@import "./variables.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
}

#root {
  display: flex;
}
body {
  background: #EEEEEE;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
  margin-top: 64px;
  width: 100%;
  position: relative;
}

.completed {
  @include jobStatus;
  background-color: $statusCompleted;
}

.running {
  @include jobStatus;
  background-color: $mainBlue;
}

.failed {
  @include jobStatus;
  background-color: $statusFailed;
}
