@import './variables.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
}

#root {
  display: flex;
}

.App {
  width: 100%;
}
body {
  background: #eeeeee;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
  @include resetSpaces;
}

main {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
  margin-top: 64px;
  position: relative;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.completed {
  @include jobStatus;
  background-color: $statusCompleted;
}

.running {
  @include jobStatus;
  background-color: $mainGreenColor;
}

.failed {
  @include jobStatus;
  background-color: $statusFailed;
}

iframe {
  width: 100%;
}
