@import './colors';
@import './mixins.scss';

* {
  box-sizing: border-box;
}

#root {
  display: flex;
}

.App {
  width: 100%;
}
body {
  background: #eeeeee;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
  @include resetSpaces;
}

main {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
  margin-top: 64px;
  position: relative;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.completed {
  @include jobStatus($brightTurquoise);
}

.running {
  @include jobStatus($cornflowerBlue);
}

.failed, .error {
  @include jobStatus($burntSienna);
}

iframe {
  width: 100%;
  height: 100%;
}

#overlay_container {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 100%;
  align-items: center;
  transition: height 0.1s;
}

.remove-btn {
  margin-right: 0.5rem;
}
