@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/fonts';

body {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: $gallery;

  @include resetSpaces;
}

.ml-app {
  display: flex;
  width: 100%;

  &-container {
    display: flex;
    position: relative;
    width: 100%;

    &.has-header {
      height: calc(100vh - #{$headerHeight});
      margin-top: $headerHeight;
    }
  }

  &-version {
    font-size: 0.75rem;
  }
}

/*=========== CONTENT =============*/

.content {
  position: relative;
  flex-direction: column;
  min-width: 800px;
  padding: 15px 24px 30px;
  background-color: $white;

  @include jobsFlex;

  @media screen and (min-width: 1300px) {
    padding: 15px 64px 30px;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 14px 24px;
    background-color: $white;
    box-shadow: $headerShadow;

    .btn {
      &_register {
        text-transform: capitalize;
      }
    }
  }

  .table-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $white;

    .no_data {
      margin: auto;
      color: $mulledWine;
    }
  }

  &-wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 100%;
  }

  &__action-bar-wrapper {
    display: flex;
    align-items: center;
    padding: 4px 0 15px 0;

    &_hidden {
      display: none;
    }

    .action-bar {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;

      &__filters {
        &-item {
          &:not(:last-child) {
            margin: 0 15px 0 0;
          }
        }
      }
    }
  }
}

/*=========== MAIN =============*/

main {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: margin-left 0.3s ease-in-out;

  &.unpinned {
    .create-container__header,
    .create-container__data,
    .content__header,
    .project__header,
    .settings__header {
      padding-left: 40px;
      transition: padding 0.3s ease-in-out;
    }

    .content,
    .settings__content {
      transition: margin 0.3s ease-in-out;
    }
  }
}

/*=========== PAGE =============*/

.page {
  flex: 1 1;
  min-width: 100%;
  background-color: $white;

  .page-breadcrumbs {
    padding: 20px 24px;
    box-shadow: $headerShadow;
  }

  .page-content {
    padding: 20px 40px;

    .page-actions {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 20px 0;

      .search-container {
        flex: unset;
        width: 250px;
      }
    }

    .table {
      border-top: none;

      .table-header__cell,
      .table-body__cell {
        color: $primaryTextColor;
      }

      .table-header {
        .table-row {
          border-bottom: none;
        }
      }
    }
  }
}

/*=========== TABLE =============*/

.table {
  position: relative;
  text-align: left;
  width: 100%;
  border-spacing: 0;

  .table {
    &-row {
      display: flex;
      flex-direction: row;
      min-width: 100%;
      min-height: 50px;
      background-color: inherit;

      &:not(.parent-row_expanded) > * {
        position: relative;
        display: inline-flex;
        flex: 1;
        align-items: center;
        border-bottom: $tableRowBorder;

        @include tableDet(8px, 5px, 8px, 10px);

        &:first-child {
          padding-left: 30px;
        }

        &.table-cell {
          &-name {
            position: sticky;
            left: 0;
            min-width: 250px;
            padding-right: 10px;
            z-index: 1;
          }

          &-icon {
            position: sticky;
            right: 0;
            justify-content: center;
            padding: 0;
            max-width: 85px;

            @include tableColumnFlex(0, 50px);

            & > :first-child {
              padding: 0;
            }

            &__run-icon {
              margin-bottom: -2px;
              transform: rotate(-90deg) scale(1.2);
            }
          }
        }
      }

      &.parent-row {
        &:not(.parent-row_expanded) {
          &:not(.parent-row_without-actions) {
            .table-cell-icon {
              .actions-menu {
                &__container_extended {
                  &:before {
                    background: linear-gradient(
                      90deg,
                      rgba(255, 255, 255, 0) 0%,
                      rgba(245, 247, 255, 1) 100%
                    );
                  }
                }
              }
            }

            &:hover {
              .table-cell-icon {
                .actions-menu {
                  &__container {
                    display: flex;

                    &_extended {
                      background-color: $ghostWhite;

                      &:before {
                        background: linear-gradient(
                          90deg,
                          rgba(255, 255, 255, 0) 0%,
                          rgba(245, 247, 255, 1) 100%
                        );
                      }
                    }

                    .btn {
                      min-width: 24px;
                      padding: 0;
                      border: none;

                      &:hover {
                        background-color: transparent;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .expand-arrow {
          position: absolute;
          left: 5px;
          cursor: pointer;
        }

        .best-iteration {
          position: absolute;
          top: auto;
          bottom: auto;
          left: 5px;
          margin-top: 3px;
        }

        &_expanded {
          flex-direction: column;
          border: 0;

          .table-row {
            &:hover {
              .table-cell-icon {
                .actions-menu {
                  &__container {
                    display: flex;
                  }
                }
              }
            }
          }

          .row_grouped-by {
            position: sticky;
            top: #{$headerRowHeight}px;
            background-color: $white;
            padding: 0;
            z-index: 3;

            .expand-arrow {
              transform: rotate(90deg);
            }
          }
        }
      }

      .checkbox {
        position: absolute;
        left: 8px;
        margin: 0;
      }
    }

    &-header {
      position: sticky;
      top: 0;
      min-width: 100%;
      z-index: 3;

      &-row {
        min-height: #{$headerRowHeight}px;
      }

      &__cell {
        min-width: 75px;

        @include tableHeader;

        &:first-child {
          border-radius: 4px 0 0 0;
        }

        &:last-child {
          border-radius: 0 4px 0 0;
        }
      }
    }

    &-body {
      position: relative;
      z-index: 2;

      &__cell {
        .status {
          display: flex;
          flex: 0 1 12px;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
          min-width: 12px;

          & > * {
            margin: 0;
          }
        }
      }

      .table-row {
        background-color: $white;

        &:hover,
        &_active {
          background-color: $ghostWhite;
        }

        & > * {
          background-color: inherit;
        }
      }
    }
  }

  &-main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow-y: auto;
    will-change: scroll-position;
  }

  &.table-with-details {
    .table-cell-name {
      min-width: 240px;
      max-width: 240px;
    }
  }

  &-fixed {
    table-layout: fixed;
  }
}

/*=========== SORT =============*/

.sortable-header {
  &-cell {
    position: relative;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    .sort-icon {
      display: none;
      position: absolute;
      right: 2px;
      top: auto;
      bottom: auto;
    }

    &_active {
      background-color: $alabaster;

      .sort-icon {
        display: block;
      }
    }

    &:hover {
      .sort-icon {
        display: block;
      }
    }

    label {
      cursor: pointer;
    }
  }

  &-label {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 25px;
  }
}

/*=========== STATE =============*/

[class^='state-active'],
[class^='state-completed'],
[class^='state-created'],
[class^='state-creating'],
[class^='state-info'],
[class^='state-online'],
[class^='state-ready'],
[class^='state-succeeded'] {
  @include statusState($brightTurquoise, false);
}

[class^='state-all'] {
  @include statusState(transparent, false);
}

[class^='state-initialized'] {
  @include statusState($chateauGreen, false);
}

[class^='state-warn'] {
  @include statusState($grandis, false);
}

[class^='state-build'],
[class^='state-building'],
[class^='state-deploying'],
[class^='state-pending'],
[class^='state-running'] {
  @include statusState($pictonBlue, false);
}

[class^='state-aborted'] {
  @include statusState($babyPink, false);
}

[class^='state-broken'],
[class^='state-fail'],
[class^='state-failed'],
[class^='state-unhealthy'] {
  @include statusState($burntSienna, false);
}

[class^='state-error'] {
  @include statusState($sorbus, false);
}

[class^='state-skipped'] {
  @include statusState($topaz, true);
}

[class^='state-aborting'] {
  @include statusState($burntSiennaTwo, false);
}

[class^='state-omitted'] {
  @include statusState($silver, false);
}

[class^='state-archived'] {
  @include statusState($topaz, false);
}

.state-created-job,
.state-created-function,
.state-creating-function,
.state-pending-job {
  @include statusState($topaz, false);
}

/*=========== ERROR =============*/

.error-container {
  margin: auto;

  h1,
  h3 {
    color: $mulledWine;
    text-align: center;
  }

  .error-details {
    margin: 0 auto;
    color: $cornflowerBlue;
  }
}

/*=========== ACTIONS =============*/

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button:not([class*='round-icon-cp__circle']) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;

    i {
      background-size: 12px 12px;
    }

    &:hover {
      background-color: $mulledWineThree;
      border-radius: 20px;
    }
  }
}

/*=========== INPUT =============*/

.auto-resizable-input {
  position: relative;
  display: inline-grid;
  min-width: 3em;
  height: 1.8em;
  padding: 5px 10px;

  &.full-width {
    width: 100%;
  }

  &::after {
    overflow: hidden;
    visibility: hidden;
    content: attr(data-value) ' ';
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: inherit;
    font: inherit;
    border: none;
  }
}

/*=========== COMBOBOX =============*/

.combobox {
  .path-type {
    &-store {
      color: $amethyst;
    }

    &-v3io {
      color: $cornflowerBlueTwo;
    }

    &-az,
    &-gs,
    &-http,
    &-https,
    &-s3 {
      color: $sorbus;
    }

    &-dbfs {
      color: $chateauGreen;
    }
  }
}

/*=========== GRAPH =============*/

.graph-container {
  position: relative;
  display: flex;
  flex: 1 1;

  .graph-view {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    background-color: $gallery;
  }

  .graph-pane {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 350px;
    overflow: hidden;
    background: $white;
    border: $secondaryBorder;
    box-shadow: 0 0 30px rgba($black, 0.15);

    &.scrollable {
      overflow-y: auto;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

/*=========== FORM =============*/

.form {
  color: $primary;

  [class*='form-col'] {
    display: flex;
    flex: 1 0 0;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .justify-between {
    display: flex;
    justify-content: space-between;
  }

  &-row {
    display: flex;
    margin-bottom: 20px;

    &.align-stretch {
      align-items: stretch;
    }
  }

  .form {
    &-col {
      &-1 {
        flex-grow: 1;
      }

      &-2 {
        flex-grow: 2;
      }

      &-3 {
        flex-grow: 3;
      }

      &-4 {
        flex-grow: 4;
      }

      &-5 {
        flex-grow: 5;
      }

      &-6 {
        flex-grow: 6;
      }

      &-7 {
        flex-grow: 7;
      }

      &-auto {
        flex-grow: 0;
      }
    }

    &-text {
      font-size: 15px;
    }

    &-step-title {
      display: block;
      margin: 0;
      font-size: 24px;
    }

    &-step-subtitle {
      display: block;
      margin: 0;
      font-size: 20px;
    }

    &-table-title {
      display: block;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
      padding-top: 10px;

      .tip-container {
        margin-left: 5px;
      }
    }
  }
}

/*=========== SORT ICON =============*/

.sort-icon {
  width: 20px;
  transition: transform 0.3s ease-in-out;

  &_down {
    transform: rotate(-90deg);
  }

  &_up {
    transform: rotate(90deg);
  }
}

.action-bar {
  .filters-button {
    margin-left: 5px;
  }

  &__filters {
    display: flex;

    .filter-column {
      &:not(:last-child) {
        margin: 0 15px 0 0;
      }
    }
  }

  &__actions {
    display: flex;
    margin-left: 20px;

    .action-button {
      white-space: nowrap;

      @media screen and (min-width: 1300px) {
        min-width: 160px;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}

/*=========== GENERAL =============*/

.visibility-hidden {
  visibility: hidden;
}

.data-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.wrap {
  white-space: pre-wrap;
}

iframe {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba($black, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($black, 0.25);
  border-radius: 10px;

  &:hover {
    background-color: rgba($black, 0.4);
  }
}

//TODO: Delete after removing Textarea and Input and using DRC components
@mixin fieldWrapperOld {
  position: relative;
  width: 100%;
  padding: 18px 16px;
  color: #4b4760;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;
}
