@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin jobsFlex {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

@mixin tableDet {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: $tableBorder;
  &:first-child {
    padding-left: 56px;
  }
}

@mixin detailsItem {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: $topaz;
}

@mixin chip($border) {
  padding: 8px 14px;
  margin: 5px 2px;
  cursor: default;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  background-color: transparent;
  font-size: 14px;
  line-height: 16px;
  color: $mulledWine;
  border-radius: 16px;
  border: $border;
}

@mixin jobsFilter($item, $left) {
  position: relative;
  margin-right: 16px;
  &::before {
    content: $item;
    position: absolute;
    left: $left;
    top: 11px;
    color: $topaz;
  }
  &::after {
    content: url('../images/caret.png');
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

@mixin jobStatus($color) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: $color;
}

@mixin tableColumn($flex) {
  &_container {
    display: flex;
    flex: $flex;
    height: 100%;
    align-items: flex-end;
    &_item {
      height: 55px;
      display: flex;
      flex: 1;
      align-items: center;
    }
  }
}

@mixin tableDisplay($flex) {
  display: flex;
  flex: $flex;
}

@mixin artifactsTableHeader($flex, $lineHeight) {
  flex: $flex;
  line-height: $lineHeight;
}

@mixin tableHeader {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $topaz;
  padding: 10px 0;
}

@mixin resetSpaces {
  margin: 0;
  padding: 0;
}

@mixin tableColumnFlex($flex) {
  max-width: $flex;
  flex: 0 0 $flex;
}

@mixin flex($flex, $minWidth) {
  flex: $flex;
  min-width: $minWidth;
}
