@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin jobsFlex {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

@mixin tableDet {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: $tableBorder;

  &:first-child {
    padding-left: 56px;
  }
}

@mixin detailsItem {
  color: $topaz;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@mixin chip($border) {
  display: inline-flex;
  align-items: center;
  margin: 5px 2px;
  padding: 8px 14px;
  color: $mulledWine;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  background-color: transparent;
  border: $border;
  border-radius: 16px;
  cursor: default;
}

@mixin jobsFilter($item, $left) {
  position: relative;
  margin-right: 16px;

  &::before {
    position: absolute;
    top: 11px;
    left: $left;
    color: $topaz;
    content: $item;
  }

  &::after {
    position: absolute;
    top: 10px;
    right: 15px;
    content: url('../images/dropdown.svg');
  }
}

@mixin jobStatus($color) {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $color;
  border-radius: 50%;
}

@mixin tableColumn($flex) {
  &_container {
    display: flex;
    flex: $flex;
    align-items: flex-end;
    height: 100%;

    &_item {
      display: flex;
      flex: 1;
      align-items: center;
      height: 55px;
    }
  }
}

@mixin tableDisplay($flex) {
  display: flex;
  flex: $flex;
}

@mixin artifactsTableHeader($flex, $lineHeight) {
  flex: $flex;
  line-height: $lineHeight;
}

@mixin tableHeader($sidePadding) {
  padding: 10px $sidePadding;
  color: $topaz;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@mixin resetSpaces {
  margin: 0;
  padding: 0;
}

@mixin tableColumnFlex($flex, $minWidth) {
  flex: $flex;
  min-width: $minWidth;
}

@mixin jobsPanelTable {
  position: relative;
  width: 100%;
  border-bottom: $tableBorder;

  .table {
    &__header {
      color: $topaz;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }

    &__body {
      display: flex;
      align-items: flex-end;

      &-column {
        width: 100%;

        .input {
          border: none;
        }
      }
    }

    &__subheader {
      text-transform: capitalize;
    }

    &__row-add-item {
      display: flex;
      align-items: center;

      input {
        border: none;
      }
    }
  }

  .input-row {
    &-wrapper {
      display: flex;
      width: 100%;
      margin: 0 -1px 0 -1px;
      border: $primaryBorder;

      .select {
        flex: 1;
        height: 54px;
        margin: 1px 0;
        padding: 0;
        border: none;

        &__label {
          padding: 0;
        }
      }
    }

    &__item {
      width: 100%;

      &::placeholder {
        font-style: italic;
      }
    }
  }

  .edit-row {
    background-color: $alabaster;

    .input {
      width: 100%;
      margin: -1px;
      padding: 10px;
      border: $primaryBorder;
      border-radius: 2px;

      &_required {
        border: 1px solid $amaranth;
      }
    }

    .border-none {
      border: none;
    }

    .table__cell {
      &_edit {
        min-width: 175px;
        padding: 10px 0;

        &:first-child {
          padding-right: 7px;
          padding-left: 7px;
        }

        .select {
          width: 100%;
          border-radius: 2px;

          &__value {
            min-width: unset;
          }

          &__label {
            padding-left: 0;
          }
        }
      }

      &-input {
        padding: 0;

        &:first-child {
          .input-wrapper {
            min-width: 204px;
            margin-right: 5px;

            .input {
              padding-left: 17px;

              &__label {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  .no-hover {
    .add-input {
      padding: 0;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
