@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin jobsFlex {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

@mixin tableDet {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: $tableBorder;

  &:first-child {
    padding-left: 56px;
  }
}

@mixin detailsItem {
  color: $topaz;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@mixin chip($border) {
  display: inline-flex;
  align-items: center;
  margin: 5px 2px;
  padding: 8px 14px;
  color: $mulledWine;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  background-color: transparent;
  border: $border;
  border-radius: 16px;
  cursor: default;
}

@mixin jobsFilter($item, $left) {
  position: relative;
  margin-right: 16px;

  &::before {
    position: absolute;
    top: 11px;
    left: $left;
    color: $topaz;
    content: $item;
  }

  &::after {
    position: absolute;
    top: 10px;
    right: 15px;
    content: url('../images/dropdown.svg');
  }
}

@mixin jobStatus($color) {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $color;
  border-radius: 50%;
}

@mixin tableColumn($flex) {
  &_container {
    display: flex;
    flex: $flex;
    align-items: flex-end;
    height: 100%;

    &_item {
      display: flex;
      flex: 1;
      align-items: center;
      height: 55px;
    }
  }
}

@mixin tableDisplay($flex) {
  display: flex;
  flex: $flex;
}

@mixin artifactsTableHeader($flex, $lineHeight) {
  flex: $flex;
  line-height: $lineHeight;
}

@mixin tableHeader($paddingLefAndRight) {
  padding: 10px $paddingLefAndRight;
  color: $topaz;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@mixin resetSpaces {
  margin: 0;
  padding: 0;
}

@mixin tableColumnFlex($flex, $min) {
  flex: $flex;
  min-width: $min;
}
