@import './colors';
@import './borders';

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin jobsFlex {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

@mixin tableDet {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: $secondaryBorder;

  &:first-child {
    padding-left: 40px;
  }
}

@mixin detailsMetadataStatisticsTable {
  &__table {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;

    &-wrapper {
      min-width: 100%;
    }

    &-header {
      position: sticky;
      top: 0;
      z-index: 3;
      display: flex;
      min-width: 100%;
      padding-bottom: 10px;
      color: $topaz;
      font-weight: bold;
      background-color: $white;
      border-bottom: $secondaryBorder;

      .header-item {
        text-transform: capitalize;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      min-width: 70px;
      padding: 0 5px;
    }

    &-row {
      display: flex;
      flex-direction: row;
      min-width: 100%;
      height: 45px;
      border-bottom: $secondaryBorder;
    }
  }
}

@mixin detailsItem {
  color: $topaz;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@mixin jobsFilter($item, $left) {
  position: relative;
  margin-right: 16px;

  &::before {
    position: absolute;
    top: 11px;
    left: $left;
    color: $topaz;
    content: $item;
  }

  &::after {
    position: absolute;
    top: 10px;
    right: 15px;
    content: url('../images/dropdown.svg');
  }
}

@mixin statusState($color) {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $color;
  border-radius: 50%;
}

@mixin chipFont($color) {
  color: $color;

  .item-icon-close {
    svg {
      path {
        fill: $color;
      }
    }
  }
}

@mixin editableChipFont($fontColor) {
  color: $fontColor;

  .input-label-key {
    color: $fontColor;
  }

  .input-label-value {
    color: $fontColor;
  }

  .edit-label-separator {
    color: $fontColor;
  }
}

@mixin chipButtonAddColor($color) {
  svg {
    rect,
    path {
      fill: $color;
    }
  }

  &:hover {
    svg {
      rect,
      path {
        fill: $white;
      }
    }
  }
}

@mixin chipButtonAddBackground($color, $hoverColor) {
  background-color: $color;

  &:hover {
    background-color: $hoverColor;
  }
}

@mixin chipButtonAddSize($size) {
  width: $size;
  height: $size;
}

@mixin chipBackground($isChipButtonAdd) {
  @if $isChipButtonAdd == true {
    &_orange {
      @include chipButtonAddBackground($grandisTwo, $sorbus);
    }

    &_purple {
      @include chipButtonAddBackground($amethystTwo, $amethyst);
    }

    &_green {
      @include chipButtonAddBackground($javaTwo, $java);
    }

    &_grey {
      @include chipButtonAddBackground($mulledWineThree, $topaz);
    }
  }

  @else {
    &_none {
      background-color: transparent;
    }

    &_green {
      background-color: $javaTwo;
    }

    &_grey {
      background-color: $mulledWineThree;
    }

    &_orange {
      background-color: $grandisTwo;
    }

    &_purple {
      background-color: $amethystTwo;
    }

    &_amethyst {
      background-color: $amethyst;
    }

    &_sorbus {
      background-color: $sorbus;
    }

    &_java {
      background-color: $java;
    }
  }
}

@mixin chipBorder() {
  &_transparent {
    border: $transparentBorder;
  }

  &_green {
    border: $resultsBorder;
  }

  &_grey {
    border: $primaryBorder;
  }

  &_orange {
    border: $parametersBorder;
  }

  &_purple {
    border: $labelBorder;
  }

  &_primary {
    border-radius: 4px;
  }

  &_secondary {
    border-radius: 20px;
  }
}

@mixin chipDensity($isEditMode, $isChipAddButton) {
  @if $isChipAddButton == true {
    &_dense {
      @include chipButtonAddSize(26px);
    }

    &_normal {
      @include chipButtonAddSize(32px);
    }

    &_medium {
      @include chipButtonAddSize(34px);
    }
  }

  @else {
    &_dense {
      height: 26px;
    }

    &_normal {
      height: 32px;
      padding: 8px 15px;
    }

    &_medium {
      height: 34px;
      padding: 8px 15px;
      font-size: 15px;

      @if $isEditMode == false {
        .item-icon-close {
          transform: scale(1.2);
        }
      }
    }
  }
}

@mixin chipsFont($component) {
  @if $component == EditableChip {
    &_primary {
      @include editableChipFont($primary);
    }

    &_green {
      @include editableChipFont($chateauGreen);
    }

    &_white {
      @include editableChipFont($white);
    }

    &_orange {
      @include editableChipFont($sorbus);
    }

    &_purple {
      @include editableChipFont($amethyst);
    }
  }

  @else if $component == Chip {
    &_white {
      @include chipFont($white);
    }

    &_green {
      @include chipFont($chateauGreen);
    }

    &_purple {
      @include chipFont($amethyst);
    }

    &_primary {
      @include chipFont($primary);
    }

    &_orange {
      @include chipFont($sorbus);
    }
  }

  @else if $component == ButtonAddChip {
    &_primary {
      @include chipButtonAddColor($topaz);
    }

    &_green {
      @include chipButtonAddColor($chateauGreen);
    }

    &_orange {
      @include chipButtonAddColor($sorbus);
    }

    &_purple {
      @include chipButtonAddColor($amethyst);
    }
  }
}

@mixin hiddenChipBlockArrow() {
  position: absolute;
  z-index: -10;
  display: block;
  width: 12px;
  height: 12px;
  background-color: $white;
  transform: rotate(-45deg);
  content: '';
}

@mixin tableColumn($flex) {
  &_container {
    display: flex;
    flex: $flex;
    align-items: flex-end;
    height: 100%;

    &_item {
      display: flex;
      flex: 1;
      align-items: center;
      height: 55px;
    }
  }
}

@mixin tableDisplay($flex) {
  display: flex;
  flex: $flex;
}

@mixin artifactsTableHeader($flex, $lineHeight) {
  flex: $flex;
  line-height: $lineHeight;
}

@mixin tableHeader($sidePadding) {
  padding: 5px $sidePadding;
  color: $topaz;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

@mixin resetSpaces {
  margin: 0;
  padding: 0;
}

@mixin tableColumnFlex($flex, $minWidth) {
  flex: $flex;
  min-width: $minWidth;
}

@mixin newItemSidePanelTable {
  position: relative;
  width: 100%;
  border-bottom: $primaryBorder;

  .table {
    &__header {
      color: $topaz;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }

    &__body {
      display: flex;
      align-items: flex-end;

      &-column {
        width: 100%;

        .input {
          padding: 25px 10px 11px;

          &:not(.input_invalid) {
            border: none;
          }

          &__label-floating {
            left: 10px;
          }
        }
      }
    }

    &__subheader {
      text-transform: capitalize;
    }

    &__cell {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 5px;
      padding: 10px;
      color: $primary;

      &_disabled {
        color: $spunPearl;
      }

      &-checkbox {
        flex: 0.16;
        padding: 0;

        svg {
          margin: 0;
        }
      }

      &-actions {
        width: 44px;
        max-width: 44px;
      }
    }

    &__row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 55px;
      border-top: $primaryBorder;

      .tip-container {
        display: none;
      }

      &:hover {
        background-color: $alabaster;

        .table__cell {
          &-actions {
            .actions-menu {
              &__container {
                display: block;

                .btn {
                  padding: 0;
                  border: none;

                  &:hover {
                    background-color: transparent;
                  }
                }
              }
            }
          }

          .btn_delete {
            display: block;
          }
        }

        .tip-container {
          display: flex;
        }
      }

      &-add-item {
        display: flex;
        align-items: center;

        input {
          border: none;
          border-radius: unset;
        }
      }
    }
  }

  .input-row {
    &-wrapper {
      display: flex;
      width: 100%;
      margin: 0 -1px 0 -1px;
      border: $primaryBorder;

      .select {
        flex: 1;
        margin: 1px 0;
        padding: 0;
        border: none;

        &__label {
          padding: 0;
        }
      }
    }

    &__item {
      width: 100%;
      height: 100%;

      &::placeholder {
        font-style: italic;
      }
    }
  }

  .edit-row {
    background-color: $alabaster;

    .input {
      width: 100%;
      margin: -1px;
      padding: 10px;
      border: $primaryBorder;
      border-radius: 2px;

      &_invalid {
        border: 1px solid $amaranth;
      }
    }

    .border-none {
      border: none;
    }

    .table__cell {
      &_edit {
        min-width: 175px;
        padding: 10px 0;

        .select {
          width: 100%;
          border-radius: 2px;

          &__value {
            min-width: unset;
          }

          &__label {
            padding-left: 0;
          }
        }
      }
    }
  }

  .no-hover {
    .add-input {
      padding: 0;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

@mixin newItemSidePanel {
  .new-item-side-panel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 100%;
    overflow-y: scroll;
    background-color: $wildSand;

    &-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($mineshaft, 0.75);
    }

    &__body {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &__accordion {
      margin: 16px 40px 0;
      background-color: $white;
      border: $primaryBorder;
      border-radius: 4px;

      &.accordion__container.open {
        height: auto;

        .accordion__body {
          min-height: 100px;
          overflow: visible;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 16px;
      }
    }

    &__expand-icon {
      position: absolute;
      top: 16px;
      left: -16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin: 0;
      background: $malibu;
      border-radius: 50%;

      &:hover {
        background-color: $cornflowerBlue;
      }

      svg {
        path {
          fill: $white;
        }
      }
    }

    &__item {
      z-index: 1;
      height: 100%;
      min-height: 64px;
      padding: 22px 25px;
    }

    .input-wrapper {
      flex: 1;
    }

    &__buttons-container {
      display: flex;
      flex: 0.1;
      align-items: center;
      justify-content: flex-end;
      margin-top: 16px;
      margin-bottom: 16px;
      padding: 0 40px;
    }

    .add-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 44px;
      padding: 10px;
      color: $cornflowerBlue;
      font-size: 15px;
      line-height: 18px;

      svg {
        width: 20px;
        height: 20px;
      }

      rect {
        fill: $cornflowerBlue;
      }
    }

    .no-border {
      border-bottom: none;

      &_top {
        border-top: none;
      }
    }

    .btn {
      &-add {
        rect {
          min-width: 44px;
          fill: $cornflowerBlue;
        }
      }

      &__schedule {
        margin-top: 16px;
        margin-left: auto;
      }
    }
  }
}

@mixin panelTitle {
  position: relative;
  margin: 36px 90px 33px 55px;

  .panel-title {
    &__container {
      width: 100%;
    }

    &__input {
      width: 100%;
      margin-bottom: 5px;
      padding: 4px;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;

      &:disabled {
        border: none;
        user-select: none;
      }

      &-wrapper {
        user-select: none;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: block;
          width: 100%;
          height: 100%;
          content: '';
        }
      }
    }

    &__name {
      margin-bottom: 6px;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
    }

    &__labels {
      &-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 0 15px;
        border: $primaryBorder;
        border-radius: 4px;
      }

      &-text {
        margin-right: 10px;
        color: $primary;
        font-size: 15px;
        line-height: 18px;
      }

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 650px;

        .chips-wrapper {
          flex-wrap: wrap;
          width: 100%;

          .chip_short {
            cursor: pointer;
          }
        }
      }
    }

    &__schedule {
      display: flex;
      align-items: center;
      margin-bottom: 18px;

      svg {
        margin-right: 18px;
        cursor: pointer;
      }
    }

    &__btn_close {
      position: absolute;
      top: -20px;
      right: -75px;
      height: 24px;
    }
  }
}

@mixin panelSection {
  .panel-section {
    &__title {
      display: flex;
      margin-bottom: 22px;

      h5 {
        display: flex;
        align-items: center;
        margin: 0;
        color: $primary;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
    }

    &__body {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 45px;
    }
  }

  &:last-child {
    .panel-section__body {
      margin-bottom: 0;
    }
  }
}

@mixin schedule {
  margin: 0 40px;

  .schedule {
    &-tabs {
      display: flex;
      flex: 1;

      &__item {
        padding: 10px 24px;
        color: $topaz;
        font-weight: bold;
        cursor: pointer;

        &_active {
          color: $cornflowerBlue;
          border-bottom: 3px solid $cornflowerBlue;
        }
      }
    }

    &-content {
      position: relative;
      padding: 24px;
      background-color: $white;
      border: $primaryBorder;
      border-radius: 4px;

      h3 {
        color: $primary;
        text-transform: uppercase;
      }

      .input {
        min-width: 230px;

        &-container {
          display: none;
        }
      }

      .select {
        min-width: 190px;
      }

      .checkbox-container {
        display: none;
        margin: 23px 0;
        padding: 10px 10px 10px 0;
      }

      .input-container,
      .date-picker-container {
        .input-wrapper {
          margin-right: 15px;
        }
      }

      .cron {
        &-error {
          position: relative;
          display: none;
          padding: 13px 48px;
          color: #e54158;
          background: rgba($amaranth, 0.1);
          border: 1px solid $amaranth;
          border-radius: 2px;

          &.show-error {
            display: block;
          }

          .error-icon {
            position: absolute;
            top: 10px;
            left: 15px;
            width: 24px;
            height: 24px;
            padding: 6px;
            background: $amaranth;
            border-radius: 15px;
          }
        }

        &-string {
          min-width: 100%;
          border: $primaryBorder;
          border-radius: 4px;
        }

        &-link {
          display: inline-block;
          margin: 8px 0;
        }
      }
    }
  }
}

@mixin gradient($type) {
  @if $type == 'card' {
    background: linear-gradient(180deg, $brightTurquoise 4px, $white 4px);
  }

  @else {
    background:
      linear-gradient(
        88.84deg,
        #d873e1 5.49%,
        #fc658f 57.67%,
        #ffb971 107.73%
      );
  }
}

@mixin fieldWrapper {
  position: relative;
  width: 100%;
  padding: 18px 16px;
  color: $primary;
  background-color: transparent;
  border: $primaryBorder;
  border-radius: 4px;
}
