$jobsShadow: 0 3px 4px rgba(0, 0, 0, .18);
$headerShadow: inset 0px -1px 0px #EDECEF;
$mainHeaderShadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
$filterShadow: 0px 4px 8px rgba(0, 0, 0, .23);
$tooltipShadow: 0 5px 11px rgba(0, 0, 0, .18);
$hiddenChipsBlockShadow: 1px 3px 8px rgba(0, 0, 0, .2);
$previewBoxShadow: 0 0 16px rgba(0, 0, 0, .3);
