@import './colors';

$jobsShadow: 0 3px 4px rgba($black, 0.18);
$headerShadow: inset 0 -1px 0 #edecef;
$mainHeaderShadow: 0 2px 4px -1px rgba($black, 0.2),
  0 4px 5px 0 rgba($black, 0.14), 0 1px 10px 0 rgba($black, 0.12);
$filterShadow: 0 4px 8px rgba($black, 0.23);
$tooltipShadow: 0 5px 11px rgba($black, 0.18);
$hiddenChipsBlockShadow: 1px 3px 8px rgba($black, 0.2);
$previewBoxShadowInit: 0px 3px 10px rgba(0, 0, 0, 0.07);
$previewBoxShadow: 0 0 16px rgba($black, 0.3);
$projectStatisticsShadow: 0 8px 30px rgba($topaz, 0.08);
$dropdownShadow: 0 0 30px rgba($black, 0.15);
$tablePanelShadow: -3px 0 10px -5px rgba($black, 0.2);
