@import './colors';

$heightRowTable: 55px;
$leftRowOffset: 49px;
$mainBorderRadius: 4px;

$navbarWidth: 235px;
$navbarTogglerWidth: 35px;

$headerHeight: 64px;

$primaryTextColor: $primary;
$secondaryTextColor: $topaz;
