$breadcrumbsFontColor: #7F7989;
$jobsShadow: 0 3px 4px rgba(0, 0, 0, 0.18);
$tableBorder: 1px solid rgba(72, 63, 86, 0.12);
$tableLink: #25A6EE;
$statusCompleted: #0BD02B;
$parametersBorder: #EA7F54;
$resultsBorder: #49AF53;
$tableFont: #483F56;
$white: #fff;
$sidebarFont: rgba(0, 0, 0, 0.87);
$jobsHeaderShadow: inset 0px -1px 0px #EDECEF;
$tableFilterBorder: 1px solid rgba(0, 0, 0, 0.2);
$mainHeaderBg: #272c41;
$mainHeaderShadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
$gitBorder: 1px solid rgb(255, 255, 255);
$mainBorderRadius: 4px;
$statusRunning: #50B1E7;
$selectHover: #F7F7F7;

