$heightRowTable: 55px;
$mainGreenColor: #17CFA6;
$previewBoxShadow: 0 0 16px rgba(0, 0, 0, 0.3);
$modalBackground: #565656;
$leftRowOffset: 49px;
$darkPurple: #2F2B46;
$purple: #869CFF;
$statusReady:  #0FDDAF;
$mainBorderRadius: 4px;
$leftRowOffset: 49px
