$mainGreyColor: #7F7989;
$jobsShadow: 0 3px 4px #0000002e;
$tableBorder: 1px solid #483f561f;
$tableLink: #25A6EE;
$statusCompleted: #0BD02B;
$parametersBorder: 1px solid #EA7F54;
$resultsBorder: 1px solid #49AF53;
$tableFontColor: #483F56;
$white: #fff;
$sidebarFontColor: #000000de;
$headerShadow: inset 0px -1px 0px #EDECEF;
$tableFilterBorder: 1px solid #00000033;
$mainHeaderBg: #272c41;
$mainHeaderShadow: 0 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
$filterShadow: 0px 4px 8px #0000003d;
$tooltipShadow: 0 5px 11px #0000002e;
$gitBorder: 1px solid #ffffff;
$mainBorderRadius: 4px;
$mainBlue: #50B1E7;
$selectHover: #F7F7F7;
$labelBorder: 1px solid #A44CC5;
$statusFailed: #EB5757;
$hiddenChipsBlockShadow: 1px 3px 8px #00000033;
$black: #000;
$filterColor: #483f56e0;
$artifactsTooltipColor: #7f8d89;
$heightRowTable: 55px;
$leftRowOffset: 49px
