@use 'igz-controls/scss/variables';
@use '/src/scss/mixins';

$documentsRowHeight: variables.$rowHeight;
$documentsHeaderRowHeight: variables.$headerRowHeight;
$documentsRowHeightExtended: variables.$rowHeightExtended;

.documents-table {
  @include mixins.rowsHeight(
    $documentsHeaderRowHeight,
    $documentsRowHeight,
    $documentsRowHeightExtended
  );
}
