@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$documentsRowHeight: $rowHeight;
$documentsHeaderRowHeight: $headerRowHeight;
$documentsRowHeightExtended: $rowHeightExtended;

.documents-table {
  @include rowsHeight($documentsHeaderRowHeight, $documentsRowHeight, $documentsRowHeightExtended);
}

:export {
  filesRowHeight: $documentsRowHeight;
  filesHeaderRowHeight: $documentsHeaderRowHeight;
  filesRowHeightExtended: $documentsRowHeightExtended;
}