@use 'igz-controls/scss/colors';

.actions-menu {
  position: relative;

  &__container {
    position: relative;
    display: none;

    &_extended {
      position: absolute;
      right: 0;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: colors.$ghostWhite;
      height: 100%;

      &:before {
        content: '';
        width: 30px;
        height: 100%;
        position: absolute;
        display: block;
        left: -30px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(245, 247, 255, 1) 100%);
      }

      .actions-menu {
        padding: 0 5px 0 0;
      }
    }

    &-active {
      display: flex;
    }
  }

  &__main-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    min-width: 150px;
    max-width: 250px;

    .pop-up-dialog {
      width: 100%;
      padding: 0;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
