@import '../../scss/variables';
@import '../../scss/borders';
@import '../../scss/shadows';

.actions-menu {
  &__container {
    position: relative;
    display: none;
  }

  &__body {
    position: fixed;
    width: 150px;
    background: $white;
    border: $primaryBorder;
    border-radius: $mainBorderRadius;
    box-shadow: $filterShadow;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }
}
