@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/shadows';

.actions-menu {
  &__container {
    position: relative;
    display: none;

    &-active {
      display: block;
    }
  }

  &__body {
    position: fixed;
    min-width: 150px;
    max-width: 250px;
    background: $white;
    border: $primaryBorder;
    border-radius: $mainBorderRadius;
    box-shadow: $filterShadow;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }
}
