@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.table__item-results {
  display: flex;
  position: relative;

  .table {
    i {
      margin: 0 5px;
    }
  }
}
