@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.table__item-results {
  flex: 1;
  position: relative;
  overflow: auto;
  width: 100%;

  .results-table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;

    &__row {
      display: flex;
      min-width: 100%;
      min-height: 50px;
      border-bottom: $secondaryBorder;

      &:hover {
        background-color: $alabaster;
      }

      & > *:first-child {
        margin-left: 10px;
      }
    }

    &__body {
      flex: 1;
    }

    &__body,
    &__header {
      min-width: 100%;
    }

    &__header {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: $white;

      &-item {
        position: relative;
        min-width: 140px;

        @include tableDet;
        @include tableHeader(8px, 10px, 8px, 20px);

        & > :first-child {
          padding-left: 10px;
        }
      }

      .results-table__row {
        &:hover {
          background-color: transparent;
        }
      }
    }

    &__cell {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      justify-content: center;
      min-width: 140px;
      margin: 0 1px;
      padding: 8px 10px 8px 20px;

      & > :first-child {
        padding-left: 10px;
      }
    }

    .table__cell-wide {
      flex: 0 0 250px;
      width: 250px;
    }

    .table__cell-full {
      flex: 1 0 auto;
      width: auto;
    }

    i {
      margin: 0 15px;
    }

    &__medal {
      position: relative;

      .best-iteration {
        position: absolute;
        top: auto;
        bottom: auto;
        left: 3px;
        margin-top: 2px;
        padding: 0;
      }
    }
  }
}
