@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';
@import '~igz-controls/scss/mixins';

.table__item-results {
  flex: 1;
  position: relative;
  overflow: auto;
  width: 100%;

  .results-table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;

    &__row {
      display: flex;
      min-width: 100%;
      border-bottom: $secondaryBorder;

      &:hover {
        background-color: $alabaster;
      }
    }

    &__body {
      flex: 1;
    }

    &__body,
    &__header {
      padding: 0 24px;
      min-width: 100%;
    }

    &__header {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: $white;

      &-item {
        display: flex;
        flex: 0 0 150px;
        flex-direction: column;
        width: 150px;

        @include tableHeader(16px);

        padding: 5px 15px 5px 25px;
      }

      .results-table__row:hover {
        background-color: transparent;
      }
    }

    &__cell {
      display: flex;
      flex: 0 0 150px;
      flex-direction: column;
      width: 150px;
      padding: 19px 15px 19px 25px;
    }

    i {
      margin: 0 15px;
    }

    &__medal {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        position: absolute;
        top: 15px;
        left: 0;
      }
    }
  }
}
