@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/mixins';

.table__item-results {
  position: relative;
  display: flex;

  .table {
    i {
      margin: 0 5px;
    }
  }
}
