.remote-nuclio-container {
  width: 100%;
  height: 100%;

  .nuclio-app-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 400px;
  }

  .remote-error-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 576px;
    margin: 160px auto;
    padding: 56px;
    text-align: center;
    color: #000000;
    background-color: #f9fafb;
    border-radius: 16px;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-in-out;

    .title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.4;
    }

    .description {
      max-width: 440px;
      color: #1f2937;
      font-size: 16px;
      line-height: 1.625;

      .subtext {
        display: block;
        margin-top: 4px;
        font-size: 14px;
        color: #4b5563;
      }
    }
  }
}
