@import '../../../scss/variables';
@import '../../../scss/borders';
@import '../../../scss/colors';

.steps {
  .select {
    margin-bottom: 10px;
  }

  .text-area {
    width: 100%;
    height: 100px;
    white-space: normal;

    &-wrapper {
      width: 100%;
    }
  }
}
