.tooltip {
  position: fixed;
  z-index: 9;
  box-sizing: border-box;
  width: max-content;
  max-width: min(400px, calc(100vw - 16px));
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
}

.fade {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 200ms;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 200ms;
    }
  }
}
