@use 'igz-controls/scss/mixins';

.breadcrumbs {
  @include mixins.resetSpaces;

  font-size: 20px;
  line-height: 23px;
}

.breadcrumbs__list {
  @include mixins.resetSpaces;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.00938em;
  list-style-type: none;
}
