@import "../../scss/variables";

.breadcrumbs {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    letter-spacing: 0.00938em;
    &__item {
      color: $breadcrumbsFontColor;
      a {
        color: inherit;
        text-decoration: none;
      }
      &:last-child {
        color: $tableFont;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
      }
    }
    &_separator {
      display: flex;
      margin-left: 8px;
      user-select: none;
      margin-right: 8px;
      color: $breadcrumbsFontColor;
    }
  }
}
