@import '../../scss/variables';
@import '../../scss/borders';

.change-owner__pop-up {
  .pop-up-dialog {
    width: 700px;
    max-height: 100vh;
    overflow-y: auto;
    background-color: $wildSand;

    &__header-text {
      font-weight: bold;
      font-size: 18px;
    }

    .owner-table {
      margin: 20px 0;
      padding: 20px;
      background-color: $white;
      border-radius: $mainBorderRadius;

      .search-row {
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: $primaryBorder;

        .search-input {
          display: flex;
          align-items: center;
          width: 70%;

          .input-wrapper {
            width: 100%;

            input {
              width: 100%;
            }
          }
        }

        .search-role {
          width: 30%;
          font-weight: bold;
        }
      }
    }

    .footer-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 15px;
      padding: 15px 0;
      border-bottom: $dividerBorder;

      .apply-discard-buttons {
        display: flex;
        align-items: center;
      }
    }

    .footer-annotation {
      color: $topaz;
      font-size: 12px;
      white-space: pre-line;
    }
  }
}

.search-dropdown {
  .pop-up-dialog {
    width: 100%;
    padding: 0;

    &__header {
      display: none;
    }
  }

  .members-list {
    width: 100%;
    max-height: 306px;
    overflow-y: auto;
    background-color: $white;
    border: $primaryBorder;
    border-radius: 0 0 $mainBorderRadius $mainBorderRadius;

    .member-row {
      display: flex;
      padding: 10px 0;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        color: grey;
      }

      .member-name {
        width: 70%;
        padding: 0 15px;
      }

      .member-role {
        width: 30%;
      }
    }
  }
}
