@import '~igz-controls/scss/variables';
@import '~igz-controls/scss/borders';

.change-owner {
  .owner-table {
    .search-row {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      border-bottom: $primaryBorder;

      .search-input {
        display: flex;
        align-items: center;
        width: 70%;

        .input-wrapper {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }

      .search-role {
        width: 30%;
        padding: 0 15px;
        font-weight: bold;
        text-align: right;
      }
    }
  }

  .footer-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0;

    .apply-discard-buttons {
      display: flex;
      align-items: center;
    }
  }
}

.search-dropdown {
  .pop-up-dialog {
    width: 100%;
    padding: 0;
  }

  .members-list {
    width: 100%;
    max-height: 306px;
    overflow-y: auto;
    background-color: $white;
    border: $primaryBorder;
    border-radius: 0 0 $mainBorderRadius $mainBorderRadius;

    .member-row {
      display: flex;
      padding: 10px 0;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        color: grey;
      }

      .member-name {
        width: 70%;
        padding: 0 15px;
      }

      .member-role {
        width: 30%;
      }
    }
  }
}
