@import '~igz-controls/scss/colors.scss';

.form-table__row {
  &.form-table__parameter-row {
    .form-table__parameter-cell {
      .tooltip-wrapper {
        margin-right: 10px;
      }
    }

    &.excluded {
      .form-table__cell {
        color: $spunPearl;
      }
    }

    .tip-container {
      display: none;
    }

    &:hover {
      .tip-container {
        display: flex;
      }
    }
  }
}
