@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/borders';

@mixin counterLinkHover {
  color: colors.$topaz;
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

.card_small-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  @container (max-width: 950px) {
    flex-direction: row;
    display: contents;
  }
}

.monitoring-stats {
  height: 100%;
  flex-direction: column;
  flex-wrap: unset;
  justify-content: flex-start;
  border: 1px solid colors.$frenchLilac;
  min-width: 0;
  flex: 1;

  &.alerts-card {
    transition:
      background-color 0s,
      border-color 0s;
  }

  &.alerts-card_not-empty {
    background-color: colors.$carouselPink;
    border: 1px solid colors.$babyPink;
  }

  .stats {
    &__subtitle {
      display: inline-block;
      margin: 0;
      color: colors.$topaz;
      font-weight: normal;
      font-size: 14px;
    }

    &-card__row {
      margin-bottom: 0;
      flex: unset;
      font-weight: 400;
      font-size: 14px;
      & > * {
        color: colors.$primary;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 0.5rem;
        width: 100%;
      }
    }

      &-large {
        min-height: 34px;
      }

    &__counter_header {
      font-weight: 600;
      font-size: 26px;
    }

    &__link {
      &:hover {
        @include counterLinkHover;
      }
    }

    &__line {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: colors.$mulledWineThree;
      }
    }

    &__details {
      margin-top: 0.5em;
      & > * {
        margin-bottom: 0.5em;
      }
      @container (max-width: 950px) {
        display: none;
      }
    }
    &__status {
      i[class^='state-'] {
        margin-left: 5px;
      }
    }
  }

  .project-card__info {
    width: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0.5em;
    color: colors.$topaz;
    font-size: 0.75rem;

    & *:not(:last-child) {
      margin-right: 5px;
    }

    &-icon {
      flex: 0 1 12px;

      & * {
        fill: colors.$spunPearl;
      }
    }

    @container (max-width: 950px) {
      display: none;
    }

    .stats__subtitle {
      font-size: inherit;
    }
  }

  .date-picker-container {
    margin-left: 15px;

    .input-wrapper .input.date-picker__input {
      padding: 10px;
    }
  }
}



.card-popup {

  .pop-up-dialog {
    min-width: 100%;
    max-width: 600px;
    width: max-content;
    z-index: 9999;
    margin-top: -10px;
    background: colors.$primary;
    padding: 0;

  }

  &_text {
    font-size: 12px;
    padding: 10px;
    line-height: 20px;
    color: colors.$white;
    white-space: nowrap;
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &_link {
      &:hover {
        @include counterLinkHover;
        color: white;
      }
    }
  }
}
