@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/borders';

@mixin counterLinkHover {
  color: $topaz;
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
}

.monitoring-stats {
  flex-direction: column;
  flex-wrap: unset;
  justify-content: flex-start;
  border: 1px solid $frenchLilac;

  &.alerts-card {
    transition:
      background-color 0s,
      border-color 0s;
  }

  &.alerts-card_not-empty {
    background-color: $carouselPink;
    border: 1px solid $babyPink;
  }

  .stats {
    &__subtitle {
      display: inline-block;
      margin: 0;
      color: $topaz;
      font-weight: normal;
      font-size: 0.75rem;
    }

    &-card__row {
      flex: unset;

      &:last-child {
        padding: 10px 0;
      }
    }

    &__counter {
      color: $primary;
      font-weight: 400;
      font-size: 28px;

      &:hover {
        @include counterLinkHover;
      }
    }

    &__status {
      i[class^='state-'] {
        margin-left: 5px;
      }
    }

    &__link {
      cursor: pointer;

      &:hover {
        .stats__counter {
          @include counterLinkHover;
        }
      }
    }
  }

  .project-card__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1rem;
    color: $topaz;
    font-size: 0.75rem;

    & *:not(:last-child) {
      margin-right: 5px;
    }

    .stats__link {
      display: flex;
      align-items: center;
    }

    &-icon {
      flex: 0 1 12px;

      & * {
        fill: $spunPearl;
      }
    }

    .stats__subtitle {
      margin: 0 5px 0 0;
      font-size: inherit;
    }

    .stats__counter {
      position: relative;
      margin-right: 0.6em;
      padding-right: 0.75em;
      font-size: 1rem;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 1px;
        margin: 3px 0;
        background-color: $mulledWineThree;
        content: '';
      }
    }

    .project-card__info-icon {
      position: relative;
    }
  }

  .date-picker-container {
    margin-left: 15px;

    .input-wrapper .input.date-picker__input {
      padding: 10px;
    }
  }
}
