@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/variables';
@use 'igz-controls/scss/colors';

.code-block {
  width: 100%;
  height: 200px;
  padding: 18px 16px;
  overflow: auto;
  border: borders.$primaryBorder;
  border-radius: variables.$mainBorderRadius;

  &__label {
    margin-bottom: 5px;
    color: colors.$topaz;
  }

  &__content {
    pre {
      margin: 0;

      code {
        white-space: pre-wrap;
      }
    }
  }
}
