@import '../../scss/colors';
@import '../../scss/borders';

.job-panel__table {
  position: relative;
  width: 100%;
  border-bottom: $tableBorder;

  .table {
    &__header {
      color: $topaz;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }

    &__body {
      display: flex;
      align-items: flex-end;

      &-column {
        width: 100%;
      }
    }

    &__row-add-item {
      display: flex;
    }
  }

  &:not(.data-inputs) {
    .input-wrapper {
      &:first-child {
        padding-right: 7px;
      }
    }

    .select__header {
      padding: 10px;
    }
  }

  .input-row {
    &-wrapper {
      display: flex;
      width: 100%;
      margin: 0 -1px 0 -1px;
      border: $primaryBorder;

      .select {
        flex: 1;
        height: 54px;
        margin: 1px 0;
        padding: 0;
        border: none;

        &__label {
          padding: 0;
        }
      }
    }

    &__item {
      width: 100%;

      &::placeholder {
        font-style: italic;
      }
    }
  }

  .edit-row {
    .input {
      width: 100%;
      margin: -1px;
      padding: 10px;
      border: $primaryBorder;
      border-radius: 2px;
    }

    .table__cell {
      &_edit {
        min-width: 175px;
        padding: 10px 0;

        .select {
          width: 100%;
          margin: -1px;
          border-radius: 2px;

          &__value {
            min-width: unset;
          }

          &__label {
            padding-left: 0;
          }
        }
      }

      &-input {
        padding: 0;

        &:first-child {
          .input-wrapper {
            min-width: 204px;
            margin-right: 5px;

            .input {
              padding-left: 17px;

              &__label {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  &.data-inputs {
    .table__cell {
      &:first-child {
        max-width: 209px;
      }
    }

    .input-row-wrapper {
      .input-wrapper,
      .select {
        &:first-child {
          max-width: 209px;
        }
      }

      .input-row__item_edit {
        padding: 18px 10px;

        + .input__label {
          left: 10px;
        }

        &.active-input {
          padding: 27px 10px 9px;
        }
      }

      .select__header {
        padding: 17px;
      }
    }
  }

  &.parameters {
    .input-row-wrapper {
      .parameters-value-type {
        .select__label {
          text-transform: none;
        }
      }

      .parameter-value {
        padding: 18px 10px;

        + .input__label {
          left: 10px;
        }

        &.active-input {
          padding: 27px 10px 9px;
        }
      }
    }
  }

  .no-hover {
    .add-input {
      padding: 0;
    }

    &:hover {
      background-color: transparent;
    }
  }
}
