@import '../../scss/colors';
@import '../../scss/borders';

.job-panel__table {
  border-bottom: $tableBorder;
  width: 100%;
  position: relative;

  .table {
    &__header {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: $topaz;
    }
  }

  .select {
    border: none;

    &__value {
      min-width: unset;
    }
  }

  .input-row {
    &-wrapper {
      display: flex;
      flex-direction: row;
      border: $primaryBorder;
      width: 90%;
      min-height: 56px;
    }

    &__item {
      width: 100%;

      &::placeholder {
        font-style: italic;
      }
    }
  }

  &.data-inputs {
    &.volumes {
      .select {
        flex: 0.38;
        padding-left: 3px;
      }
    }

    .input-row-wrapper {
      .input-wrapper {
        &:first-child {
          flex: 0.4;
        }
      }
    }
  }

  &.parameters {
    .input-row-wrapper {
      width: 93%;

      .input {
        padding: 18px 17px;

        &.active-input {
          padding: 27px 17px 9px;
        }

        &__label {
          left: 17px;
        }
      }
    }

    .parameters-type {
      flex: 0.9;

      .select__label {
        text-transform: none;
      }
    }
  }

  .no-hover:hover {
    background-color: transparent;
  }

  .edit-row {
    padding: 7px 20px;
    position: relative;

    .input {
      border: $primaryBorder;
      border-radius: 2px;
      padding: 10px;
      width: 97%;
    }

    .apply-edit-btn {
      position: absolute;
      top: 15px;
      right: 5px;
    }

    .table__cell {
      display: flex;
      align-items: center;
    }

    .select {
      &__label {
        padding-left: 0;
      }
    }
  }
}
