@import '../../scss/colors';

.job-panel__table {
  border-bottom: 1px solid rgba(72, 63, 86, 0.12);
  width: 100%;
  position: relative;
  .table {
    &__header {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: $topaz;
    }
    &__row {
      display: flex;
      flex-direction: row;
      border-top: 1px solid rgba(72, 63, 86, 0.12);
      padding: 18px 20px;
      position: relative;
      &:hover {
        background-color: $alabaster;
      }
      &:hover .actions_cell {
        min-width: 36px;
        position: absolute;
        right: -8px;
        top: 15px;
        .table-actions-container {
          display: block;
          &__body {
            bottom: -102px;
            right: 22px;
          }
        }
      }
    }
    &__cell {
      min-width: 190px;
      color: $primary;
      margin-right: 5px;
      .tooltip {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
      }
    }
  }
  &.data-inputs {
    .input-wrapper {
      &:first-child {
        flex: 0.4;
      }
    }
    .select__value {
      min-width: unset;
    }
  }
  &.parameters {
    .input-row-wrapper {
      width: 93%;
    }
    .select__value {
      min-width: unset;
    }
  }
  .no-hover:hover {
    background-color: transparent;
  }
}

.input-row {
  &-wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 90%;
    min-height: 56px;
  }
  &__item {
    width: 100%;
    &::placeholder {
      font-style: italic;
    }
  }
}

.no-border {
  border-bottom: none;
}
