@import '../../scss/colors';
@import '../../scss/borders';
@import '../../scss/mixins';

.job-panel__table {
  @include jobsPanelTable;

  &:not(.data-inputs) {
    .input-wrapper {
      &:first-child {
        padding-right: 7px;
      }
    }

    .select__header {
      padding: 10px;
    }
  }

  &.volumes {
    .table__body {
      .select {
        height: 54px;
        margin-right: 0;

        &__value {
          min-width: unset;
        }
      }
    }
  }

  &.data-inputs,
  &.advanced {
    .table__cell {
      &:first-child {
        max-width: 220px;
      }
    }

    .input-row-wrapper {
      .input-wrapper,
      .select {
        &:first-child {
          max-width: 220px;
        }
      }

      .input-row__item_edit {
        padding: 18px 10px;

        + .input__label {
          left: 10px;
        }

        &.active-input {
          padding: 27px 10px 9px;
        }
      }

      .select__header {
        padding: 17px;
      }
    }
  }

  &.data-inputs {
    .path-type {
      &-store {
        color: $amethyst;
      }

      &-v3io {
        color: $cornflowerBlueTwo;
      }

      &-az,
      &-gs,
      &-http,
      &-https,
      &-s3 {
        color: $sorbus;
      }
    }
  }

  &.secrets {
    margin-bottom: 40px;
  }
}
