@import "../../scss/variables";
@import "../../scss/mixins";

.jobs {
  @include jobsFlex;
  box-shadow: $jobsShadow;
  border-radius: $mainBorderRadius;
  background-color: $white;
  margin: 52px 24px 24px;
  position: relative;
  &__header {
    display: flex;
    padding: 21px 24px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: $headerShadow;
  }
  &__menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: -38px;
    &__list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      align-items: flex-end;
      &_item {
        padding: 8px 24px;
        border-bottom: 3px solid transparent;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: $mainGreyColor;
        cursor: pointer;
      }
      .active {
        border-bottom: 3px solid $tableLink;
        color: $tableLink;
      }
    }
  }
  &__parameters {
    padding: 23px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__filters {
      display: flex;
      align-items: center;
    }
    &__select {
      border-radius: $mainBorderRadius;
      background-color: transparent;
      padding: 10px 50px 10px 69px;
      border: $tableFilterBorder;
      font-size: 15px;
      line-height: 18px;
      font-weight: normal;
      position: relative;
      appearance: none;
      &:active, &:focus {
        outline: none;
        box-shadow: none;
      }
      &_period {
        @include jobsFilter('Period:', 17px)
      }
      &_group {
        @include jobsFilter('Group by:', 20px)
      }
      &_status {
        @include jobsFilter('Show status:', 17px)
      }
    }
    .group {
      padding-left: 88px;
    }
    .status {
      padding-left: 107px;
    }
    &__button {
      &_search {
        border: $tableFilterBorder;
        border-radius: $mainBorderRadius;
        background-color: transparent;
        padding: 8px 13px;
        text-align: center;
      }
      &_refresh {
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:focus, &:active {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  &_download_status {
    width: 200px;
    height: 50px;
    background-color: $white;
    z-index: 1000;
    position: absolute;
    right: -250px;
    top: -45px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: all .8s ease-in-out;
    display: flex;
    &__success {
      right: -25px;
      color: green;
    }
    &__failed {
      color: red;
    }
  }
}
