@import '../../scss/shadows';
@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/borders';

.info-sources {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: -6px;
  padding: 0;

  &-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 25px;
    cursor: pointer;

    &_empty {
      padding: 18px 8px;
    }

    &__header {
      min-width: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }

    &__data {
      display: flex;
      padding-left: 16px;
    }

    svg {
      position: absolute;
      left: 0;
      cursor: pointer;

      &.collapsed {
        transform: rotate(0);
        transform-origin: center center;
        transition: transform 200ms linear;
      }

      &.expanded {
        transform: rotate(90deg);
        transform-origin: center center;
        transition: transform 200ms linear;
      }
    }
  }

  &-table {
    padding: 0 18px;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 18px;
      border-bottom: $secondaryBorder;

      &-item {
        text-transform: capitalize;

        @include detailsItem;
      }

      .name {
        min-width: 200px;
      }

      .path {
        min-width: 100px;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 56px;
      border-bottom: $secondaryBorder;

      &-value {
        word-break: break-word;
      }

      &:last-child {
        border: none;
      }

      &-key {
        width: 220px;
        min-width: 220px;
        padding-left: 18px;
      }
    }
  }

  &_expanded {
    box-shadow: $previewBoxShadow;
  }
}
