@use 'igz-controls/scss/shadows';
@use 'igz-controls/scss/colors';
@use 'igz-controls/scss/mixins';
@use 'igz-controls/scss/borders';

.info-sources {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;

  &__table {
    display: flex;
    flex-direction: column;

    &-header {
      margin: 10px 0;
      font-size: 16px;
    }

    &-row {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;
      padding: 10px 10px 10px 0;
      border-bottom: borders.$dividerBorder;
    }

    &-key {
      display: flex;
      width: 160px;
      min-width: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }

    &-value {
      display: inline-block;
      flex: 1 1;
      min-width: 110px;
      color: colors.$topaz;
      word-break: break-word;

      &__copy-to-clipboard {
        display: flex;
        align-items: center;
        min-width: 110px;
        white-space: normal;
        cursor: pointer;
      }
    }
  }
}
