@import '~igz-controls/scss/shadows';
@import '~igz-controls/scss/colors';
@import '~igz-controls/scss/mixins';
@import '~igz-controls/scss/borders';

.info-sources {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;

  &__table {
    display: flex;
    flex-direction: column;

    &-header {
      margin: 10px 0;
      font-size: 16px;
    }

    &-row {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;
      padding: 10px 10px 10px 0;
      border-bottom: $dividerBorder;
    }

    &-key {
      display: flex;
      width: 150px;
      min-width: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
    }

    &-value {
      display: flex;
      flex: 1 1;
      align-items: center;
      min-width: 110px;
      word-break: break-word;
      color: $topaz;
    }
  }
}
