@import '~igz-controls/scss/variables';
@import 'src/scss/mixins';

$featuresRowHeight: $rowHeightSmall;
$featuresHeaderRowHeight: $headerRowHeight;
$featuresRowHeightExtended: $rowHeightSmall;

.features-table {
  @include rowsHeight($featuresHeaderRowHeight, $featuresRowHeight, $featuresRowHeightExtended);
}

:export {
  featuresRowHeight: $featuresRowHeight;
  featuresHeaderRowHeight: $featuresHeaderRowHeight;
  featuresRowHeightExtended: $featuresRowHeightExtended;
}
