@use 'igz-controls/scss/variables';
@use '@/scss/mixins';

$featuresRowHeight: variables.$rowHeightSmall;
$featuresHeaderRowHeight: variables.$headerRowHeight;
$featuresRowHeightExtended: variables.$rowHeightSmall;

:root {
  --featuresRowHeight: #{$featuresRowHeight};
  --featuresHeaderRowHeight: #{$featuresHeaderRowHeight};
  --featuresRowHeightExtended: #{$featuresRowHeightExtended};
}

.features-table {
  @include mixins.rowsHeight(
    $featuresHeaderRowHeight,
    $featuresRowHeight,
    $featuresRowHeightExtended
  );
}
