@import '../../scss/colors.scss';

.schedule {
  &_container {
    margin: 0 40px;
  }

  &_tabs {
    display: flex;
    flex: 1;

    &_item {
      padding: 10px 24px;
      font-weight: bold;
      color: $topaz;
      cursor: pointer;

      &.active {
        color: $cornflowerBlue;
        border-bottom: 3px solid $cornflowerBlue;
      }
    }
  }
}
