@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/colors';

.prompt-template {
  .prompt-tab {
    &__header {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 10px;
      background-color: white;
    }

    &__table {
      &-header {
        font-weight: bold;
      }

      .tooltip-wrapper {
        display: inline;
      }
    }

    &__copy-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 135px;
      padding: 11px 18px;
      border: borders.$primaryBorder;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;

      &-wrapper {
        margin-left: 10px;
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .arguments-tab {
    &__header {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 10px;
    }

    &__row {
      display: flex;
      padding: 10px 0;
      font-size: 15px;
      line-height: 20px;
      border-bottom: borders.$secondaryBorder;

      &_selected {
        background-color: colors.$ghostWhite;
      }

      &-key {
        width: 150px;
        font-weight: bold;
        padding-right: 10px;
      }

      &-value {
        color: colors.$topaz;
      }
    }
  }

  .prompt-tab__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
  }

  .prompt-tab__row {
    display: flex;
    padding: 8px 0;
    border-bottom: borders.$dividerBorder;
  }

  .prompt-tab__role {
    flex: 0 0 100px;
    padding-right: 16px;
    font-weight: 500;
  }

  .prompt-tab__content {
    display: flex;
    flex: 1;
  }
}