@use 'igz-controls/scss/borders';
@use 'igz-controls/scss/colors';

.prompt-template {
  .prompt-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 6;
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 10px;
      background-color: white;
    }

    &__table {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 300px;
      margin-top: 8px;

      &-header {
        font-weight: bold;
      }

      .tooltip-wrapper {
        display: inline;
      }

      .loader-wrapper {
        min-height: 300px;
      }
    }

    &__row {
      display: flex;
      padding: 8px 0;
      border-bottom: borders.$dividerBorder;
    }

    &__role {
      flex: 0 0 100px;
      padding-right: 16px;
      font-weight: 500;
    }

    &__content {
      display: flex;
      flex: 1;
    }

    &__copy-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 135px;
      padding: 11px 18px;
      font-size: 14px;
      border: borders.$primaryBorder;
      border-radius: 4px;
      cursor: pointer;

      &-wrapper {
        margin-left: 10px;
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .arguments-tab {
    &__header {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 10px;
    }

    &__row {
      display: flex;
      padding: 10px 0;
      font-size: 15px;
      line-height: 20px;
      border-bottom: borders.$secondaryBorder;

      &_selected {
        background-color: colors.$ghostWhite;
      }

      &-key {
        width: 150px;
        padding-right: 10px;
        font-weight: bold;
      }

      &-value {
        color: colors.$topaz;
      }
    }
  }
}
