.schema {
  &__table {
    margin-bottom: 15px;

    .input-wrapper {
      flex: 1;

      &:first-child {
        max-width: 220px;
      }
    }

    .table {
      &__cell:first-child {
        max-width: 220px;
      }
    }
  }
}
