.schema {
  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-wrapper {
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    margin-bottom: 10px;
  }
}
