@import '~igz-controls/scss/colors';

.table-body__cell {
  .name-wrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;

    .item {
      &-name {
        &.function-name {
          max-width: 120px;
        }
      }

      &-tag {
        max-width: 150px;

        span {
          display: inline;
        }
      }
    }
  }

  .link-subtext {
    color: $topaz;
  }

  .date-uid-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    line-height: 18px;

    & > span {
      margin-right: 10px;
    }

    span {
      width: auto;
    }
  }

  .status {
    margin-right: 5px;
  }
}
