@import '~igz-controls/scss/colors';

.table {
  .table-body__cell {
    line-height: 20px;

    .name-wrapper {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      align-items: center;

      .item {
        &-name {
          color: $primary;
          font-weight: bold;

          &.function-name {
            max-width: 120px;
          }
        }

        &-tag {
          max-width: 150px;

          span {
            display: inline;
          }
        }
      }

      .link {
        display: flex;
        width: 100%;
        color: $primary;
      }
    }

    .link-subtext {
      color: $topaz;
    }

    .date-uid-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: normal;
      font-size: 12px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      margin-top: 5px;
      width: max-content;
      min-width: 100%;

      & > span {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      span {
        width: auto;
      }
    }
  }
}
